<footer class="bg-purple" aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="mx-auto max-w-8xl px-6 pb-8 pt-16 sm:pt-24 lg:px-8 lg:pt-15">
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">
      <div class="space-y-4">
        <img class="h-9" src="/img/site/PLUBEE-LOGO-E-NOME.png" alt="pluBee">
        <p class="text-sm leading-6 text-white made-tommy">Uma empresa focada na produtividade para pessoas que querem ter até 10x mais resultado nas redes sociais sem ter que passar horas e horas trabalhando nisso.</p>
      </div>
      <div class="mt-16 grid grid-cols-2 gap-8 xl:col-span-2 xl:mt-0">
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-lg font-semibold leading-6 text-white made-tommy">PLANOS</h3>
            <ul role="list" class="mt-6 space-y-4">
              <li>
                <a href="/checkout/payment/plano-basico" class="text-sm leading-6 text-white hover:text-white made-tommy">Plano básico</a>
              </li>
              <li>
                <a href="/checkout/payment/plano-pro" class="text-sm leading-6 text-white hover:text-white made-tommy">Plano pro</a>
              </li>
              <li>
                <a href="/checkout/payment/plano-avancado" class="text-sm leading-6 text-white hover:text-white made-tommy">Plano avançado</a>
              </li>
            </ul>
          </div>
          
          <div class="mt-10 md:mt-0">
            <h3 class="text-lg font-semibold leading-6 text-white made-tommy">LINKS RÁPIDOS</h3>
            <ul role="list" class="mt-6 space-y-4">
              <li>
                <a href="/#home" class="text-sm leading-6 text-white hover:text-white made-tommy">Home</a>
              </li>
              <li>
                <a href="/#platform" class="text-sm leading-6 text-white hover:text-white made-tommy">A Plataforma</a>
              </li>
              <li>
                <a href="/#about" class="text-sm leading-6 text-white hover:text-white made-tommy">Sobre nós</a>
              </li>
              <li>
                <a href="/#testimonials" class="text-sm leading-6 text-white hover:text-white made-tommy">Depoimentos</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-lg font-semibold leading-6 text-white made-tommy">CONTATOS</h3>
            <ul role="list" class="mt-6 space-y-4">
              <li>
                <a href="mailto:contato@plubee.net" class="text-sm leading-6 text-white hover:text-white made-tommy">contato@plubee.net</a>
              </li>
              <li>
                <a href="tel: +55 (88) 98923-0790" class="text-sm leading-6 text-white hover:text-white made-tommy">(81) 98923-0790</a>
              </li>
            </ul>
          </div>

          <div class="mt-10 md:mt-0">
            <h3 class="text-lg font-semibold leading-6 text-white made-tommy">REDES SOCIAIS</h3>
            <ul role="list" class="mt-6 space-y-4">
              <li>
                <a href="#" class="text-sm leading-6 text-white hover:text-white made-tommy"><i class="bi bi-facebook mr-2"></i>Facebook</a>
              </li>
              <li>
                <a href="#" class="text-sm leading-6 text-white hover:text-white made-tommy"><i class="bi bi-instagram mr-2"></i>Instagram</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-12 border-t border-gray-900/10 pt-8 sm:mt-20 lg:mt-24">
      <p class="text-sm leading-5 text-white made-tommy">&copy; 2023 pluBee. Todos os direitos reservados. <a href="/policy">Políticas de privacidade</a></p>
    </div>
  </div>
</footer>