<footer>
  <div>
    <img class="logo-footer" src="/img/site/PLUBEE-LOGO-E-NOME.png">
    <p class="p-1">Uma empresa focada na <br> produtividade para pessoas que <br> querem ter até 10x mais resultado <br> nas redes sociais sem ter que passar <br> horas e horas trabalhando nisso.</p>
  </div>

  <div>
    <h2>PLANOS</h2>
    <a class="a-footer" href="">Plano Básico</a>
    <a class="a-footer" href="">Plano PRO</a>
    <a class="a-footer" href="">Plano Avançado</a>
  </div>

  <div>
    <h2>LINKS RÁPIDOS</h2>
    <a class="a-footer" href="#home">Home</a>
    <a class="a-footer" href="#a-plataforma">A Plataforma</a>
    <a class="a-footer" href="#sobre">Sobre nós</a>
    <a class="a-footer" href="#depoimentos">Depoimentos</a>
  </div>

  <div>
    <h2>CONTATOS</h2>
    <a class="a-footer" href=""><i class="bi bi-envelope-fill"></i>contato@plubee.net</a>
    <a class="a-footer" href=""><i class="bi bi-telephone-fill"></i>(51) 99012-3456</a>
    <a class="a-footer" href=""><i class="bi bi-whatsapp"></i>(51) 99023-4567</a>
    <!-- <a class="a-footer" href=""><i class="bi bi-geo-alt-fill"></i></i>Endereço</a> -->
  </div>

  <div>
    <h2>REDES SOCIAIS</h2>
    <div class="social">
      <a class="a-footer" href=""><i class="bi bi-facebook"></i></a>
      <a class="a-footer" href=""><i class="bi bi-youtube"></i></a>
      <a class="a-footer" href=""><i class="bi bi-instagram"></i></a>
    </div>
  </div>
</footer>

<div class="rights">
  <p>PluBee © 2023. Todos os direitos reservados | <a href="/policy">Políticas de privacidade</a></p>
</div>