<!-- ! Footer -->
<footer class="footer">
  <div class="container footer--flex">
    <div class="footer-start">
      <p>2023 © Plataforma pluBee - <a style="font-weight: bold;" href="https://ayos.dev" target="_blank"
          rel="noopener noreferrer">Desenvolvido por ayos.dev</a></p>
    </div>
  </div>
</footer>
