<header class="bg-white">
  <nav class="mx-auto flex max-main items-center justify-between lg:px-2" aria-label="Global">
    <a href="#" class="ml-1.5 p-1.5">
      <span class="sr-only">pluBee.net</span>
      <img class="h-16 lg:h-20 w-auto" src="/img/site/nav.png" alt="">
    </a>
    <div class="flex ml:hidden">
      <button type="button" class="mr-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700 open-menu">
        <span class="sr-only">Open main menu</span>
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>
    </div>
    <div class="hidden ml:flex items-center lg:gap-x-10">
      <a href="/#home" class="text-lg leading-6 color-purple made-tommy">Home</a>
      <a href="/#platform" class="text-lg leading-6 color-purple made-tommy">A plataforma</a>
      <a href="/#about" class="text-lg leading-6 color-purple made-tommy">Sobre</a>
      <a href="/#testimonials" class="text-lg leading-6 color-purple made-tommy">Depoimentos</a>
      <a href="/#plans" class="text-lg leading-6 color-purple made-tommy">Planos</a>

      <div>
        <a href="/login" class="px-13 py-4 rounded-full border-purple made-tommy text-white font-semibold text-lg-a color-purple mr-2">Login</a>
        <a href="/#planos" class="px-7 py-4 rounded-full bg-purple border-purple made-tommy text-white font-semibold text-lg-a">Conferir planos</a>
      </div>
    </div>
  </nav>
  <!-- Mobile menu, show/hide based on menu open state. -->
  <div class="ml:hidden" role="dialog" aria-modal="true">
    <!-- Background backdrop, show/hide based on slide-over state. -->
    <div style="visibility: hidden;" class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10 menu">
      <div class="flex items-center justify-between">
        <a href="#" class="-m-1.5 p-1.5">
          <span class="sr-only">pluBee.net</span>
          <img class="h-16 w-auto" src="/img/site/nav.png" alt="">
        </a>
        <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700 close-menu">
          <span class="sr-only">Close menu</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="mt-6 ml-2 flow-root">
        <div class="-my-6 divide-y divide-gray-500/10">
          <div class="space-y-2 py-6">
            <a href="/#home" class="-mx-3 block rounded-lg px-3 py-2 text-base leading-7 color-purple made-tommy hover:bg-gray-50">Home</a>
            <a href="/#platform" class="-mx-3 block rounded-lg px-3 py-2 text-base leading-7 color-purple made-tommy hover:bg-gray-50">A plataforma</a>
            <a href="/#about" class="-mx-3 block rounded-lg px-3 py-2 text-base leading-7 color-purple made-tommy hover:bg-gray-50">Sobre</a>
            <a href="/#testimonials" class="-mx-3 block rounded-lg px-3 py-2 text-base leading-7 color-purple made-tommy hover:bg-gray-50">Depoimentos</a>
            <a href="/#plans" class="-mx-3 block rounded-lg px-3 py-2 text-base leading-7 color-purple made-tommy hover:bg-gray-50">Planos</a>
          </div>
        </div>
      </div>
      <div class="py-6 flex flex-col ml-2">
        <a style="width: 9.5rem" href="/login" class="px-13 py-3.5 rounded-full border-purple made-tommy text-white font-semibold text-lg-a color-purple mr-2">Login</a>
        <a style="width: 10.5rem" href="/#planos" class="px-7 py-3.5 rounded-full bg-purple border-purple made-tommy text-white font-semibold text-lg-a mt-2">Conferir planos</a>
      </div>
    </div>
  </div>
</header>

<script src="/js/site/index.js"></script>