<div class="sticky top-0 z-40 flex h-16 shrink-0 items-center gap-x-4 border-b border-gray-200 bg-white px-4 shadow-sm sm:gap-x-6 sm:px-6 lg:px-8">
  <div class="hidden relative z-10 fade-in" id="loading" role="dialog" aria-modal="true">
    <div class="fixed inset-0 bg-white bg-opacity-75 transition-opacity"></div>

    <div class="flex justify-center items-center fixed inset-0 z-10 overflow-y-auto">
      <div class="mx-auto max-w-xl transform divide-y divide-gray-200 transition-all">
        <div class="loader loader--style6">
          <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            width="50px" height="50px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
            <path opacity="0.4" fill="#239CFF" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
              s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
              c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"/>
            <path fill="#239CFF" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0 C22.32,8.481,24.301,9.057,26.013,10.047z">
              <animateTransform attributeType="xml"
                attributeName="transform"
                type="rotate"
                from="0 20 20"
                to="360 20 20"
                dur="0.5s"
                repeatCount="indefinite"/>
            </path>
          </svg>
        </div>
      </div>
    </div>
  </div>

  <button type="button" id="open-sidebar-mobile" class="-m-2.5 p-2.5 text-gray-700 lg:hidden">
    <span class="sr-only">Open sidebar</span>
    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
      <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
    </svg>
  </button>

  <div class="h-6 w-px bg-gray-900/10 lg:hidden" aria-hidden="true"></div>

  <div class="flex flex-1 gap-x-4 self-stretch lg:gap-x-6">
    <div class="relative flex items-center flex-1">
      <h2 class="inter font-semibold text-gray-700 text-lg"><%= title %></h2>
    </div>

    <div class="flex items-center gap-x-4 lg:gap-x-6">
      <a href="/">
        <span class="sr-only">Sair</span>
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_73_55)">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M11.8278 20.1776V21.3736C11.8278 22.3328 11.3498 23.1608 10.5191 23.6404C10.1194 23.8711 9.67338 23.9998 9.21091 24C8.74802 24.0003 8.3021 23.8713 7.90216 23.6404L2.58391 20.5699C1.75315 20.0903 1.27521 19.2624 1.27521 18.3031V2.61741C1.27521 1.17408 2.44933 0 3.89261 0H15.6053C17.0487 0 18.2229 1.17398 18.2229 2.61741V5.92392C18.2229 6.39825 17.8378 6.78338 17.3635 6.78338C16.889 6.78338 16.5042 6.3983 16.5042 5.92392V2.61741C16.5042 2.1218 16.1009 1.71853 15.6053 1.71853H5.34194L10.5191 4.70808C11.3495 5.18761 11.8278 6.01542 11.8278 6.97434V18.4589H15.6053C16.1009 18.4589 16.5042 18.0558 16.5042 17.5602V14.6616C16.5042 14.187 16.8888 13.8022 17.3635 13.8022C17.838 13.8022 18.2229 14.187 18.2229 14.6616V17.5602C18.2229 19.0036 17.0487 20.1776 15.6053 20.1776H11.8278ZM19.7911 10.948L18.8446 11.8945C18.509 12.2301 18.5091 12.7741 18.8446 13.1097C18.9244 13.1896 19.0191 13.2529 19.1234 13.296C19.2276 13.3392 19.3394 13.3613 19.4523 13.3612C19.5651 13.3614 19.677 13.3393 19.7813 13.2961C19.8856 13.253 19.9804 13.1896 20.0601 13.1097L22.4732 10.6962C22.8087 10.3607 22.8087 9.81694 22.4732 9.48141L20.0601 7.06828C19.7245 6.73266 19.1804 6.7328 18.8447 7.06823C18.5092 7.40348 18.5093 7.94775 18.8447 8.28309L19.7911 9.22931H13.4508C12.976 9.22931 12.5915 9.61406 12.5915 10.0888C12.5915 10.5636 12.976 10.9481 13.4508 10.9481H19.7911V10.948Z" fill="#818181"/>
          </g>
          <defs>
          <clipPath id="clip0_73_55">
          <rect width="24" height="24" fill="white"/>
          </clipPath>
          </defs>
        </svg>                                                                                        
      </a>
    </div>
  </div>
</div>

<script src="/js/app/nav.js"></script>
<script src="/js/alert-message/alert-message.js"></script>