  <div class="relative z-50 lg:hidden hidden fade-in" id="sidebar-mobile" role="dialog" aria-modal="true">
    <div class="fixed inset-0 flex">
      <div class="relative mr-16 flex w-full max-w-xs flex-1">
        <div class="flex grow flex-col gap-y-5 overflow-y-auto bg-blue px-6 pb-4">
          <div class="flex justify-between h-16 shrink-0 items-center mt-4">
            <img class="h-9 w-auto" src="/img/login/logo.png" alt="Logo Moreira Refrigeração">
            <button type="button" id="close-sidebar-mobile" class="-m-2.5 p-2.5">
              <span class="sr-only">Close sidebar</span>
              <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
          <nav class="flex flex-1 flex-col">
            <ul role="list" class="flex flex-1 flex-col gap-y-4">
              <li>
                <a href="/platform class="nunito bg-blue text-white group flex gap-x-3 rounded-md text-sm leading-6 font-semibold">
                  <svg class="h-6 w-6 shrink-0 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                  </svg>
                  Dashboard
                </a>
              </li>
              <li>
                <a href="/platformall-posts" class="nunito text-gray-600 hover:text-white hover:bg-blue group flex gap-x-3 rounded-md text-sm leading-6 font-semibold">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18.75 20.25H5.25C3.6 20.25 2.25 18.9 2.25 17.25V6.75C2.25 5.1 3.6 3.75 5.25 3.75H18.75C20.4 3.75 21.75 5.1 21.75 6.75V17.25C21.75 18.9 20.4 20.25 18.75 20.25Z" stroke="white" stroke-width="1.3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M10.5 8.25H6V12.75H10.5V8.25Z" stroke="white" stroke-width="1.3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M13.5 12.75H18" stroke="white" stroke-width="1.3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M6 15.75H18" stroke="white" stroke-width="1.3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>                                                                  
                  Publicações
                </a>
              </li>
              <li>
                <a href="/platformpost_facebook" class="nunito text-gray-600 hover:text-white hover:bg-blue group flex gap-x-3 rounded-md text-sm leading-6 font-semibold">
                  <svg width="20" height="20" class="ml-0.5 mr-0.5" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20 10.0611C20 4.50451 15.5228 0 10 0C4.47715 0 0 4.50451 0 10.0611C0 15.0829 3.65686 19.2452 8.43746 20V12.9694H5.89844V10.0611H8.43746V7.84453C8.43746 5.32295 9.93045 3.93012 12.2146 3.93012C13.3087 3.93012 14.4531 4.12663 14.4531 4.12663V6.60261H13.1922C11.9499 6.60261 11.5625 7.37815 11.5625 8.17381V10.0611H14.3359L13.8925 12.9694H11.5625V20C16.3432 19.2452 20 15.0829 20 10.0611Z" fill="white"/>
                  </svg>                      
                  Novo post no Facebook
                </a>
              </li>
              <li>
                <a href="/platformpost_instagram" class="nunito text-gray-600 hover:text-white hover:bg-blue group flex gap-x-3 rounded-md text-sm leading-6 font-semibold">
                  <svg width="19" height="19" class="ml-0.5 mr-0.5" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.573 3.287C14.3475 3.287 14.1271 3.35386 13.9396 3.47912C13.7522 3.60439 13.6061 3.78243 13.5198 3.99074C13.4335 4.19905 13.4109 4.42826 13.4549 4.6494C13.4989 4.87054 13.6075 5.07367 13.7669 5.2331C13.9263 5.39253 14.1295 5.50111 14.3506 5.5451C14.5717 5.58908 14.801 5.56651 15.0093 5.48022C15.2176 5.39394 15.3956 5.24782 15.5209 5.06035C15.6461 4.87288 15.713 4.65247 15.713 4.427C15.713 4.12465 15.5929 3.83469 15.3791 3.6209C15.1653 3.40711 14.8753 3.287 14.573 3.287ZM18.943 5.586C18.9245 4.79778 18.7769 4.01793 18.506 3.2775C18.2644 2.64398 17.8885 2.07031 17.404 1.596C16.9336 1.10905 16.3586 0.735468 15.7225 0.5035C14.984 0.224353 14.2033 0.0733495 13.414 0.0569999C12.407 -5.30854e-08 12.084 0 9.5 0C6.916 0 6.593 -5.30854e-08 5.586 0.0569999C4.79669 0.0733495 4.01598 0.224353 3.2775 0.5035C2.64259 0.737816 2.06809 1.11108 1.596 1.596C1.10905 2.06642 0.735468 2.64142 0.5035 3.2775C0.224353 4.01598 0.0733495 4.79669 0.0569999 5.586C-5.30854e-08 6.593 0 6.916 0 9.5C0 12.084 -5.30854e-08 12.407 0.0569999 13.414C0.0733495 14.2033 0.224353 14.984 0.5035 15.7225C0.735468 16.3586 1.10905 16.9336 1.596 17.404C2.06809 17.8889 2.64259 18.2622 3.2775 18.4965C4.01598 18.7756 4.79669 18.9267 5.586 18.943C6.593 19 6.916 19 9.5 19C12.084 19 12.407 19 13.414 18.943C14.2033 18.9267 14.984 18.7756 15.7225 18.4965C16.3586 18.2645 16.9336 17.8909 17.404 17.404C17.8906 16.9315 18.2669 16.3573 18.506 15.7225C18.7769 14.9821 18.9245 14.2022 18.943 13.414C18.943 12.407 19 12.084 19 9.5C19 6.916 19 6.593 18.943 5.586ZM17.233 13.3C17.2261 13.903 17.1169 14.5005 16.91 15.067C16.7583 15.4804 16.5147 15.854 16.1975 16.1595C15.8894 16.4735 15.5166 16.7166 15.105 16.872C14.5385 17.0789 13.941 17.1881 13.338 17.195C12.388 17.2425 12.0365 17.252 9.538 17.252C7.0395 17.252 6.688 17.252 5.738 17.195C5.11185 17.2067 4.48836 17.1103 3.895 16.91C3.50149 16.7467 3.14579 16.5041 2.85 16.1975C2.53468 15.8923 2.2941 15.5184 2.147 15.105C1.91506 14.5304 1.78642 13.9193 1.767 13.3C1.767 12.35 1.71 11.9985 1.71 9.5C1.71 7.0015 1.71 6.65 1.767 5.7C1.77126 5.0835 1.8838 4.47255 2.0995 3.895C2.26674 3.49402 2.52345 3.13658 2.85 2.85C3.13862 2.52336 3.49532 2.26394 3.895 2.09C4.47407 1.88104 5.0844 1.77183 5.7 1.767C6.65 1.767 7.0015 1.71 9.5 1.71C11.9985 1.71 12.35 1.71 13.3 1.767C13.903 1.77392 14.5005 1.88313 15.067 2.09C15.4987 2.25022 15.8862 2.5107 16.1975 2.85C16.5088 3.14182 16.7521 3.4986 16.91 3.895C17.1211 4.47349 17.2304 5.08419 17.233 5.7C17.2805 6.65 17.29 7.0015 17.29 9.5C17.29 11.9985 17.2805 12.35 17.233 13.3ZM9.5 4.6265C8.53652 4.62838 7.59521 4.9158 6.79502 5.45245C5.99483 5.98909 5.37166 6.75089 5.00425 7.64157C4.63684 8.53225 4.54169 9.51184 4.7308 10.4566C4.91992 11.4013 5.38482 12.2688 6.06677 12.9494C6.74872 13.6301 7.61711 14.0933 8.56222 14.2805C9.50732 14.4678 10.4867 14.3708 11.3767 14.0016C12.2667 13.6325 13.0272 13.0078 13.5623 12.2066C14.0974 11.4053 14.383 10.4635 14.383 9.5C14.3843 8.85885 14.2587 8.22378 14.0137 7.63131C13.7686 7.03884 13.4088 6.50067 12.955 6.04775C12.5012 5.59483 11.9624 5.23609 11.3694 4.99218C10.7765 4.74827 10.1411 4.62399 9.5 4.6265ZM9.5 12.6635C8.87432 12.6635 8.26269 12.478 7.74245 12.1304C7.22222 11.7827 6.81674 11.2887 6.57731 10.7106C6.33787 10.1326 6.27522 9.49649 6.39729 8.88283C6.51935 8.26917 6.82064 7.70549 7.26307 7.26307C7.70549 6.82064 8.26917 6.51935 8.88283 6.39729C9.49649 6.27522 10.1326 6.33787 10.7106 6.57731C11.2887 6.81674 11.7827 7.22222 12.1304 7.74245C12.478 8.26269 12.6635 8.87432 12.6635 9.5C12.6635 9.91544 12.5817 10.3268 12.4227 10.7106C12.2637 11.0944 12.0307 11.4432 11.7369 11.7369C11.4432 12.0307 11.0944 12.2637 10.7106 12.4227C10.3268 12.5817 9.91544 12.6635 9.5 12.6635Z" fill="white"/>
                  </svg>                                          
                  Novo post no Instagram
                </a>
              </li>
              <li>
                <a href="/platformaccounts" class="nunito text-gray-600 hover:text-white hover:bg-blue group flex gap-x-3 rounded-md text-sm leading-6 font-semibold">
                  <svg width="20" height="20" class="ml-0.5 mr-0.2" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_67_81)">
                    <path d="M20 9.99C20 4.475 15.52 0 10 0C4.48 0 0 4.475 0 9.99C0 13.0275 1.38 15.765 3.54 17.6025C3.56 17.6225 3.58 17.6225 3.58 17.6425C3.76 17.7825 3.94 17.9225 4.14 18.0625C4.24 18.1225 4.32 18.2012 4.42 18.2812C6.07258 19.4017 8.02339 20.0004 10.02 20C12.0166 20.0004 13.9674 19.4017 15.62 18.2812C15.72 18.2212 15.8 18.1425 15.9 18.0813C16.08 17.9425 16.28 17.8025 16.46 17.6625C16.48 17.6425 16.5 17.6425 16.5 17.6225C18.62 15.7637 20 13.0275 20 9.99ZM10 18.7413C8.12 18.7413 6.4 18.1412 4.98 17.1425C5 16.9825 5.04 16.8238 5.08 16.6638C5.19917 16.2301 5.37396 15.8138 5.6 15.425C5.82 15.045 6.08 14.705 6.4 14.405C6.7 14.105 7.06 13.8263 7.42 13.6063C7.8 13.3863 8.2 13.2262 8.64 13.1062C9.08342 12.9867 9.54075 12.9266 10 12.9275C11.3633 12.9178 12.6765 13.4408 13.66 14.385C14.12 14.845 14.48 15.385 14.74 16.0038C14.88 16.3638 14.98 16.7437 15.04 17.1425C13.564 18.1802 11.8043 18.7384 10 18.7413ZM6.94 9.49125C6.76378 9.08777 6.67516 8.6515 6.68 8.21125C6.68 7.7725 6.76 7.3325 6.94 6.9325C7.12 6.5325 7.36 6.17375 7.66 5.87375C7.96 5.57375 8.32 5.335 8.72 5.155C9.12 4.975 9.56 4.895 10 4.895C10.46 4.895 10.88 4.975 11.28 5.155C11.68 5.335 12.04 5.575 12.34 5.87375C12.64 6.17375 12.88 6.53375 13.06 6.9325C13.24 7.3325 13.32 7.7725 13.32 8.21125C13.32 8.67125 13.24 9.09125 13.06 9.49C12.8863 9.88408 12.6423 10.2433 12.34 10.55C12.0332 10.8519 11.674 11.0954 11.28 11.2688C10.4535 11.6084 9.52647 11.6084 8.7 11.2688C8.30601 11.0954 7.94684 10.8519 7.64 10.55C7.33727 10.2477 7.09912 9.88836 6.94 9.49125ZM16.22 16.1238C16.22 16.0838 16.2 16.0638 16.2 16.0238C16.0033 15.398 15.7134 14.8055 15.34 14.2663C14.9663 13.723 14.507 13.2438 13.98 12.8475C13.5775 12.5447 13.1413 12.2897 12.68 12.0875C12.8899 11.9491 13.0843 11.7886 13.26 11.6087C13.5582 11.3144 13.82 10.9854 14.04 10.6288C14.4829 9.90101 14.7117 9.06311 14.7 8.21125C14.7062 7.58064 14.5837 6.9554 14.34 6.37375C14.0994 5.8133 13.7531 5.30445 13.32 4.875C12.8876 4.45004 12.3786 4.11074 11.82 3.875C11.2374 3.63174 10.6113 3.50968 9.98 3.51625C9.34859 3.51007 8.72253 3.63256 8.14 3.87625C7.57657 4.11148 7.06639 4.45798 6.64 4.895C6.21505 5.32698 5.87574 5.83552 5.64 6.39375C5.39631 6.9754 5.27381 7.60064 5.28 8.23125C5.28 8.67125 5.34 9.09125 5.46 9.49C5.58 9.91 5.74 10.29 5.96 10.6488C6.16 11.0088 6.44 11.3288 6.74 11.6288C6.92 11.8088 7.12 11.9675 7.34 12.1075C6.87729 12.3151 6.4409 12.5769 6.04 12.8875C5.52 13.2875 5.06 13.7662 4.68 14.2862C4.30282 14.8233 4.0126 15.4164 3.82 16.0438C3.8 16.0838 3.8 16.1237 3.8 16.1437C2.22 14.545 1.24 12.3875 1.24 9.99C1.24 5.175 5.18 1.23875 10 1.23875C14.82 1.23875 18.76 5.175 18.76 9.99C18.7574 12.2899 17.8441 14.4953 16.22 16.1238Z" fill="white"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_67_81">
                    <rect width="20" height="20" fill="white"/>
                    </clipPath>
                    </defs>
                  </svg>                                                                              
                  Contas importadas
                </a>
              </li>
              <li>
                <a href="/platformgroups" class="nunito text-gray-600 hover:text-white hover:bg-blue group flex gap-x-3 rounded-md text-sm leading-6 font-semibold">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.25 13.5C19.3211 13.5 21 11.8211 21 9.75C21 7.67893 19.3211 6 17.25 6C15.1789 6 13.5 7.67893 13.5 9.75C13.5 11.8211 15.1789 13.5 17.25 13.5Z" stroke="white" stroke-width="1.4" stroke-miterlimit="10"/>
                    <path d="M12 18.75C12 15.8505 14.3505 13.5 17.25 13.5C20.1495 13.5 22.5 15.8505 22.5 18.75" stroke="white" stroke-width="1.4" stroke-miterlimit="10"/>
                    <path d="M6.75 13.5C8.82107 13.5 10.5 11.8211 10.5 9.75C10.5 7.67893 8.82107 6 6.75 6C4.67893 6 3 7.67893 3 9.75C3 11.8211 4.67893 13.5 6.75 13.5Z" stroke="white" stroke-width="1.4" stroke-miterlimit="10"/>
                    <path d="M1.5 18.75C1.5 15.8505 3.8505 13.5 6.75 13.5C9.6495 13.5 12 15.8505 12 18.75" stroke="white" stroke-width="1.4" stroke-miterlimit="10"/>
                  </svg>                                            
                  Grupos
                </a>
              </li>
              <li>
                <a href="/platformpages" class="nunito text-gray-600 hover:text-white hover:bg-blue group flex gap-x-3 rounded-md text-sm leading-6 font-semibold">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" class="ml-0.5" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.33203 12.5001C3.33203 12.5001 4.16536 11.6667 6.66536 11.6667C9.16536 11.6667 10.832 13.3334 13.332 13.3334C15.832 13.3334 16.6654 12.5001 16.6654 12.5001V2.50008C16.6654 2.50008 15.832 3.33341 13.332 3.33341C10.832 3.33341 9.16536 1.66675 6.66536 1.66675C4.16536 1.66675 3.33203 2.50008 3.33203 2.50008V12.5001Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M3.33203 18.3333V12.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>                                                                  
                  Páginas
                </a>
              </li>
              <li>
                <a href="/platformcomments-automatic" class="nunito text-gray-600 hover:text-white hover:bg-blue group flex gap-x-3 rounded-md text-sm leading-6 font-semibold">
                  <svg width="19" height="19" class="ml-0.5" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.6809 16.3318C18.2759 15.5342 18.6843 14.6131 18.8758 13.6365C19.0673 12.66 19.0371 11.6529 18.7874 10.6896C18.5376 9.72625 18.0748 8.8313 17.4331 8.07076C16.7913 7.31022 15.9869 6.70351 15.0793 6.29539C14.8817 5.15796 14.4273 4.08055 13.7509 3.14504C13.0744 2.20952 12.1936 1.44051 11.1754 0.896438C10.1572 0.352363 9.02845 0.0475389 7.87481 0.00512785C6.72116 -0.0372831 5.57303 0.183834 4.51765 0.651679C3.46226 1.11952 2.5274 1.82179 1.78408 2.70511C1.04077 3.58843 0.508558 4.62957 0.227898 5.74941C-0.0527629 6.86926 -0.074492 8.03835 0.164362 9.16785C0.403215 10.2974 0.896367 11.3576 1.60635 12.2679L0.28658 13.5782C0.154834 13.7118 0.0655874 13.8813 0.0301018 14.0655C-0.00538388 14.2497 0.0144816 14.4403 0.0871915 14.6132C0.158421 14.7866 0.279381 14.935 0.434829 15.0398C0.590277 15.1446 0.773255 15.201 0.960705 15.2019H6.36319C6.90121 16.3362 7.74946 17.2949 8.80974 17.9671C9.87003 18.6393 11.099 18.9974 12.3544 19H18.0512C18.2386 18.9991 18.4216 18.9427 18.5771 18.8379C18.7325 18.7331 18.8535 18.5847 18.9247 18.4113C18.9974 18.2384 19.0173 18.0478 18.9818 17.8636C18.9463 17.6794 18.8571 17.5098 18.7253 17.3763L17.6809 16.3318ZM5.70806 12.3533C5.70936 12.6713 5.73476 12.9887 5.78402 13.3029H3.24893L3.58125 12.98C3.67024 12.8918 3.74087 12.7867 3.78908 12.671C3.83728 12.5553 3.8621 12.4312 3.8621 12.3059C3.8621 12.1805 3.83728 12.0564 3.78908 11.9407C3.74087 11.825 3.67024 11.72 3.58125 11.6317C3.04912 11.1054 2.62726 10.4783 2.34034 9.787C2.05341 9.09573 1.90717 8.35419 1.91018 7.60573C1.91018 6.09476 2.51038 4.64567 3.57874 3.57725C4.6471 2.50883 6.09611 1.9086 7.607 1.9086C8.78595 1.90151 9.93747 2.26409 10.8997 2.94535C11.8619 3.62661 12.5865 4.59231 12.9715 5.70669C12.7626 5.70669 12.5632 5.70669 12.3544 5.70669C10.5916 5.70669 8.90114 6.40696 7.65472 7.65345C6.40829 8.89994 5.70806 10.5905 5.70806 12.3533ZM15.7155 17.101L15.763 17.1484H12.3544C11.2561 17.1465 10.1926 16.7638 9.34484 16.0656C8.4971 15.3674 7.91764 14.3969 7.70517 13.3193C7.4927 12.2418 7.66037 11.1239 8.1796 10.1562C8.69884 9.1884 9.53753 8.43059 10.5528 8.01184C11.568 7.5931 12.6971 7.53932 13.7475 7.85966C14.798 8.18001 15.7049 8.85466 16.3138 9.7687C16.9227 10.6827 17.1958 11.7796 17.0867 12.8724C16.9776 13.9653 16.493 14.9865 15.7155 15.7621C15.5366 15.9374 15.4342 16.1763 15.4306 16.4268C15.4312 16.5524 15.4566 16.6767 15.5055 16.7924C15.5544 16.9081 15.6258 17.013 15.7155 17.101Z" fill="white"/>
                  </svg>                                            
                  Bot de comentários
                </a>
              </li>
              <li>
                <a href="/platformnotifications" class="nunito text-gray-600 hover:text-white hover:bg-blue group flex gap-x-3 rounded-md text-sm leading-6 font-semibold">
                  <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.5 2.29688C7.26071 2.29688 4.92188 4.26562 4.92188 6.89062V10.8281L2.29688 15.4219H18.7031L16.0781 10.8281V6.89062C16.0781 4.26562 14.5477 2.29688 10.5 2.29688Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M7.54688 16.0781C7.54688 20.0156 13.4531 20.0156 13.4531 16.0781" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>                                                                                    
                  Notificações
                </a>
              </li>
              <li>
                <a href="/platformhelp" class="nunito text-gray-600 hover:text-white hover:bg-blue group flex gap-x-3 rounded-md text-sm leading-6 font-semibold">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2ZM12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4ZM12 16C12.5523 16 13 16.4477 13 17C13 17.5523 12.5523 18 12 18C11.4477 18 11 17.5523 11 17C11 16.4477 11.4477 16 12 16ZM12 6C14.2091 6 16 7.79086 16 10C16 11.7948 14.8179 13.3135 13.1898 13.8201L13 13.874V14C13 14.5523 12.5523 15 12 15C11.4872 15 11.0645 14.614 11.0067 14.1166L11 14V13C11 12.4872 11.386 12.0645 11.8834 12.0067L12.1493 11.9945C13.1841 11.9182 14 11.0544 14 10C14 8.89543 13.1046 8 12 8C10.8954 8 10 8.89543 10 10C10 10.5523 9.55228 11 9 11C8.44772 11 8 10.5523 8 10C8 7.79086 9.79086 6 12 6Z" fill="white"/>
                  </svg>                                            
                  Ajuda
                </a>
              </li>
              <% if (isAdmin) { %>
                <li>
                  <a href="/platformnew_user" class="nunito text-gray-600 hover:text-white hover:bg-blue group flex gap-x-3 rounded-md text-sm leading-6 font-semibold">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g clip-path="url(#clip0_127_59)">
                      <path d="M10 18.75C14.8325 18.75 18.75 14.8325 18.75 10C18.75 5.16751 14.8325 1.25 10 1.25C5.16751 1.25 1.25 5.16751 1.25 10C1.25 14.8325 5.16751 18.75 10 18.75Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M6.25 10H13.75" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M10 6.25V13.75" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      </g>
                      <defs>
                      <clipPath id="clip0_127_59">
                      <rect width="20" height="20" fill="white"/>
                      </clipPath>
                      </defs>
                    </svg>                                                                  
                    Adicionar usuário
                  </a>
                </li>
                <li>
                  <a href="/platformusers" class="nunito text-gray-600 hover:text-white hover:bg-blue group flex gap-x-3 rounded-md text-sm leading-6 font-semibold">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g clip-path="url(#clip0_129_87)">
                      <path d="M15.832 12.5C17.6729 12.5 19.1654 13.9924 19.1654 15.8333V17.5H17.4987M13.332 9.06167C14.7697 8.69158 15.832 7.38652 15.832 5.83332C15.832 4.28012 14.7697 2.97504 13.332 2.60501M10.832 5.83333C10.832 7.67428 9.33961 9.16667 7.4987 9.16667C5.65775 9.16667 4.16536 7.67428 4.16536 5.83333C4.16536 3.99238 5.65775 2.5 7.4987 2.5C9.33961 2.5 10.832 3.99238 10.832 5.83333ZM4.16536 12.5H10.832C12.6729 12.5 14.1654 13.9924 14.1654 15.8333V17.5H0.832031V15.8333C0.832031 13.9924 2.32441 12.5 4.16536 12.5Z" stroke="white" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
                      </g>
                      <defs>
                      <clipPath id="clip0_129_87">
                      <rect width="20" height="20" fill="white"/>
                      </clipPath>
                      </defs>
                    </svg>                                                                                                              
                    Usuários
                  </a>
                </li>
              <% } %>
              <li class="mt-auto">
                <a href="/platformconfig" class="nunito group -mx-2 flex gap-x-3 rounded-md p-2 text-sm font-semibold leading-6 text-gray-300 hover:bg-blue hover:text-white">
                  <svg class="h-6 w-6 shrink-0 text-gray-300 group-hover:text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9.594 3.94c.09-.542.56-.94 1.11-.94h2.593c.55 0 1.02.398 1.11.94l.213 1.281c.063.374.313.686.645.87.074.04.147.083.22.127.324.196.72.257 1.075.124l1.217-.456a1.125 1.125 0 011.37.49l1.296 2.247a1.125 1.125 0 01-.26 1.431l-1.003.827c-.293.24-.438.613-.431.992a6.759 6.759 0 010 .255c-.007.378.138.75.43.99l1.005.828c.424.35.534.954.26 1.43l-1.298 2.247a1.125 1.125 0 01-1.369.491l-1.217-.456c-.355-.133-.75-.072-1.076.124a6.57 6.57 0 01-.22.128c-.331.183-.581.495-.644.869l-.213 1.28c-.09.543-.56.941-1.11.941h-2.594c-.55 0-1.02-.398-1.11-.94l-.213-1.281c-.062-.374-.312-.686-.644-.87a6.52 6.52 0 01-.22-.127c-.325-.196-.72-.257-1.076-.124l-1.217.456a1.125 1.125 0 01-1.369-.49l-1.297-2.247a1.125 1.125 0 01.26-1.431l1.004-.827c.292-.24.437-.613.43-.992a6.932 6.932 0 010-.255c.007-.378-.138-.75-.43-.99l-1.004-.828a1.125 1.125 0 01-.26-1.43l1.297-2.247a1.125 1.125 0 011.37-.491l1.216.456c.356.133.751.072 1.076-.124.072-.044.146-.087.22-.128.332-.183.582-.495.644-.869l.214-1.281z" />
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                  </svg>
                  Configurações
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div class="hidden lg:fixed lg:inset-y-0 lg:z-50 lg:flex lg:w-70 lg:flex-col">
    <div class="flex grow h-full flex-col gap-y-5 overflow-y-auto bg-white shadow-xl px-6 pb-4">
      <div class="flex justify-between h-16 shrink-0 items-center mt-6">
        <img class="h-20 w-auto" src="/img/login/logo.png" alt="Logo Moreira Refrigeração">
        <button>
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_154_97)">
            <path d="M10.832 15.8333L5.83203 9.99996L10.832 4.16663" stroke="#0E1726" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
            <path opacity="0.5" d="M14.168 15.8333L9.16797 9.99996L14.168 4.16663" stroke="#0E1726" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
            <defs>
            <clipPath id="clip0_154_97">
            <rect width="20" height="20" fill="white"/>
            </clipPath>
            </defs>
          </svg>                        
        </button>
      </div>
      <nav class="flex flex-1 flex-col mt-2">
        <ul role="list" class="flex flex-1 flex-col gap-y-7">
          <li>
            <ul role="list" class="-mx-2 space-y-1">
              <li>
                <a href="/platform" class="nunito bg-blue text-white group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.5" d="M1.66797 10.1699C1.66797 8.26287 1.66797 7.30936 2.10064 6.51891C2.5333 5.72847 3.32376 5.23788 4.90466 4.25673L6.57133 3.22235C8.24246 2.1852 9.07805 1.66663 10.0013 1.66663C10.9246 1.66663 11.7601 2.1852 13.4313 3.22235L15.098 4.25673C16.6789 5.23788 17.4693 5.72847 17.902 6.51891C18.3346 7.30936 18.3346 8.26287 18.3346 10.1699V11.4375C18.3346 14.6881 18.3346 16.3135 17.3583 17.3234C16.3821 18.3333 14.8106 18.3333 11.668 18.3333H8.33464C5.19194 18.3333 3.62059 18.3333 2.64428 17.3234C1.66797 16.3135 1.66797 14.6881 1.66797 11.4375V10.1699Z" fill="#0E1726" fill-opacity="0.5"/>
                    <path d="M7.5 14.375C7.15483 14.375 6.875 14.6548 6.875 15C6.875 15.3452 7.15483 15.625 7.5 15.625H12.5C12.8452 15.625 13.125 15.3452 13.125 15C13.125 14.6548 12.8452 14.375 12.5 14.375H7.5Z" fill="#0E1726" fill-opacity="0.5"/>
                  </svg>                                       
                  Dashboard
                </a>
              </li>
              <li>
                <a href="" class="nunito text-gray-700 hover:text-white hover:bg-blue group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-bold">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.66836 18.7331L8.89761 18.3458C9.26495 17.7252 9.44861 17.4149 9.7412 17.2418C10.0339 17.0687 10.4154 17.0565 11.1788 17.0321C11.8945 17.0092 12.3756 16.9467 12.7869 16.7764C13.6529 16.4177 14.3409 15.7297 14.6995 14.8637C14.9686 14.2142 14.9686 13.3909 14.9686 11.7442V11.0373C14.9686 8.72358 14.9686 7.56671 14.4478 6.71686C14.1564 6.24131 13.7565 5.8415 13.281 5.55009C12.4312 5.0293 11.2743 5.0293 8.96053 5.0293H6.84006C4.52631 5.0293 3.36944 5.0293 2.51959 5.55009C2.04405 5.8415 1.64423 6.24131 1.35282 6.71686C0.832031 7.56671 0.832031 8.72358 0.832031 11.0373V11.7442C0.832031 13.3909 0.832031 14.2142 1.10105 14.8637C1.45975 15.7297 2.14775 16.4177 3.01371 16.7764C3.42501 16.9467 3.90605 17.0092 4.62178 17.0321C5.3851 17.0565 5.76676 17.0687 6.05935 17.2418C6.35195 17.4149 6.53562 17.7252 6.90298 18.3458L7.1322 18.7331C7.47371 19.3101 8.32686 19.3101 8.66836 18.7331ZM10.9927 12.0976C11.4806 12.0976 11.8762 11.702 11.8762 11.214C11.8762 10.7261 11.4806 10.3305 10.9927 10.3305C10.5047 10.3305 10.1091 10.7261 10.1091 11.214C10.1091 11.702 10.5047 12.0976 10.9927 12.0976ZM8.78386 11.214C8.78386 11.702 8.38828 12.0976 7.90031 12.0976C7.41234 12.0976 7.01677 11.702 7.01677 11.214C7.01677 10.7261 7.41234 10.3305 7.90031 10.3305C8.38828 10.3305 8.78386 10.7261 8.78386 11.214ZM4.80793 12.0976C5.2959 12.0976 5.69147 11.702 5.69147 11.214C5.69147 10.7261 5.2959 10.3305 4.80793 10.3305C4.31997 10.3305 3.9244 10.7261 3.9244 11.214C3.9244 11.702 4.31997 12.0976 4.80793 12.0976Z" fill="#0E1726" fill-opacity="0.5"/>
                    <path opacity="0.5" d="M12.9053 0.833374C13.9611 0.833367 14.8006 0.833362 15.4739 0.897382C16.1642 0.963024 16.748 1.10062 17.268 1.41927C17.803 1.74711 18.2527 2.1969 18.5806 2.73188C18.8992 3.25187 19.0368 3.83558 19.1025 4.52597C19.1665 5.19927 19.1665 6.03886 19.1665 7.09457V7.81562C19.1665 8.56696 19.1665 9.16462 19.1334 9.64921C19.0996 10.145 19.029 10.5707 18.8638 10.9694C18.4603 11.9436 17.6863 12.7176 16.7121 13.1211C16.6877 13.1312 16.6632 13.141 16.6387 13.1504C16.5211 13.1953 16.4202 13.2339 16.3318 13.2625H14.9567C14.9702 12.8467 14.9702 12.3515 14.9702 11.7442V11.0374C14.9702 8.72362 14.9702 7.56676 14.4494 6.7169C14.158 6.24136 13.7582 5.84154 13.2827 5.55013C12.4328 5.02934 11.2759 5.02934 8.96216 5.02934H6.84169C6.02052 5.02934 5.34507 5.02934 4.77734 5.05262V3.67729C4.8046 3.58282 4.84195 3.47455 4.88579 3.34746C4.96034 3.1313 5.05457 2.92687 5.17406 2.73188C5.50189 2.1969 5.95169 1.74711 6.48667 1.41927C7.00665 1.10062 7.59037 0.963024 8.28075 0.897382C8.95408 0.833362 9.79358 0.833367 10.8493 0.833374H12.9053Z" fill="#0E1726" fill-opacity="0.5"/>
                  </svg>                                                                                      
                  Chamados
                </a>
              </li>
              <li>
                <a href="" class="nunito text-gray-700 hover:text-white hover:bg-blue group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-bold">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20 4.16663C20 5.54733 18.8807 6.66663 17.5 6.66663C16.1192 6.66663 15 5.54733 15 4.16663C15 2.78592 16.1192 1.66663 17.5 1.66663C18.8807 1.66663 20 2.78592 20 4.16663Z" fill="#0E1726" fill-opacity="0.5"/>
                    <path d="M14.3614 6.21995L13.0809 7.28703C12.2257 7.99971 11.6319 8.49291 11.1307 8.81533C10.6454 9.12741 10.3163 9.23216 10 9.23216C9.68367 9.23216 9.35467 9.12741 8.86942 8.81533C8.36809 8.49291 7.77435 7.99971 6.91913 7.28703L4.94015 5.63788C4.64845 5.39481 4.21494 5.43421 3.97186 5.72591C3.72879 6.0176 3.7682 6.45111 4.05989 6.69418L6.07335 8.37208C6.88584 9.04916 7.54437 9.598 8.1256 9.97175C8.73109 10.3612 9.32067 10.6072 10 10.6072C10.6793 10.6072 11.269 10.3612 11.8744 9.97175C12.4557 9.598 13.1142 9.04916 13.9267 8.37208L15.3153 7.21496C14.9393 6.94511 14.6155 6.60748 14.3614 6.21995Z" fill="#0E1726" fill-opacity="0.5"/>
                    <path d="M15.3789 5.48933C15.6142 5.44711 15.8651 5.52906 16.0291 5.72591C16.1645 5.88845 16.2122 6.09503 16.1775 6.28816C15.8544 6.0862 15.5807 5.81249 15.3789 5.48933Z" fill="#0E1726" fill-opacity="0.5"/>
                    <path opacity="0.5" d="M14.13 2.51749C13.462 2.5 12.7018 2.5 11.832 2.5H8.16536C4.7084 2.5 2.97991 2.5 1.90597 3.59835C0.832031 4.6967 0.832031 6.46447 0.832031 10C0.832031 13.5355 0.832031 15.3033 1.90597 16.4017C2.97991 17.5 4.7084 17.5 8.16536 17.5H11.832C15.289 17.5 17.0174 17.5 18.0914 16.4017C19.1654 15.3033 19.1654 13.5355 19.1654 10C19.1654 9.1105 19.1654 8.33294 19.1483 7.64975C18.6504 7.89952 18.0906 8.03977 17.4987 8.03977C15.4276 8.03977 13.7487 6.32268 13.7487 4.20454C13.7487 3.5992 13.8859 3.02661 14.13 2.51749Z" fill="#0E1726" fill-opacity="0.5"/>
                  </svg>                                          
                  Orçamentos
                </a>
              </li>
              <li>
                <a href="" class="nunito text-gray-700 hover:text-white hover:bg-blue group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-bold">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.5" d="M2.5 8.33329C2.5 5.19059 2.5 3.61925 3.47631 2.64293C4.45262 1.66663 6.02397 1.66663 9.16667 1.66663H10.8333C13.976 1.66663 15.5474 1.66663 16.5237 2.64293C17.5 3.61925 17.5 5.19059 17.5 8.33329V11.6666C17.5 14.8093 17.5 16.3807 16.5237 17.357C15.5474 18.3333 13.976 18.3333 10.8333 18.3333H9.16667C6.02397 18.3333 4.45262 18.3333 3.47631 17.357C2.5 16.3807 2.5 14.8093 2.5 11.6666V8.33329Z" fill="#0E1726" fill-opacity="0.5"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.0013 4.375C10.3465 4.375 10.6263 4.65483 10.6263 5V6.04167H11.668C12.0131 6.04167 12.293 6.32149 12.293 6.66667C12.293 7.01184 12.0131 7.29167 11.668 7.29167H10.6263V8.33333C10.6263 8.6785 10.3465 8.95833 10.0013 8.95833C9.65614 8.95833 9.3763 8.6785 9.3763 8.33333V7.29167H8.33461C7.98943 7.29167 7.70961 7.01184 7.70961 6.66667C7.70961 6.32149 7.98943 6.04167 8.33461 6.04167H9.3763V5C9.3763 4.65483 9.65614 4.375 10.0013 4.375ZM6.04297 11.6667C6.04297 11.3215 6.32279 11.0417 6.66797 11.0417H13.3346C13.6798 11.0417 13.9596 11.3215 13.9596 11.6667C13.9596 12.0118 13.6798 12.2917 13.3346 12.2917H6.66797C6.32279 12.2917 6.04297 12.0118 6.04297 11.6667ZM6.8763 15C6.8763 14.6548 7.15613 14.375 7.5013 14.375H12.5013C12.8465 14.375 13.1263 14.6548 13.1263 15C13.1263 15.3452 12.8465 15.625 12.5013 15.625H7.5013C7.15613 15.625 6.8763 15.3452 6.8763 15Z" fill="#0E1726" fill-opacity="0.5"/>
                  </svg>                                                              
                  Empresas
                </a>
              </li>
              <li>
                <a href="" class="nunito text-gray-700 hover:text-white hover:bg-blue group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-bold">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.5" d="M2.5 8.33329C2.5 5.19059 2.5 3.61925 3.47631 2.64293C4.45262 1.66663 6.02397 1.66663 9.16667 1.66663H10.8333C13.976 1.66663 15.5474 1.66663 16.5237 2.64293C17.5 3.61925 17.5 5.19059 17.5 8.33329V11.6666C17.5 14.8093 17.5 16.3807 16.5237 17.357C15.5474 18.3333 13.976 18.3333 10.8333 18.3333H9.16667C6.02397 18.3333 4.45262 18.3333 3.47631 17.357C2.5 16.3807 2.5 14.8093 2.5 11.6666V8.33329Z" fill="#0E1726" fill-opacity="0.5"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M6.04297 10C6.04297 9.65483 6.32279 9.375 6.66797 9.375H13.3346C13.6798 9.375 13.9596 9.65483 13.9596 10C13.9596 10.3452 13.6798 10.625 13.3346 10.625H6.66797C6.32279 10.625 6.04297 10.3452 6.04297 10Z" fill="#0E1726" fill-opacity="0.5"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M6.04297 6.66663C6.04297 6.32145 6.32279 6.04163 6.66797 6.04163H13.3346C13.6798 6.04163 13.9596 6.32145 13.9596 6.66663C13.9596 7.0118 13.6798 7.29163 13.3346 7.29163H6.66797C6.32279 7.29163 6.04297 7.0118 6.04297 6.66663Z" fill="#0E1726" fill-opacity="0.5"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M6.04297 13.3334C6.04297 12.9882 6.32279 12.7084 6.66797 12.7084H10.8346C11.1798 12.7084 11.4596 12.9882 11.4596 13.3334C11.4596 13.6785 11.1798 13.9584 10.8346 13.9584H6.66797C6.32279 13.9584 6.04297 13.6785 6.04297 13.3334Z" fill="#0E1726" fill-opacity="0.5"/>
                  </svg>                                                                                                  
                  Relatórios
                </a>
              </li>
              <li>
                <a href="" class="nunito text-gray-700 hover:text-white hover:bg-blue group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-bold">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.5" d="M17.5 13.332V8.33192C17.5 5.9749 17.5 4.79639 16.7677 4.06416C16.1274 3.42384 15.1458 3.34347 13.3333 3.33337H6.66667C4.85414 3.34347 3.87255 3.42384 3.23223 4.06416C2.5 4.79639 2.5 5.9749 2.5 8.33192V13.332C2.5 15.689 2.5 16.8675 3.23223 17.5997C3.96447 18.332 5.14297 18.332 7.5 18.332H12.5C14.857 18.332 16.0355 18.332 16.7677 17.5997C17.5 16.8675 17.5 15.689 17.5 13.332Z" fill="#0E1726" fill-opacity="0.5"/>
                    <path d="M6.66797 2.91663C6.66797 2.22627 7.22761 1.66663 7.91797 1.66663H12.0846C12.775 1.66663 13.3346 2.22627 13.3346 2.91663V3.74996C13.3346 4.44032 12.775 4.99996 12.0846 4.99996H7.91797C7.22761 4.99996 6.66797 4.44032 6.66797 3.74996V2.91663Z" fill="#0E1726" fill-opacity="0.5"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10 7.70837C10.3452 7.70837 10.625 7.9882 10.625 8.33337V10.2084H12.5C12.8452 10.2084 13.125 10.4882 13.125 10.8334C13.125 11.1785 12.8452 11.4584 12.5 11.4584H10.625V13.3334C10.625 13.6785 10.3452 13.9584 10 13.9584C9.65483 13.9584 9.375 13.6785 9.375 13.3334V11.4584H7.5C7.15483 11.4584 6.875 11.1785 6.875 10.8334C6.875 10.4882 7.15483 10.2084 7.5 10.2084H9.375V8.33337C9.375 7.9882 9.65483 7.70837 10 7.70837Z" fill="#0E1726" fill-opacity="0.5"/>
                  </svg>                                                                
                  Equipamentos
                </a>
              </li>
              <li>
                <a href="" class="nunito text-gray-700 hover:text-white hover:bg-blue group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-bold">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.5" d="M16.4317 16.9687C17.6205 16.3205 18.3346 15.4895 18.3346 14.5834C18.3346 13.623 17.5323 12.7468 16.2127 12.0834C14.6868 11.3162 12.4694 10.8334 10.0013 10.8334C7.53324 10.8334 5.31579 11.3162 3.78989 12.0834C2.47034 12.7468 1.66797 13.623 1.66797 14.5834C1.66797 15.5438 2.47034 16.42 3.78989 17.0834C5.31579 17.8505 7.53324 18.3334 10.0013 18.3334C12.5901 18.3334 14.9032 17.8021 16.4317 16.9687Z" fill="#0E1726" fill-opacity="0.5"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4.16797 7.09549C4.16797 4.09721 6.77964 1.66663 10.0013 1.66663C13.223 1.66663 15.8346 4.09721 15.8346 7.09549C15.8346 10.0703 13.9728 13.5415 11.0681 14.783C10.3909 15.0723 9.61172 15.0723 8.93455 14.783C6.02977 13.5415 4.16797 10.0703 4.16797 7.09549ZM10.0013 9.16663C10.9218 9.16663 11.668 8.42046 11.668 7.49996C11.668 6.57948 10.9218 5.83329 10.0013 5.83329C9.0808 5.83329 8.33464 6.57948 8.33464 7.49996C8.33464 8.42046 9.0808 9.16663 10.0013 9.16663Z" fill="#0E1726" fill-opacity="0.5"/>
                  </svg>                                                                                      
                  Fornecedores
                </a>
              </li>
              <li>
                <a href="" class="nunito text-gray-700 hover:text-white hover:bg-blue group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-bold">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.5" fill-rule="evenodd" clip-rule="evenodd" d="M18.3346 9.99996C18.3346 14.6023 14.6036 18.3333 10.0013 18.3333C5.39893 18.3333 1.66797 14.6023 1.66797 9.99996C1.66797 5.39758 5.39893 1.66663 10.0013 1.66663C14.6036 1.66663 18.3346 5.39758 18.3346 9.99996Z" fill="#0E1726" fill-opacity="0.5"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10 4.375C10.3452 4.375 10.625 4.65483 10.625 5V5.26394C11.9837 5.50722 13.125 6.52801 13.125 7.91667C13.125 8.26184 12.8452 8.54167 12.5 8.54167C12.1548 8.54167 11.875 8.26184 11.875 7.91667C11.875 7.35128 11.4049 6.75282 10.625 6.53957V9.43058C11.9837 9.67392 13.125 10.6947 13.125 12.0833C13.125 13.472 11.9837 14.4927 10.625 14.7361V15C10.625 15.3452 10.3452 15.625 10 15.625C9.65483 15.625 9.375 15.3452 9.375 15V14.7361C8.01631 14.4927 6.875 13.472 6.875 12.0833C6.875 11.7382 7.15483 11.4583 7.5 11.4583C7.84517 11.4583 8.125 11.7382 8.125 12.0833C8.125 12.6487 8.59508 13.2472 9.375 13.4604V10.5694C8.01631 10.3261 6.875 9.30533 6.875 7.91667C6.875 6.52801 8.01631 5.50722 9.375 5.26394V5C9.375 4.65483 9.65483 4.375 10 4.375ZM9.375 6.53957C8.59508 6.75282 8.125 7.35128 8.125 7.91667C8.125 8.48208 8.59508 9.0805 9.375 9.29375V6.53957ZM11.875 12.0833C11.875 11.5179 11.4049 10.9195 10.625 10.7062V13.4604C11.4049 13.2472 11.875 12.6487 11.875 12.0833Z" fill="#0E1726" fill-opacity="0.5"/>
                  </svg>                                                                
                  Gastos
                </a>
              </li>
              <div class="bg-gray-100 py-1.5 px-2">
                <p class="nunito font-bold">CRIAR</p>
              </div>
              <li>
                <a href="" class="nunito text-gray-700 hover:text-white hover:bg-blue group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-bold">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.01988 17.1817C8.48289 17.9495 9.21439 18.3334 10.0013 18.3334V10L2.19965 5.89392C2.18816 5.91239 2.17689 5.93102 2.1658 5.94985C1.66797 6.79526 1.66797 7.84728 1.66797 9.9513V10.0488C1.66797 12.1528 1.66797 13.2049 2.1658 14.0503C2.66363 14.8957 3.56016 15.3662 5.35321 16.3071L7.01988 17.1817Z" fill="#0E1726" fill-opacity="0.5"/>
                    <path opacity="0.7" d="M14.649 3.69289L12.9823 2.81827C11.5193 2.05051 10.7878 1.66663 10.0009 1.66663C9.21397 1.66663 8.48247 2.05051 7.01944 2.81827L5.35278 3.69289C3.59964 4.61289 2.70356 5.08314 2.19922 5.89383L10.0009 9.99996L17.8026 5.89383C17.2981 5.08314 16.4021 4.61289 14.649 3.69289Z" fill="#0E1726" fill-opacity="0.5"/>
                    <path opacity="0.5" d="M17.8355 5.94985C17.8244 5.93102 17.8132 5.91239 17.8017 5.89392L10 10V18.3334C10.7869 18.3334 11.5184 17.9495 12.9814 17.1817L14.6481 16.3071C16.4412 15.3662 17.3377 14.8957 17.8355 14.0503C18.3333 13.2049 18.3333 12.1528 18.3333 10.0488V9.9513C18.3333 7.84728 18.3333 6.79526 17.8355 5.94985Z" fill="#0E1726" fill-opacity="0.5"/>
                  </svg>                                                                                                        
                  Novo técnico
                </a>
              </li>
              <li>
                <a href="" class="nunito text-gray-700 hover:text-white hover:bg-blue group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-bold">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.27509 4.8094L4.72331 8.26193C3.6527 9.71046 3.1174 10.4347 3.41236 11.0041C3.41724 11.0136 3.42228 11.023 3.42745 11.0322C3.73991 11.593 4.66443 11.593 6.51349 11.593C7.54102 11.593 8.05478 11.593 8.37703 11.8961L8.3937 11.9121L11.6204 8.10384L11.6037 8.0878C11.2882 7.77818 11.2882 7.28455 11.2882 6.29731V6.03923C11.2882 3.30204 11.2882 1.93344 10.5188 1.69764C9.74928 1.46184 8.92453 2.57769 7.27509 4.8094Z" fill="#0E1726" fill-opacity="0.5"/>
                    <path opacity="0.5" d="M8.70995 13.7027V13.9607C8.70995 16.6979 8.70995 18.0665 9.47937 18.3023C10.2489 18.5381 11.0736 17.4223 12.7231 15.1905L15.2749 11.738C16.3455 10.2895 16.8808 9.56529 16.5859 8.99579C16.5809 8.98637 16.5759 8.97704 16.5708 8.96779C16.2583 8.40696 15.3338 8.40696 13.4847 8.40696C12.4572 8.40696 11.9434 8.40696 11.6212 8.10388L8.39453 11.9122C8.71003 12.2218 8.70995 12.7155 8.70995 13.7027Z" fill="#0E1726" fill-opacity="0.5"/>
                  </svg>                                                                
                  Nova empresa
                </a>
              </li>
              <li>
                <a href="" class="nunito text-gray-700 hover:text-white hover:bg-blue group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-bold">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.5" d="M5.18638 3.83417C5.55685 3.58662 5.94584 3.37192 6.34889 3.19142C7.49212 2.67945 8.06373 2.42346 8.82422 2.91612C9.58464 3.4088 9.58464 4.21697 9.58464 5.8333V7.0833C9.58464 8.65462 9.58464 9.44029 10.0728 9.92846C10.561 10.4166 11.3466 10.4166 12.918 10.4166H14.168C15.7843 10.4166 16.5925 10.4166 17.0851 11.177C17.5778 11.9375 17.3218 12.5091 16.8098 13.6524C16.6293 14.0555 16.4146 14.4445 16.1671 14.8149C15.2972 16.1168 14.0608 17.1315 12.6142 17.7307C11.1676 18.3299 9.57589 18.4866 8.04018 18.1812C6.5045 17.8757 5.09388 17.1217 3.98671 16.0145C2.87955 14.9074 2.12555 13.4968 1.82009 11.9611C1.51462 10.4254 1.6714 8.83362 2.2706 7.38705C2.86979 5.94047 3.88449 4.70406 5.18638 3.83417Z" fill="#0E1726" fill-opacity="0.5"/>
                    <path d="M17.873 5.89088C17.1965 4.17363 15.8277 2.80487 14.1105 2.12836C12.8259 1.62228 11.668 2.78601 11.668 4.16672V7.50006C11.668 7.96029 12.0411 8.33337 12.5013 8.33337H15.8346C17.2154 8.33337 18.3791 7.1755 17.873 5.89088Z" fill="#0E1726" fill-opacity="0.5"/>
                  </svg>                                                                
                  Novo orçamento
                </a>
              </li>
              <li>
                <a href="" class="nunito text-gray-700 hover:text-white hover:bg-blue group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-bold">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.5" d="M10.832 12.8333C10.832 11.1048 10.832 10.2405 11.3812 9.70363C11.9304 9.16663 12.8143 9.16663 14.582 9.16663C16.3498 9.16663 17.2337 9.16663 17.7829 9.70363C18.332 10.2405 18.332 11.1048 18.332 12.8333V14.6666C18.332 16.3951 18.332 17.2594 17.7829 17.7963C17.2337 18.3333 16.3498 18.3333 14.582 18.3333C12.8143 18.3333 11.9304 18.3333 11.3812 17.7963C10.832 17.2594 10.832 16.3951 10.832 14.6666V12.8333Z" fill="#0E1726" fill-opacity="0.5"/>
                    <path d="M1.66797 7.16663C1.66797 8.89513 1.66797 9.75938 2.21714 10.2963C2.76632 10.8333 3.6502 10.8333 5.41797 10.8333C7.18574 10.8333 8.06962 10.8333 8.6188 10.2963C9.16797 9.75938 9.16797 8.89513 9.16797 7.16663V5.33329C9.16797 3.60481 9.16797 2.74057 8.6188 2.2036C8.06962 1.66663 7.18574 1.66663 5.41797 1.66663C3.6502 1.66663 2.76632 1.66663 2.21714 2.2036C1.66797 2.74057 1.66797 3.60481 1.66797 5.33329V7.16663Z" fill="#0E1726" fill-opacity="0.5"/>
                    <path d="M10.832 4.58329C10.832 3.67729 10.832 3.22429 10.9748 2.86697C11.165 2.39052 11.53 2.01198 11.9895 1.81463C12.334 1.66663 12.7709 1.66663 13.6445 1.66663H15.5195C16.3932 1.66663 16.83 1.66663 17.1745 1.81463C17.634 2.01198 17.999 2.39052 18.1893 2.86697C18.332 3.22429 18.332 3.67729 18.332 4.58329C18.332 5.48929 18.332 5.94229 18.1893 6.29962C17.999 6.77607 17.634 7.1546 17.1745 7.35195C16.83 7.49996 16.3932 7.49996 15.5195 7.49996H13.6445C12.7709 7.49996 12.334 7.49996 11.9895 7.35195C11.53 7.1546 11.165 6.77607 10.9748 6.29962C10.832 5.94229 10.832 5.48929 10.832 4.58329Z" fill="#0E1726" fill-opacity="0.5"/>
                    <path opacity="0.5" d="M1.66797 15.4167C1.66797 16.3227 1.66797 16.7757 1.81069 17.133C2.00099 17.6094 2.36601 17.988 2.82544 18.1853C3.17001 18.3333 3.60683 18.3333 4.48047 18.3333H6.35547C7.22911 18.3333 7.66593 18.3333 8.0105 18.1853C8.46997 17.988 8.83497 17.6094 9.02522 17.133C9.16797 16.7757 9.16797 16.3227 9.16797 15.4167C9.16797 14.5107 9.16797 14.0577 9.02522 13.7003C8.83497 13.2239 8.46997 12.8453 8.0105 12.648C7.66593 12.5 7.22911 12.5 6.35547 12.5H4.48047C3.60683 12.5 3.17001 12.5 2.82544 12.648C2.36601 12.8453 2.00099 13.2239 1.81069 13.7003C1.66797 14.0577 1.66797 14.5107 1.66797 15.4167Z" fill="#0E1726" fill-opacity="0.5"/>
                  </svg>                                                                
                  Novo usuário
                </a>
              </li>
              <li>
                <a href="" class="nunito text-gray-700 hover:text-white hover:bg-blue group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-bold">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.5" d="M1.66797 9.99996C1.66797 5.39758 5.39893 1.66663 10.0013 1.66663C14.6036 1.66663 18.3346 5.39758 18.3346 9.99996C18.3346 14.6023 14.6036 18.3333 10.0013 18.3333C5.39893 18.3333 1.66797 14.6023 1.66797 9.99996Z" fill="#0E1726" fill-opacity="0.5"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10 5.625C7.58375 5.625 5.625 7.58375 5.625 10C5.625 12.4162 7.58375 14.375 10 14.375C10.3452 14.375 10.625 14.6548 10.625 15C10.625 15.3452 10.3452 15.625 10 15.625C6.8934 15.625 4.375 13.1066 4.375 10C4.375 6.8934 6.8934 4.375 10 4.375C13.1066 4.375 15.625 6.8934 15.625 10C15.625 10.6752 15.5058 11.3241 15.2866 11.9257C15.1758 12.2297 14.9879 12.4777 14.7795 12.67L14.7123 12.7319C14.0376 13.3543 13.0245 13.4342 12.2606 12.9249C11.9526 12.7196 11.7131 12.4361 11.5612 12.1104C11.1249 12.4338 10.5847 12.625 10 12.625C8.55025 12.625 7.375 11.4497 7.375 10C7.375 8.55025 8.55025 7.375 10 7.375C11.4497 7.375 12.625 8.55025 12.625 10V11.2701C12.625 11.5172 12.7484 11.7478 12.954 11.8848C13.2377 12.074 13.6141 12.0444 13.8647 11.8132L13.9319 11.7512C14.0246 11.6657 14.0826 11.5787 14.1121 11.4978C14.282 11.0313 14.375 10.5272 14.375 10C14.375 7.58375 12.4162 5.625 10 5.625ZM10 8.625C10.7594 8.625 11.375 9.24058 11.375 10C11.375 10.7594 10.7594 11.375 10 11.375C9.24058 11.375 8.625 10.7594 8.625 10C8.625 9.24058 9.24058 8.625 10 8.625Z" fill="#0E1726" fill-opacity="0.5"/>
                  </svg>                                                                
                  Novo fornecedor
                </a>
              </li>
            </ul>
          </li>
          <li class="mt-auto">
            <a href="" class="nunito group -mx-2 flex gap-x-3 rounded-md p-2 text-sm font-bold leading-6 text-gray-700 hover:bg-blue hover:text-white">
              <svg class="h-6 w-6 shrink-0 text-gray-700 group-hover:text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9.594 3.94c.09-.542.56-.94 1.11-.94h2.593c.55 0 1.02.398 1.11.94l.213 1.281c.063.374.313.686.645.87.074.04.147.083.22.127.324.196.72.257 1.075.124l1.217-.456a1.125 1.125 0 011.37.49l1.296 2.247a1.125 1.125 0 01-.26 1.431l-1.003.827c-.293.24-.438.613-.431.992a6.759 6.759 0 010 .255c-.007.378.138.75.43.99l1.005.828c.424.35.534.954.26 1.43l-1.298 2.247a1.125 1.125 0 01-1.369.491l-1.217-.456c-.355-.133-.75-.072-1.076.124a6.57 6.57 0 01-.22.128c-.331.183-.581.495-.644.869l-.213 1.28c-.09.543-.56.941-1.11.941h-2.594c-.55 0-1.02-.398-1.11-.94l-.213-1.281c-.062-.374-.312-.686-.644-.87a6.52 6.52 0 01-.22-.127c-.325-.196-.72-.257-1.076-.124l-1.217.456a1.125 1.125 0 01-1.369-.49l-1.297-2.247a1.125 1.125 0 01.26-1.431l1.004-.827c.292-.24.437-.613.43-.992a6.932 6.932 0 010-.255c.007-.378-.138-.75-.43-.99l-1.004-.828a1.125 1.125 0 01-.26-1.43l1.297-2.247a1.125 1.125 0 011.37-.491l1.216.456c.356.133.751.072 1.076-.124.072-.044.146-.087.22-.128.332-.183.582-.495.644-.869l.214-1.281z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
              </svg>
              Configurações
            </a>
          </li>
        </ul>
      </nav>
    </div>
</div>