<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Rocket Sell">
    <meta name="generator" content="Disparos">
    <title>pluBee Login</title>
    <link rel="shortcut icon" href="/img/site/plubee-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.8.12/tailwind-experimental.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/main/style.css">
  </head>

<body>
  <%- include('../partials/nav-site') %>

  <div id="login" class="flex min-h-full items-center justify-center px-4 py-20 sm:px-6 lg:px-8">
    <div class="w-full max-w-sm space-y-10">
      <div>
        <img class="mx-auto h-24 w-auto" src="/img/site/nav.png" alt="plubee">
        <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900 made-tommy">Realize o login na sua conta</h2>
      </div>
      <div class="space-y-6">
        <div class="relative -space-y-px rounded-md shadow-sm">
          <div class="pointer-events-none absolute inset-0 z-10 rounded-md ring-1 ring-inset ring-gray-300"></div>
          <div>
            <label for="email-address" class="sr-only">Endereço de email</label>
            <input id="inputEmail" name="email" type="email" autocomplete="email" required class="relative block w-full rounded-t-lg border py-2 text-gray-900 ring-1 ring-inset ring-gray-100 placeholder:text-gray-400 focus:z-10 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 pl-2 made-tommy" placeholder="Endereço de email">
          </div>
          <div>
            <label for="password" class="sr-only">Senha</label>
            <input id="inputPassword" name="password" type="password" autocomplete="current-password" required class="relative block w-full rounded-b-lg border py-2 text-gray-900 ring-1 ring-inset ring-gray-100 placeholder:text-gray-400 focus:z-10 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 pl-2 made-tommy" placeholder="Sua senha">
          </div>
        </div>
  
        <div class="flex items-center justify-between">
          <div class="flex items-center">
            <input id="remember-me" name="remember-me" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
            <label for="remember-me" class="ml-3 block text-sm leading-6 text-gray-900">Lembre-me</label>
          </div>
  
          <div class="text-sm leading-6">
            <a href="#" class="font-semibold color-purple">Esqueceu a senha?</a>
          </div>
        </div>
  
        <div>
          <button type="submit" class="flex w-full justify-center rounded-lg px-3 py-2.5 text-sm font-semibold leading-6 text-white bg-purple made-tommy btn-login">Entrar</button>
        </div>
      </div>
  
      <p class="text-center text-sm leading-6 text-gray-500">
        Não é um membro?
        <a href="#" class="font-semibold color-purple">Adquira um plano e obtenha 7 dias de garantia!</a>
      </p>
    </div>
  </div>

  <%- include('../partials/footer-site') %>
</body>
</html>

<script>
var _0xc86b=["\x68\x61\x73\x68","\x6C\x6F\x63\x61\x74\x69\x6F\x6E","\x23\x5F\x3D\x5F","","\x68\x72\x65\x66","\x2F\x70\x6C\x61\x74\x66\x6F\x72\x6D\x2F\x61\x63\x63\x6F\x75\x6E\x74\x73","\x2E\x62\x74\x6E\x2D\x6C\x6F\x67\x69\x6E","\x71\x75\x65\x72\x79\x53\x65\x6C\x65\x63\x74\x6F\x72","\x63\x6C\x69\x63\x6B","\x76\x61\x6C\x75\x65","\x23\x69\x6E\x70\x75\x74\x45\x6D\x61\x69\x6C","\x23\x69\x6E\x70\x75\x74\x50\x61\x73\x73\x77\x6F\x72\x64","\x6C\x65\x6E\x67\x74\x68","\x73\x74\x79\x6C\x65","\x62\x6F\x72\x64\x65\x72\x3A\x20\x32\x70\x78\x20\x73\x6F\x6C\x69\x64\x20\x72\x65\x64\x3B","\x6C\x6F\x67","\x63\x61\x74\x63\x68","\x61\x75\x74\x68","\x72\x65\x6C\x6F\x61\x64","\x2E\x61\x6C\x65\x72\x74","\x64\x69\x73\x70\x6C\x61\x79","\x66\x6C\x65\x78","\x69\x6E\x6E\x65\x72\x48\x54\x4D\x4C","\x70","\x63\x72\x65\x61\x74\x65\x45\x6C\x65\x6D\x65\x6E\x74","\x69\x6D\x67","\x73\x72\x63","\x2F\x69\x6D\x67\x2F\x61\x64\x6D\x69\x6E\x2F\x42\x75\x6C\x6B\x2F\x65\x72\x72\x6F\x72\x2E\x70\x6E\x67","\x6D\x65\x73\x73\x61\x67\x65\x2D\x6E\x6F\x74\x69\x66\x79","\x61\x64\x64","\x63\x6C\x61\x73\x73\x4C\x69\x73\x74","\x69\x6E\x6E\x65\x72\x54\x65\x78\x74","\x55\x73\x75\xE1\x72\x69\x6F\x20\x6E\xE3\x6F\x20\x65\x78\x69\x73\x74\x65\x6E\x74\x65","\x61\x70\x70\x65\x6E\x64\x43\x68\x69\x6C\x64","\x61\x6E\x69\x6D\x61\x74\x69\x6F\x6E\x3A\x20\x73\x6C\x69\x64\x65\x6F\x66\x66\x20\x32\x73\x3B","\x64\x69\x73\x70\x6C\x61\x79\x3A\x20\x6E\x6F\x6E\x65","\x74\x68\x65\x6E","\x6F\x6B","\x6A\x73\x6F\x6E","\x45\x72\x72\x6F\x20\x61\x6F\x20\x70\x72\x6F\x63\x65\x73\x73\x61\x72\x20\x61\x20\x72\x65\x73\x70\x6F\x73\x74\x61\x20\x64\x61\x20\x72\x65\x71\x75\x69\x73\x69\xE7\xE3\x6F","\x2F\x6C\x6F\x67\x69\x6E\x2F\x61\x75\x74\x68","\x50\x4F\x53\x54","\x61\x70\x70\x6C\x69\x63\x61\x74\x69\x6F\x6E\x2F\x6A\x73\x6F\x6E","\x73\x74\x72\x69\x6E\x67\x69\x66\x79","\x61\x64\x64\x45\x76\x65\x6E\x74\x4C\x69\x73\x74\x65\x6E\x65\x72"];if(window[_0xc86b[1]][_0xc86b[0]]&& window[_0xc86b[1]][_0xc86b[0]]=== _0xc86b[2]){window[_0xc86b[1]][_0xc86b[0]]= _0xc86b[3];location[_0xc86b[4]]= _0xc86b[5]};const btn=document[_0xc86b[7]](_0xc86b[6]);btn[_0xc86b[44]](_0xc86b[8],function(){const _0x8ffax2=document[_0xc86b[7]](_0xc86b[10])[_0xc86b[9]];const _0x8ffax3=document[_0xc86b[7]](_0xc86b[11])[_0xc86b[9]];if(_0x8ffax2[_0xc86b[12]]== 0){_0x8ffax2[_0xc86b[13]]= _0xc86b[14]};if(_0x8ffax3[_0xc86b[12]]== 0){_0x8ffax3[_0xc86b[13]]= _0xc86b[14]};fetch(_0xc86b[40],{method:_0xc86b[41],headers:{'\x43\x6F\x6E\x74\x65\x6E\x74\x2D\x54\x79\x70\x65':_0xc86b[42]},body:JSON[_0xc86b[43]]({email:_0x8ffax2,password:_0x8ffax3})})[_0xc86b[36]]((_0x8ffax9)=>{if(_0x8ffax9[_0xc86b[37]]){return _0x8ffax9[_0xc86b[38]]()};throw  new Error(_0xc86b[39])})[_0xc86b[36]]((_0x8ffax5)=>{if(_0x8ffax5[_0xc86b[17]]){location[_0xc86b[18]]()}else {const _0x8ffax6=document[_0xc86b[7]](_0xc86b[19]);_0x8ffax6[_0xc86b[13]][_0xc86b[20]]= _0xc86b[21];_0x8ffax6[_0xc86b[22]]= _0xc86b[3];const _0x8ffax7=document[_0xc86b[24]](_0xc86b[23]);const _0x8ffax8=document[_0xc86b[24]](_0xc86b[25]);_0x8ffax8[_0xc86b[26]]= _0xc86b[27];_0x8ffax7[_0xc86b[30]][_0xc86b[29]](_0xc86b[28]);_0x8ffax7[_0xc86b[31]]= _0xc86b[32];_0x8ffax6[_0xc86b[33]](_0x8ffax8);_0x8ffax6[_0xc86b[33]](_0x8ffax7);setTimeout(()=>{_0x8ffax6[_0xc86b[13]]= _0xc86b[34];setTimeout(()=>{_0x8ffax6[_0xc86b[13]]= _0xc86b[35]},800)},2000)}})[_0xc86b[16]]((_0x8ffax4)=>{console[_0xc86b[15]](_0x8ffax4)})})
</script>
