<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Moreira Refrigeração - Help Técnico">
    <meta name="author" content="Moreira Refrigeração">
    <meta name="generator" content="Moreira Refrigeração">
    <title>Help Técnico - Moreira Refrigeração</title>
    <link rel="shortcut icon" href="/img/login/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/platform/style.css">
    <link rel="stylesheet" href="/css/platform/notify.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.8.12/tailwind-experimental.min.css">
  </head>

<body style="height: 100vh;">
  <div class="alert mt-14" style="display: none;"><div style="display: flex;" class="alert-text"></div></div>
  <div class="error mt-14" style="display: none;"><div style="display: flex;" class="error-text"></div></div>

  <div class="flex h-full">
    <div class="flex flex-1 flex-col justify-center px-4 py-12 sm:px-6 lg:flex-none lg:px-20 xl:px-60">
      <div class="mx-auto w-full max-w-sm lg:w-96">
        <div>
          <img class="h-28 w-auto" src="/img/login/logo.png" alt="Logo Moreira Refrigeração">
          <h2 class="mt-8 text-2xl font-extrabold text-blue leading-9 tracking-tight nunito">Entre na sua conta:</h2>
        </div>

        <div class="mt-10">
          <div class="space-y-6">
            <div>
              <label for="email" class="block nunito text-sm font-medium leading-6 text-gray-900">Seu email</label>
              <div class="mt-2">
                <input id="email" name="email" type="email" autocomplete="email" required class="block w-full nunito login-input rounded-lg py-1.5 px-2 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
              </div>
            </div>

            <div>
              <label for="password" class="block nunito text-sm font-medium leading-6 text-gray-900">Sua senha</label>
              <div class="mt-2">
                <input id="password" name="password" type="password" autocomplete="current-password" required class="block w-full nunito login-input rounded-lg py-1.5 px-2 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
              </div>
            </div>

            <div class="flex items-center justify-between">
              <div class="flex items-center">
                <input id="remember-me" name="remember-me" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
                <label for="remember-me" class="ml-3 block text-sm leading-6 text-gray-700 nunito">Lembrar de mim</label>
              </div>

              <div class="text-sm leading-6">
                <a href="#" class="font-bold text-blue nunito">Esqueceu a senha?</a>
              </div>
            </div>

            <div>
              <button id="btn-login" class="flex w-full justify-center bg-blue rounded-md px-3 py-2 text-sm font-semibold leading-6 text-white shadow-sm nunito">Entrar</button>
            </div>
          </div>

          <div class="mt-10">
            <div class="flex flex-col items-center justify-center">
              <span class="bg-white px-6 text-md text-gray-500 nunito font-extrabold">Precisa de suporte?</span>
              <span class="bg-white px-6 text-sm text-gray-500 nunito font-bold">Ligue: 51 99542-0261</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="relative hidden w-0 flex-1 lg:block">
      <img class="absolute inset-0 h-full w-full object-cover" src="/img/login/photo.jpg" alt="">
    </div>
  </div>
</div>

<script>
function alert_message(type, content) {
    if (type == 'error') {
      const divMessage = document.querySelector(".error");
      divMessage.style.display = "flex";
      divMessage.innerHTML = "";
      const message = document.createElement("p");
      const img = document.createElement("img");
      img.width = "28"
      img.height = "28"
      img.src = "/img/platform/notify-error.png"
      message.classList.add("message-notify");
      message.innerText = content;
      divMessage.appendChild(img);
      divMessage.appendChild(message);

      setTimeout(() => {
        divMessage.style = "animation: slideoff 2s;"
        setTimeout(() => {
          divMessage.style = "display: none"
        }, 800)
      }, 2000);
    } else if (type == "success") {
      const divMessage = document.querySelector(".alert");
      divMessage.style.display = "flex";
      divMessage.innerHTML = "";
      const message = document.createElement("p");
      const img = document.createElement("img");
      img.width = "28"
      img.height = "28"
      img.src = "/img/platform/notify-success.png"
      message.classList.add("message-notify");
      message.innerText = content;
      divMessage.appendChild(img);
      divMessage.appendChild(message);

      setTimeout(() => {
        divMessage.style = "animation: slideoff 2s;"
        setTimeout(() => {
          divMessage.style = "display: none"
        }, 800)
      }, 2000);
    }
  }

  const btn = document.querySelector('#btn-login')

  btn.addEventListener("click", function() {
    login()
  })

  function login() {
    const email = document.querySelector("#email").value;
    const password = document.querySelector("#password").value;

    if (email.length == 0) { 
      email.style = "border: 2px solid red;"
    }

    if (password.length == 0) {
      password.style = "border: 2px solid red;"
    }

    fetch("/login/auth", {
      method: "POST",
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({ email: email, password: password })
    })
    .then((response) => {
      if (response.ok) {
        return response.json();
      }
      throw new Error("Erro ao processar a resposta da requisição");
    })
    .then((data) => {
      if (data.auth) {
        window.location.href = "https://helptecnico-b760a39fe14b.herokuapp.com/platform/"
      } else {
        alert_message("error", "Nenhum usuário no sistema")
      }
    })
    .catch((error) => {
      console.log(error)
    })
  }
</script>