<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Help Técnico | Novo administrador</title>
  <link rel="shortcut icon" href="/img/login/icon.png" type="image/x-icon">
  <!-- Custom styles -->
  <link rel="stylesheet" href="/css/platform/style.css">
  <link rel="stylesheet" href="/css/platform/notify.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.8.12/tailwind-experimental.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>

<body>
  <%- include('../partials/sidebar-platform', {isAdmin: isAdmin}) %>

  <div class="lg:pl-70">
    <%- include('../partials/nav-platform', {isAdmin: isAdmin, title: "Adicionar novo usuário", notifications: notifications, photo: photo, name_user: name_user}) %>

    <main class="py-8 px-12 fade-in">
      <div class="alert mt-10" style="display: none;"><div style="display: flex;" class="alert-text"></div></div>
      <div class="error" style="display: none;"><div style="display: flex;" class="error-text"></div></div>

      <div class="grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-4 gap-x-6">
        <div class="bg-white rounded-xl shadow p-4 px-5 col-span-3">
          <div class="flex space-x-2 items-center border-b pb-3">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.1075 17.0775C10.1075 15.8313 10.5229 14.4006 11.169 13.2929C11.9536 11.9083 12.8305 11.3544 13.5229 10.339C14.6767 8.63133 14.9075 6.18518 14.169 4.33902C13.4305 2.44672 11.6767 1.33902 9.64593 1.38518C7.61516 1.43133 5.95362 2.67749 5.30747 4.56979C4.56901 6.64672 4.89208 9.13902 6.55362 10.7083C7.24593 11.3544 7.89208 12.3698 7.52285 13.339C7.19977 14.2621 6.09208 14.6775 5.30747 15.0467C3.50747 15.8313 1.33824 16.939 0.969005 19.0621C0.599775 20.816 1.79977 22.616 3.69208 22.616H11.5382C11.9075 22.616 12.1382 22.1544 11.9075 21.8775C10.7536 20.539 10.1075 18.8313 10.1075 17.0775Z" fill="black"/>
              <path d="M17.4916 11.5391C14.4454 11.5391 11.9531 14.0314 11.9531 17.0775C11.9531 20.1237 14.4454 22.616 17.4916 22.616C20.5377 22.616 23.03 20.1237 23.03 17.0775C23.03 14.0314 20.5377 11.5391 17.4916 11.5391ZM20.307 17.5391C20.307 17.816 20.0762 18.0006 19.7993 18.0006H18.4608V19.3852C18.4608 19.6622 18.23 19.8468 17.9531 19.8468H17.03C16.7531 19.8468 16.6147 19.6622 16.6147 19.3852V18.0006H15.1839C14.907 18.0006 14.7685 17.816 14.7685 17.5391V16.616C14.7685 16.3391 14.907 16.1545 15.1839 16.1545H16.6147V14.7698C16.6147 14.4929 16.7531 14.3083 17.03 14.3083H17.9531C18.23 14.3083 18.4608 14.4929 18.4608 14.7698V16.1545H19.7993C20.0762 16.1545 20.307 16.3391 20.307 16.616V17.5391Z" fill="black"/>
            </svg>                                        
            <h2 class="text-xl inter font-bold">Adicionar novo <span class="text-blue">administrador</span></h2>
          </div>

          <div class="col-span-full flex items-center gap-x-6 mt-6">
            <svg width="67" height="67" viewBox="0 0 67 67" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="33.5" cy="33.5" r="33.5" fill="#239CFF"/>
              <path d="M34.4707 17L38.831 29.9868H52.9413L41.5258 38.0131L45.8862 51L34.4707 42.9737L23.0552 51L27.4155 38.0131L16 29.9868H30.1103L34.4707 17Z" fill="white"/>
            </svg>                              
                                      
            <div class="items-center">
              <label style="cursor: pointer;" for="picture" class="rounded-md px-3 py-2 text-sm font-semibold border-blue color-blue shadow-sm inter">Inserir foto</label>
              <p class="mt-4 text-xs leading-5 text-gray-600 inter">JPG, GIF or PNG. 1MB max.</p>
              <input type="file" id="picture" class="hidden" name="picture">
            </div>
          </div>

          <div class="grid grid-cols-2 mt-12 gap-x-4">
            <div>
              <label for="name" class="block text-md font-medium leading-6 text-gray-900 inter font-semibold">Nome</label>
              <div class="relative mt-2 rounded-md shadow-sm">
                <input type="text" name="name" id="name" class="block w-full rounded-lg inter py-1.5 mt-2 pl-2 text-gray-900 ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6 border-blue" placeholder="Insira o nome">
              </div>
            </div>

            <div>
              <label for="name" class="block text-md font-medium leading-6 text-gray-900 inter font-semibold">CPF</label>
              <div class="relative mt-2 rounded-md shadow-sm">
                <input type="text" name="name" id="name" class="block w-full rounded-lg inter py-1.5 mt-2 pl-2 text-gray-900 ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6 border-blue" placeholder="Insira o nome">
              </div>
            </div>
          </div>

          <div class="grid grid-cols-2 mt-12 gap-x-4">
            <div>
              <label for="name" class="block text-md font-medium leading-6 text-gray-900 inter font-semibold">Email</label>
              <div class="relative mt-2 rounded-md shadow-sm">
                <input type="text" name="name" id="name" class="block w-full rounded-lg inter py-1.5 mt-2 pl-2 text-gray-900 ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6 border-blue" placeholder="Insira o nome">
              </div>
            </div>

            <div>
              <label for="name" class="block text-md font-medium leading-6 text-gray-900 inter font-semibold">Senha</label>
              <div class="relative mt-2 rounded-md shadow-sm">
                <input type="text" name="name" id="name" class="block w-full rounded-lg inter py-1.5 mt-2 pl-2 text-gray-900 ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6 border-blue" placeholder="Insira o nome">
              </div>
            </div>
          </div>

          <div class="grid grid-cols-2 mt-12 gap-x-4">
            <div>
              <label for="name" class="block text-md font-medium leading-6 text-gray-900 inter font-semibold">Telefone</label>
              <div class="relative mt-2 rounded-md shadow-sm">
                <input type="text" name="name" id="name" class="block w-full rounded-lg inter py-1.5 mt-2 pl-2 text-gray-900 ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6 border-blue" placeholder="Insira o nome">
              </div>
            </div>
          </div>
        </div>

        <div class="bg-white rounded-xl shadow p-4 px-5 col-span-1">
          <div class="space-y-4">
            <button type="button" onclick="newUser()" style="background-color: #00AB55;" class="w-full inline-flex justify-center items-center gap-x-1.5 rounded-md px-3 py-3 text-sm font-semibold text-white nunito shadow-sm">
              <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_156_9768)">
                <path d="M3.46649 17.1132C4.68687 18.3337 6.65105 18.3337 10.5794 18.3337C14.5078 18.3337 16.472 18.3337 17.6923 17.1132C18.9128 15.8929 18.9128 13.9287 18.9128 10.0003C18.9128 9.71574 18.9128 9.57349 18.9001 9.42883C18.8413 8.75441 18.5678 8.09413 18.1325 7.57561C18.0391 7.46438 17.9361 7.3613 17.7299 7.15514L13.4246 2.84986C13.2184 2.64371 13.1153 2.54062 13.0042 2.44725C12.4856 2.01199 11.8253 1.7385 11.1509 1.67962C11.0063 1.66699 10.864 1.66699 10.5794 1.66699C6.65105 1.66699 4.68687 1.66699 3.46649 2.88738C2.24609 4.10777 2.24609 6.07195 2.24609 10.0003C2.24609 13.9287 2.24609 15.8929 3.46649 17.1132Z" stroke="white" stroke-width="1.25"/>
                <path d="M14.7435 18.3337V17.5003C14.7435 15.929 14.7435 15.1433 14.2553 14.6552C13.7672 14.167 12.9815 14.167 11.4102 14.167H9.74349C8.17214 14.167 7.38646 14.167 6.89831 14.6552C6.41016 15.1433 6.41016 15.929 6.41016 17.5003V18.3337" stroke="white" stroke-width="1.25"/>
                <path opacity="0.5" d="M6.41016 6.66699H11.4102" stroke="white" stroke-width="1.25" stroke-linecap="round"/>
                </g>
                <defs>
                <clipPath id="clip0_156_9768">
                <rect width="20" height="20" fill="white" transform="translate(0.578125)"/>
                </clipPath>
                </defs>
              </svg>                
              Salvar
            </button>

            <button type="button" style="background-color: #2196F3;" class="w-full inline-flex justify-center items-center gap-x-1.5 rounded-md px-3 py-3 text-sm font-semibold text-white nunito shadow-sm">
              <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_156_9768)">
                <path d="M3.46649 17.1132C4.68687 18.3337 6.65105 18.3337 10.5794 18.3337C14.5078 18.3337 16.472 18.3337 17.6923 17.1132C18.9128 15.8929 18.9128 13.9287 18.9128 10.0003C18.9128 9.71574 18.9128 9.57349 18.9001 9.42883C18.8413 8.75441 18.5678 8.09413 18.1325 7.57561C18.0391 7.46438 17.9361 7.3613 17.7299 7.15514L13.4246 2.84986C13.2184 2.64371 13.1153 2.54062 13.0042 2.44725C12.4856 2.01199 11.8253 1.7385 11.1509 1.67962C11.0063 1.66699 10.864 1.66699 10.5794 1.66699C6.65105 1.66699 4.68687 1.66699 3.46649 2.88738C2.24609 4.10777 2.24609 6.07195 2.24609 10.0003C2.24609 13.9287 2.24609 15.8929 3.46649 17.1132Z" stroke="white" stroke-width="1.25"/>
                <path d="M14.7435 18.3337V17.5003C14.7435 15.929 14.7435 15.1433 14.2553 14.6552C13.7672 14.167 12.9815 14.167 11.4102 14.167H9.74349C8.17214 14.167 7.38646 14.167 6.89831 14.6552C6.41016 15.1433 6.41016 15.929 6.41016 17.5003V18.3337" stroke="white" stroke-width="1.25"/>
                <path opacity="0.5" d="M6.41016 6.66699H11.4102" stroke="white" stroke-width="1.25" stroke-linecap="round"/>
                </g>
                <defs>
                <clipPath id="clip0_156_9768">
                <rect width="20" height="20" fill="white" transform="translate(0.578125)"/>
                </clipPath>
                </defs>
              </svg>                
              Enviar por email
            </button>

            <div class="mt-8">
              <h2 class="text-sm nunito font-semibold">Observações internas</h2>
              <textarea class="w-full rounded-lg border-blue mt-2" name="" id="" cols="4" rows="4"></textarea>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>

<script>
  const name = document.querySelector("#name")
  const cpf = document.querySelector("#cpf")
  const email = document.querySelector("#email")
  const password = document.querySelector("#password")
  const number = document.querySelector("#number")
  const type = document.querySelector("#type_account")
  const adminTrue = document.querySelector("#admin-true")
  const adminFalse = document.querySelector("#admin-false")
  let admin = false

  function alert_message(type, content) {
    if (type == 'error') {
      const divMessage = document.querySelector(".error");
      divMessage.style.display = "flex";
      divMessage.innerHTML = "";
      const message = document.createElement("p");
      const img = document.createElement("img");
      img.width = "28"
      img.height = "28"
      img.src = "/img/admin/Bulk/error.png"
      message.classList.add("message-notify");
      message.innerText = content;
      divMessage.appendChild(img);
      divMessage.appendChild(message);

      setTimeout(() => {
        divMessage.style = "animation: slideoff 2s;"
        setTimeout(() => {
          divMessage.style = "display: none"
        }, 800)
      }, 2000);
    } else if (type == "success") {
      const divMessage = document.querySelector(".alert");
      divMessage.style.display = "flex";
      divMessage.innerHTML = "";
      const message = document.createElement("p");
      const img = document.createElement("img");
      img.width = "28"
      img.height = "28"
      img.src = "/img/admin/Bulk/checked.png"
      message.classList.add("message-notify");
      message.innerText = content;
      divMessage.appendChild(img);
      divMessage.appendChild(message);

      setTimeout(() => {
        divMessage.style = "animation: slideoff 2s;"
        setTimeout(() => {
          divMessage.style = "display: none"
        }, 800)
      }, 2000);
    }
  }

  function newUser() {
    const errors = []

    if (name.value.length == 0) {
      name.style = "border: 2px solid #e00d0d !important"
      errors.push("error")
    }

    if (password.value.length == 0) {
      password.style.border = "2px solid #e00d0d";
      errors.push("error")
    }

    if (cpf.value.length == 0) {
      password.style.border = "2px solid #e00d0d";
      errors.push("error")
    }

    if (email.value.length == 0) {
      email.style.border = "2px solid #e00d0d";
      errors.push("error")
    }

    if (number.value.length == 0) {
      number.style.border = "2px solid #e00d0d";
      errors.push("error")
    }

    if (type.value == "select") {
      type.style.border = "2px solid #e00d0d"
      errors.push("error")
    }
    
    if (adminTrue.checked == false && adminFalse.checked == false) {
      p_false.color = "#e00d0d !important";
      p_true.color = "#e00d0d !important";
      errors.push("error")
    }

    if (adminFalse.checked == false) {
      admin = false
    }

    if (adminTrue.checked == true) {
      admin = true
    }

    if (errors.length == 0) {
      fetch('/platform/new_user/save', {
        method: 'POST',
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({name: name.value, cpf: cpf.value, email: email.value, password: password.value, number: number.value, admin: admin, type_account: type.value})
      })
      .then((response) => {
        if (response.ok) {
          alert_message("success", "Usuário adicionado com sucesso.")
        } else {
          alert_message("error", "Erro ao adicionar usuário")
        }
      })
      .catch((error) => {
        alert_message("error", "Tente novamente mais tarde")
      })
    }
  }
</script>
</html>