<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="pluBee.net">
  <meta name="generator" content="pluBee.net">
  <meta name="robots" content="noindex">
  <title>404</title>
  <link rel="shortcut icon" href="/img/login/icon.png" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.8.12/tailwind-experimental.min.css">
  <link rel="stylesheet" href="/css/platform/style.css">
</head>

<body>
<main class="grid min-h-full mt-40 place-items-center bg-white px-6 py-24 sm:py-32 lg:px-8">
  <div class="text-center">
    <p class="text-base font-semibold text-blue">404</p>
    <h1 class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl inter">Página não encontrada</h1>
    <p class="mt-6 text-base leading-7 text-gray-600 inter">Desculpa, essa página não está disponível no momento.</p>
    <div class="mt-10 flex items-center justify-center gap-x-6">
      <a href="/login" class="rounded-md bg-blue px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm">Faça o login</a>
    </div>
  </div>
</main>

</body>
</html>