<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="pluBee.net">
  <meta name="generator" content="pluBee.net">
  <meta name="robots" content="noindex">
  <title>404</title>
  <link rel="shortcut icon" href="/img/site/plubee-icon.png" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.8.12/tailwind-experimental.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/css/main/style.css">
</head>

<body>
<%- include('../partials/nav-site') %>

<div class="flex h-full  flex-col justify-center py-60 px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full title">
    <div class="flex items-center justify-center mb-3">
      <a href="#" class="ml-1.5 p-1.5">
        <img class="h-16 lg:h-24 w-auto" src="/img/site/nav.png" alt="">
      </a>
    </div>     
    <h2 style="color: #752a7a" class="flex flex-col text-center text-2xl font-bold leading-9 text-gray-900 inter">Página não encontrada</h2>
    <p class="mt-2 text-center text-1xl text-gray-900 inter">A página que você procura não existe.</p>
    <a style="color: #752a7a; font-weight: bold;" href="/platform" class="mt-6 flex items-center justify-center inter">Voltar ao início →</a>
  </div>
</div>

</body>
</html>