<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" made-tommy text-md="width=device-width, initial-scale=1">
    <meta name="description" made-tommy text-md="">
    <meta name="author" made-tommy text-md="pluBee.net">
    <meta name="generator" made-tommy text-md="pluBee.net">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>pluBee | Política de privacidade</title>

    <link rel="shortcut icon" href="/img/site/plubee-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/main/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.8.12/tailwind-experimental.min.css">
  </head>

<body style="margin: 0%;">
  <%- include('../partials/nav-site') %>

  <div class="flex flex-col items-center py-14 px-40">
    <div class="box">
      <h1 class="made-tommy text-2xl font-semibold color-purple">Política de privacidade - plataforma pluBee</h1>
      <p class="made-tommy text-lg">
        A Política de Privacidade abaixo explica como suas informações pessoais são coletadas, usadas e divulgadas pelo nosso site, plubee.net. <br><br>
      </p>
      
      <div>
        <span class="made-tommy font-medium text-1xl">- Coleta de informações</span>
        <p class="made-tommy text-md">Coletamos informações pessoais quando você se registra em nosso site, preenche formulários ou realiza uma compra. As informações que coletamos incluem seu nome, endereço de e-mail e outras informações relevantes para o seu registro ou compra.</p>
      </div>

      <div class="mt-4">
        <span class="made-tommy font-medium text-1xl"> - Uso das informações</span>
        <p class="made-tommy text-md">As informações que coletamos são usadas para personalizar a experiência do usuário, melhorar nosso site, processar transações e enviar e-mails promocionais. Suas informações não serão vendidas, trocadas, transferidas ou fornecidas a terceiros sem o seu consentimento.</p>
      </div>

      <div class="mt-4">
        <span class="made-tommy font-medium text-1xl">- Proteção de informações</span>
        <p class="made-tommy text-md">Implementamos medidas de segurança para manter suas informações pessoais seguras e protegidas contra acesso não autorizado, alteração, divulgação ou destruição. Essas medidas incluem proteção física, eletrônica e administrativa.</p>
      </div>

      <div class="mt-4">
        <span class="made-tommy font-medium text-1xl">- Cookies</span>
        <p class="made-tommy text-md">Utilizamos cookies para armazenar informações sobre as preferências do usuário e para personalizar o conteúdo do site com base em suas interações anteriores.</p>
      </div>

      <div class="mt-4">
        <span class="made-tommy font-medium text-1xl">- Alterações na Política de Privacidade</span>
        <p class="made-tommy text-md">Reservamos o direito de modificar esta Política de Privacidade a qualquer momento. A versão mais recente da Política de Privacidade será sempre publicada em nosso site.</p>
      </div>

      <div class="mt-4">
        <span class="made-tommy font-medium text-1xl">- Contato</span>
        <p class="made-tommy text-md">Se você tiver dúvidas ou preocupações sobre nossa Política de Privacidade, entre em contato conosco pelo e-mail: contato@plubee.net</p>
      </div>

      <p class="made-tommy text-md-date">Esta Política de Privacidade foi atualizada em 06/04/2023</p>
    </div>
  </div>

  <%- include('../partials/footer-site') %>
</body>
</html>
