<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="pluBee.net">
    <meta name="generator" content="pluBee.net">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>pluBee | Política de privacidade</title>

    <link rel="shortcut icon" href="/img/site/plubee-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/site/site.css">
    <link rel="stylesheet" href="/css/site/policy.css">
  </head>

<body style="margin: 0%;">
  <%- include('../partials/nav-site') %>
  <div class="policy">
    <div class="box">
      <h1>Política de privacidade - plataforma pluBee</h1>
      <p>
        A Política de Privacidade abaixo explica como suas informações pessoais são coletadas, usadas e divulgadas pelo nosso site, plubee.net. <br><br>
      </p>
      
      <div>
        <span>- Coleta de informações</span>
        <p class="content">Coletamos informações pessoais quando você se registra em nosso site, preenche formulários ou realiza uma compra. As informações que coletamos incluem seu nome, endereço de e-mail e outras informações relevantes para o seu registro ou compra.</p>
      </div>

      <div>
        <span> - Uso das informações</span>
        <p class="content">As informações que coletamos são usadas para personalizar a experiência do usuário, melhorar nosso site, processar transações e enviar e-mails promocionais. Suas informações não serão vendidas, trocadas, transferidas ou fornecidas a terceiros sem o seu consentimento.</p>
      </div>

      <div>
        <span>- Proteção de informações</span>
        <p class="content">Implementamos medidas de segurança para manter suas informações pessoais seguras e protegidas contra acesso não autorizado, alteração, divulgação ou destruição. Essas medidas incluem proteção física, eletrônica e administrativa.</p>
      </div>

      <div>
        <span>- Cookies</span>
        <p class="content">Utilizamos cookies para armazenar informações sobre as preferências do usuário e para personalizar o conteúdo do site com base em suas interações anteriores.</p>
      </div>

      <div>
        <span>- Alterações na Política de Privacidade</span>
        <p class="content">Reservamos o direito de modificar esta Política de Privacidade a qualquer momento. A versão mais recente da Política de Privacidade será sempre publicada em nosso site.</p>
      </div>

      <div>
        <span>- Contato</span>
        <p class="content">Se você tiver dúvidas ou preocupações sobre nossa Política de Privacidade, entre em contato conosco pelo e-mail: contato@plubee.net</p>
      </div>

      <p class="content-date">Esta Política de Privacidade foi atualizada em 06/04/2023</p>
    </div>
  </div>

  <%- include('../partials/footer-site') %>
</body>
</html>
