<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Help Técnico | Novo chamado</title>
  <link rel="shortcut icon" href="/img/login/icon.png" type="image/x-icon">
  <!-- Custom styles -->
  <link rel="stylesheet" href="/css/platform/style.css">
  <link rel="stylesheet" href="/css/platform/notify.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.8.12/tailwind-experimental.min.css">
</head>

<body>
  <%- include('../partials/company/sidebar-company') %>

  <div class="lg:pl-70">
    <%- include('../partials/company/nav-company', {title: "Abrir chamado", notifications: notifications, photo: photo, name_user: name_user}) %>

    <main class="py-5 fade-in">
      <div class="alert mt-14" style="display: none;"><div style="display: flex;" class="alert-text"></div></div>
      <div class="error mt-14" style="display: none;"><div style="display: flex;" class="error-text"></div></div>

      <div class="px-4 sm:px-6 lg:pl-12 mt-2 col-span-3">
        <div class="bg-white rounded-xl shadow p-4 px-5">
          <div class="flex justify-between items-center border-b pb-3">
            <div>
              <h2 class="text-xl color-blue nunito font-bold">Solicitar novo chamado</h2>
            </div>
  
            <div class="flex items-center">
              <div class="min-img flex gap-x-2 mr-2">
              </div>
              <!-- <div class="mr-2">
                <p class="text-sm inter">0 contas</p>
              </div> -->
              <button type="button" onclick="openAccounts()" class="rounded-full px-2.5 py-1 nunito text-sm font-semibold shadow-sm border-blue color-blue">Selecionar equipamentos</button>
            </div>
          </div>
  
          <div class="mt-4">
            <label for="comment" class="block text-md font-medium leading-6 text-gray-900 nunito font-semibold">Conteúdo do chamado:</label>
            <div class="mt-2">
              <textarea rows="3" id="content-post" class="block w-full border-blue rounded-lg p-1.5 text-gray-900 shadow-sm ring-1 nunito ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="O ar condicionado não recebe comandos do controle."></textarea>
            </div>
          </div>
  
          <div class="mt-8 div-image">
            <label for="files" class="block text-md font-medium leading-6 text-gray-900 nunito font-semibold color-blue">Imagens do chamado:</label>
            <label for="files" style="border: 2px dashed #239CFF; cursor: pointer;" class="relative block mt-2 w-full rounded-lg p-4 text-center hover:border-gray-400 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
              <div class="flex justify-center">
                <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.625 2.25C4.72989 2.25 3.87145 2.60558 3.23851 3.23851C2.60558 3.87145 2.25 4.72989 2.25 5.625V39.375C2.25 40.2701 2.60558 41.1285 3.23851 41.7615C3.87145 42.3944 4.72989 42.75 5.625 42.75H39.375C40.2701 42.75 41.1285 42.3944 41.7615 41.7615C42.3944 41.1285 42.75 40.2701 42.75 39.375V5.625C42.75 4.72989 42.3944 3.87145 41.7615 3.23851C41.1285 2.60558 40.2701 2.25 39.375 2.25H5.625ZM16.875 10.125C19.35 10.125 21.375 12.15 21.375 14.625C21.375 17.1 19.35 19.125 16.875 19.125C14.4 19.125 12.375 17.1 12.375 14.625C12.375 12.15 14.4 10.125 16.875 10.125ZM37.1227 38.25H7.86825C6.94575 38.25 6.42825 37.215 6.96825 36.4725L14.9625 27.3577C15.39 26.8852 16.1325 26.8852 16.5825 27.3352L20.25 31.5L27.135 20.7427C27.2407 20.5872 27.3837 20.4607 27.5509 20.3746C27.7181 20.2886 27.9043 20.2459 28.0923 20.2504C28.2803 20.2549 28.4641 20.3064 28.6271 20.4003C28.79 20.4941 28.9268 20.6274 29.025 20.7877L38.1127 36.5625C38.5177 37.3275 37.9777 38.25 37.1227 38.25Z" fill="#239CFF"/>
                </svg>                  
              </div>
              <span class="mt-2 files block text-sm font-semibold text-gray-900 inter">Selecione uma imagem</span>
              <input type="file" name="files" id="files" class="hidden">
            </label>
          </div>
  
          <div style="cursor: pointer;" class="flex mt-6" id="newItem">          
            <div class="relative flex items-center">
              <div class="flex h-6 items-center">
                <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_236_21)">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M7.5 15.5C11.6421 15.5 15 12.1421 15 8C15 3.85786 11.6421 0.5 7.5 0.5C3.35786 0.5 0 3.85786 0 8C0 12.1421 3.35786 15.5 7.5 15.5ZM6.80429 7.48215V5.05966H8.67095V7.48215H11.0888V9.34881H8.67095V11.7667H6.80429V9.34881H4.38179V7.48215H6.80429Z" fill="#239CFF"/>
                  </g>
                  <defs>
                  <clipPath id="clip0_236_21">
                  <rect width="15" height="16" fill="white"/>
                  </clipPath>
                  </defs>
                </svg>                                                   
              </div>
              <div class="ml-3 leading-6">
                <p class="block text-sm font-semibold leading-6 text-gray-900 nunito">Adicionar imagem</p>
              </div>
            </div>
          </div>

          <div class="hidden mt-4 link-success">
            <h2 class="block text-md font-medium leading-6 nunito font-semibold color-blue">Você importou um link</h2>
          </div>
  
          <div class="hidden mt-4 image-success">
            <h2 class="block text-md font-medium leading-6 nunito font-semibold color-blue">Imagem importada com sucesso.</h2>
          </div>
  
          <div>
            <button class="w-full py-3 nunito bg-blue text-white text-sm rounded-lg mt-4">Abrir chamado</button>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>
</html>