<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {title: "Visualizar PMOC"}) %>

<body>
  <%- include('../partials/company/sidebar-company', {service: service}) %>

  <div class="lg:pl-70">
    <%- include('../partials/company/nav-company', {title: "Visualizar PMOC", photo: photo, name_user: name_user}) %>

    <main class="py-5 fade-in">
      <div class="alert mt-14" style="display: none;"><div style="display: flex;" class="alert-text"></div></div>
      <div class="error mt-14" style="display: none;"><div style="display: flex;" class="error-text"></div></div>

      <div class="px-4 sm:px-6 lg:pl-12 mt-4 col-span-3">
        <div class="sm:flex sm:items-center">
          <div class="w-full flex justify-between items-center">
            <h1 class="text-lg font-semibold leading-6 text-gray-900 inter color-purple">Visualizar PMOC</h1>
            <h1 class="text-MD font-semibold leading-6 text-blue inter color-purple">Última atualização: 14/09/2023</h1>
          </div>
        </div>

        <iframe src="/pmoc.pdf" class="w-full mt-6 rounded-lg" height="750" allowfullscreen webkitallowfullscreen></iframe>
      </div>
    </main>
  </div>
</body>
</html>