@import url('https://fonts.cdnfonts.com/css/made-tommy-outline');
@import url('https://fonts.cdnfonts.com/css/cavilant');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;900&display=swap');

body {
	margin: 0%;
	padding: 0%;
	background: url("/img/login/back-branco.png") no-repeat;
}

.main {
	display: flex;
	justify-content: center;
}

.box {
	display: grid;
	grid-template-columns: 25vw 25vw;
	width: 50vw;
	height: 29vw;
	background: #FFFFFF;
	box-shadow: 0px 4px 12px 7px rgba(0, 0, 0, 0.25);
	border-radius: 54px;
	margin-top: 4vw;
}

h1 {
	font-family: 'Cavilant';
	font-style: normal;
	font-weight: 400;
	font-size: 2vw;
	color: #752A7A;
}

.p-dados {
	font-family: 'MADE TOMMY';
	font-style: normal;
	font-weight: 400;
	font-size: 1vw;
	color: #484848;
}

.p-senha {
	font-family: 'MADE TOMMY';
	font-style: normal;
	font-weight: 400;
	font-size: 1vw;
	text-decoration-line: underline;
	cursor: pointer;
	color: #484848;
}

.btn-login {
	width: 10vw;
	height: 3vw;
	background: #752A7A;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 26px;
	border: 3px solid #752A7A;
	font-family: 'MADE TOMMY';
	font-style: normal;
	font-weight: 800;
	font-size: 0.8vw;
	cursor: pointer;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
	margin-top: 0.8vw;
	transition: all 400ms ease;
}

input {
	width: 13vw;
	height: 2.1vw;
	padding: 5px;
	margin: 10px;
	border: 4px solid #752A7A;
	border-radius: 16px;
	font-family: 'MADE TOMMY';
	font-style: normal;
	font-weight: 400;
	font-size: 0.8vw;
	display: flex;
	align-items: center;
	color: #8F8F8F;
}

a {
	text-decoration: none;
}

.register-box {
	display: flex;
	align-items: center;
	flex-direction: column;
	background: linear-gradient(#752A7A 1.29%, rgba(239, 0, 255, 0) 193.72%, rgba(117, 42, 122, 0) 193.72%);
	border-radius: 85px 54px 54px 0px;
}

.login-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.title-register {
	font-family: 'Cavilant';
	font-style: normal;
	font-weight: 400;
	text-align: center;
	color: #FFFFFF;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.p-register {
	font-family: 'MADE TOMMY';
	font-style: normal;
	font-weight: 400;
	font-size: 1vw;
	text-align: center;
	color: #FFFFFF;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin: None;
}

.btn-register {
	width: 9.8vw;
	height: 3vw;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 26px;
	font-family: 'MADE TOMMY';
	background: #85858500;
	border: 3px solid #FFFFFF;
	border-radius: 26px;
	font-style: normal;
	font-weight: 800;
	font-size: 0.8vw;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
	margin-top: 0.8vw;
}

img {
	height: 2vw;
	margin-top: 3vw;
	margin-bottom: 1.4vw;
}

.btn-login:hover {
	background-color: #ffffff;
	color: #752A7A;
	border: 3px solid #752A7A;
}

.alert {
  display: flex;
  align-items: center;
  padding: 22px 60px;
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #bb1414;
  border-radius: 3px;
  z-index: 1;
  color: #fff;
  animation: slidein 0.2s;
}

.alert p {
  display: flex;
  align-items: center;
  margin-left: 13px;
  font-family: "Inter";
}

.alert img {
  width: 28px;
  height: 28px;
  margin: 0;
}

@keyframes slidein {
  from {
    transform: translateX(1000px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideoff {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(10000px);
  }
}

.message-notify::before {
  width: 100px;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.829);
  animation: time 2s forwards;
}

@keyframes time {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@media (max-width: 540px) {
	.box {
		display: flex;
		justify-content: center;
		width: 70vw;
		height: 95vw;
		border-radius: 20px;
		margin-top: 10vw;
	}
	
	h1 {
		font-size: 8vw;
		margin: 0px;
		color: #752A7A;
	}
	
	.p-dados {
		font-family: 'MADE TOMMY';
		font-style: normal;
		font-weight: 400;
		font-size: 3.8vw;
		color: #484848;
	}
	
	.p-senha {
		font-family: 'MADE TOMMY';
		font-style: normal;
		font-weight: 400;
		font-size: 3.5vw;
		text-decoration-line: underline;
		cursor: pointer;
		color: #484848;
	}
	
	.btn-login {
		width: 35vw;
		height: 12vw;
		font-size: 4vw;
	}
	
	input {
		width: 50vw;
		height: 7vw;
		margin: 10px;
		border: 4px solid #752A7A;
		border-radius: 16px;
		font-size: 4vw;
		display: flex;
		align-items: center;
		color: #8F8F8F;
	}
		
	.login-box {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
		
	.btn-login:hover {
		background-color: #ffffff;
		color: #752A7A;
		border: 3px solid #752A7A;
	}
	
	.register-box {
		display: none;
	}
}