<%- include('../../partials/main/head', {title: "Políticas de Cookies" }) %>

<body class="bg-gray-100">
  <%- include('../../partials/main/nav') %>

  <div class="flex flex-col justify-center py-20 px-10 sm:px-0 mx-auto max-w-none sm:max-w-5xl inter fade-in">
    <div class="flex flex-col items-center">
      <h1 class="text-3xl font-semibold text-blue-500">Políticas de Cookies</h1>
      <p class="text-lg">Última atualização: 14/11/2023</p>
    </div>

    <h2 class="text-xl font-semibold mt-10">1. O que são cookies?</h2>
    <p class="text-lg">Cookies são pequenos arquivos de texto que são armazenados no seu dispositivo quando você visita um site. Eles são amplamente utilizados para garantir o funcionamento adequado dos sites, proporcionar uma experiência mais eficiente ao usuário e fornecer informações aos proprietários do site.</p>

    <h2 class="text-xl font-semibold mt-10">2. Como utilizamos cookies</h2>
    <p class="text-lg">O Help Técnico utiliza cookies para os seguintes fins:</p>

    <ul class="list-disc mt-4 ml-10">
      <li class="text-lg">Essenciais para o funcionamento do sistema, permitindo o acesso e uso adequado das funcionalidades.</li>
      <li class="text-lg">Coletam informações sobre como os usuários interagem com o sistema, ajudando a melhorar sua performance.</li>
      <li class="text-lg">Permitem personalizar a experiência do usuário, lembrando preferências e configurações.</li>
    </ul>

    <h2 class="text-xl font-semibold mt-10">3. Controle de Cookies</h2>
    <p class="text-lg">Você pode controlar e/ou excluir cookies conforme desejar. Para mais informações, consulte as configurações do seu navegador. Esteja ciente de que a desativação de cookies pode impactar a funcionalidade do sistema.</p>

    <h2 class="text-xl font-semibold mt-10">4. Alterações nesta Política de Cookies</h2>
    <p class="text-lg">Esta política pode ser atualizada periodicamente para refletir mudanças nas práticas de cookies. Recomendamos revisar esta página regularmente para estar ciente de quaisquer alterações.</p>

    <h2 class="text-xl font-semibold mt-10">5. Contato</h2>
    <p class="text-lg">Para quaisquer dúvidas ou preocupações sobre esta política de cookies, entre em contato conosco através do e-mail: <a href="mailto:anderson@moreirarefrigeracao.com">anderson@moreirarefrigeracao.com</a>.</p>
  </div>

  <%- include('../../partials/main/footer') %>
</body>

</html>