<%- include('../../partials/main/head', {title: "Políticas de privacidade" }) %>

<body class="bg-gray-100">
  <%- include('../../partials/main/nav') %>

  <div class="flex flex-col justify-center py-20 px-10 sm:px-0 mx-auto max-w-none sm:max-w-5xl inter fade-in">
    <div class="flex flex-col items-center">
      <h1 class="text-3xl font-semibold text-blue-500">Políticas de privacidade</h1>
      <p class="text-lg">Última atualização: 14/11/2023</p>
    </div>

    <h2 class="text-xl font-semibold mt-10">1. Informações Coletadas</h2>
    <p class="text-lg">O sistema Help Técnico coleta informações fornecidas pela empresa durante o processo de cadastro realizado pelo administrador do sistema. As informações podem incluir, mas não estão limitadas a:</p>

    <ul class="list-disc mt-4 ml-10">
      <li class="text-lg">Nome da Empresa</li>
      <li class="text-lg">Endereço</li>
      <li class="text-lg">Contato</li>
      <li class="text-lg">Outras informações relevantes para o gerenciamento de chamados e PMOC.</li>
    </ul>

    <h2 class="text-xl font-semibold mt-10">2. Uso das Informações</h2>
    <p class="text-lg">As informações coletadas serão utilizadas exclusivamente para:</p>

    <ul class="list-disc mt-4 ml-10">
      <li class="text-lg">Permitir o acesso e uso do sistema Help Técnico pela empresa cadastrada.</li>
      <li class="text-lg">Facilitar a abertura e gerenciamento de chamados.</li>
      <li class="text-lg">Manter registros relacionados ao Plano de Manutenção, Operação e Controle (PMOC).</li>
    </ul>

    <h2 class="text-xl font-semibold mt-10">3. Compartilhamento de Informações</h2>
    <p class="text-lg">O sistema Help Técnico não compartilha informações pessoais da empresa com terceiros. O acesso às informações é restrito ao administrador do sistema e à própria empresa.</p>

    <h2 class="text-xl font-semibold mt-10">4. Segurança</h2>
    <p class="text-lg">O Help Técnico adota medidas de segurança para proteger as informações contra acesso não autorizado ou divulgação.</p>

    <h2 class="text-xl font-semibold mt-10">5. Contato</h2>
    <p class="text-lg">Para quaisquer dúvidas ou preocupações sobre esta política de privacidade, entre em contato conosco através do e-mail: <a href="mailto:anderson@moreirarefrigeracao.com">anderson@moreirarefrigeracao.com</a>.</p>
  </div>

  <%- include('../../partials/main/footer') %>
</body>

</html>