  <div class="relative z-50 lg:hidden hidden fade-in" id="sidebar-mobile" role="dialog" aria-modal="true">
    <div class="flex grow h-full flex-col gap-y-5 overflow-y-auto bg-white shadow-xl pb-4">
      <div class="flex justify-between h-16 shrink-0 items-center px-6 mt-6">
        <img class="h-20 w-auto" src="/img/login/logo.png" alt="Logo Moreira Refrigeração">
        <button>
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_154_97)">
            <path d="M10.832 15.8333L5.83203 9.99996L10.832 4.16663" stroke="#0E1726" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
            <path opacity="0.5" d="M14.168 15.8333L9.16797 9.99996L14.168 4.16663" stroke="#0E1726" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
            <defs>
            <clipPath id="clip0_154_97">
            <rect width="20" height="20" fill="white"/>
            </clipPath>
            </defs>
          </svg>                        
        </button>
      </div>
      <nav class="flex flex-1 flex-col mt-2">
        <ul role="list" class="flex flex-1 flex-col gap-y-7">
          <li>
            <ul role="list" class="-mx-2 px-6 space-y-1">
              <li>
                <a href="/admin" class="nunito text-gray-700 hover:text-black hover:bg-blue group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-bold">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.5" d="M1.66797 10.1699C1.66797 8.26287 1.66797 7.30936 2.10064 6.51891C2.5333 5.72847 3.32376 5.23788 4.90466 4.25673L6.57133 3.22235C8.24246 2.1852 9.07805 1.66663 10.0013 1.66663C10.9246 1.66663 11.7601 2.1852 13.4313 3.22235L15.098 4.25673C16.6789 5.23788 17.4693 5.72847 17.902 6.51891C18.3346 7.30936 18.3346 8.26287 18.3346 10.1699V11.4375C18.3346 14.6881 18.3346 16.3135 17.3583 17.3234C16.3821 18.3333 14.8106 18.3333 11.668 18.3333H8.33464C5.19194 18.3333 3.62059 18.3333 2.64428 17.3234C1.66797 16.3135 1.66797 14.6881 1.66797 11.4375V10.1699Z" fill="#0E1726" fill-opacity="0.5"/>
                    <path d="M7.5 14.375C7.15483 14.375 6.875 14.6548 6.875 15C6.875 15.3452 7.15483 15.625 7.5 15.625H12.5C12.8452 15.625 13.125 15.3452 13.125 15C13.125 14.6548 12.8452 14.375 12.5 14.375H7.5Z" fill="#0E1726" fill-opacity="0.5"/>
                  </svg>                                       
                  Dashboard
                </a>
              </li>
              <li>
                <a href="/admin/all-calls" class="nunito text-gray-700 hover:text-black hover:bg-blue group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-bold">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.66836 18.7331L8.89761 18.3458C9.26495 17.7252 9.44861 17.4149 9.7412 17.2418C10.0339 17.0687 10.4154 17.0565 11.1788 17.0321C11.8945 17.0092 12.3756 16.9467 12.7869 16.7764C13.6529 16.4177 14.3409 15.7297 14.6995 14.8637C14.9686 14.2142 14.9686 13.3909 14.9686 11.7442V11.0373C14.9686 8.72358 14.9686 7.56671 14.4478 6.71686C14.1564 6.24131 13.7565 5.8415 13.281 5.55009C12.4312 5.0293 11.2743 5.0293 8.96053 5.0293H6.84006C4.52631 5.0293 3.36944 5.0293 2.51959 5.55009C2.04405 5.8415 1.64423 6.24131 1.35282 6.71686C0.832031 7.56671 0.832031 8.72358 0.832031 11.0373V11.7442C0.832031 13.3909 0.832031 14.2142 1.10105 14.8637C1.45975 15.7297 2.14775 16.4177 3.01371 16.7764C3.42501 16.9467 3.90605 17.0092 4.62178 17.0321C5.3851 17.0565 5.76676 17.0687 6.05935 17.2418C6.35195 17.4149 6.53562 17.7252 6.90298 18.3458L7.1322 18.7331C7.47371 19.3101 8.32686 19.3101 8.66836 18.7331ZM10.9927 12.0976C11.4806 12.0976 11.8762 11.702 11.8762 11.214C11.8762 10.7261 11.4806 10.3305 10.9927 10.3305C10.5047 10.3305 10.1091 10.7261 10.1091 11.214C10.1091 11.702 10.5047 12.0976 10.9927 12.0976ZM8.78386 11.214C8.78386 11.702 8.38828 12.0976 7.90031 12.0976C7.41234 12.0976 7.01677 11.702 7.01677 11.214C7.01677 10.7261 7.41234 10.3305 7.90031 10.3305C8.38828 10.3305 8.78386 10.7261 8.78386 11.214ZM4.80793 12.0976C5.2959 12.0976 5.69147 11.702 5.69147 11.214C5.69147 10.7261 5.2959 10.3305 4.80793 10.3305C4.31997 10.3305 3.9244 10.7261 3.9244 11.214C3.9244 11.702 4.31997 12.0976 4.80793 12.0976Z" fill="#0E1726" fill-opacity="0.5"/>
                    <path opacity="0.5" d="M12.9053 0.833374C13.9611 0.833367 14.8006 0.833362 15.4739 0.897382C16.1642 0.963024 16.748 1.10062 17.268 1.41927C17.803 1.74711 18.2527 2.1969 18.5806 2.73188C18.8992 3.25187 19.0368 3.83558 19.1025 4.52597C19.1665 5.19927 19.1665 6.03886 19.1665 7.09457V7.81562C19.1665 8.56696 19.1665 9.16462 19.1334 9.64921C19.0996 10.145 19.029 10.5707 18.8638 10.9694C18.4603 11.9436 17.6863 12.7176 16.7121 13.1211C16.6877 13.1312 16.6632 13.141 16.6387 13.1504C16.5211 13.1953 16.4202 13.2339 16.3318 13.2625H14.9567C14.9702 12.8467 14.9702 12.3515 14.9702 11.7442V11.0374C14.9702 8.72362 14.9702 7.56676 14.4494 6.7169C14.158 6.24136 13.7582 5.84154 13.2827 5.55013C12.4328 5.02934 11.2759 5.02934 8.96216 5.02934H6.84169C6.02052 5.02934 5.34507 5.02934 4.77734 5.05262V3.67729C4.8046 3.58282 4.84195 3.47455 4.88579 3.34746C4.96034 3.1313 5.05457 2.92687 5.17406 2.73188C5.50189 2.1969 5.95169 1.74711 6.48667 1.41927C7.00665 1.10062 7.59037 0.963024 8.28075 0.897382C8.95408 0.833362 9.79358 0.833367 10.8493 0.833374H12.9053Z" fill="#0E1726" fill-opacity="0.5"/>
                  </svg>                                                                                      
                  Chamados
                </a>
              </li>
              <li>
                <a href="/platform/all-calls" class="nunito text-gray-700 hover:text-black hover:bg-blue group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-bold">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.5" fill-rule="evenodd" clip-rule="evenodd" d="M18.3346 9.99996C18.3346 14.6023 14.6036 18.3333 10.0013 18.3333C5.39893 18.3333 1.66797 14.6023 1.66797 9.99996C1.66797 5.39758 5.39893 1.66663 10.0013 1.66663C14.6036 1.66663 18.3346 5.39758 18.3346 9.99996Z" fill="#0E1726" fill-opacity="0.5"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10 4.375C10.3452 4.375 10.625 4.65483 10.625 5V5.26394C11.9837 5.50722 13.125 6.52801 13.125 7.91667C13.125 8.26184 12.8452 8.54167 12.5 8.54167C12.1548 8.54167 11.875 8.26184 11.875 7.91667C11.875 7.35128 11.4049 6.75282 10.625 6.53957V9.43058C11.9837 9.67392 13.125 10.6947 13.125 12.0833C13.125 13.472 11.9837 14.4927 10.625 14.7361V15C10.625 15.3452 10.3452 15.625 10 15.625C9.65483 15.625 9.375 15.3452 9.375 15V14.7361C8.01631 14.4927 6.875 13.472 6.875 12.0833C6.875 11.7382 7.15483 11.4583 7.5 11.4583C7.84517 11.4583 8.125 11.7382 8.125 12.0833C8.125 12.6487 8.59508 13.2472 9.375 13.4604V10.5694C8.01631 10.3261 6.875 9.30533 6.875 7.91667C6.875 6.52801 8.01631 5.50722 9.375 5.26394V5C9.375 4.65483 9.65483 4.375 10 4.375ZM9.375 6.53957C8.59508 6.75282 8.125 7.35128 8.125 7.91667C8.125 8.48208 8.59508 9.0805 9.375 9.29375V6.53957ZM11.875 12.0833C11.875 11.5179 11.4049 10.9195 10.625 10.7062V13.4604C11.4049 13.2472 11.875 12.6487 11.875 12.0833Z" fill="#0E1726" fill-opacity="0.5"/>
                  </svg>                                                                                      
                  Faturamento
                </a>
              </li>
              <li>
                <a href="/platform/all-calls" class="nunito text-gray-700 hover:text-black hover:bg-blue group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-bold">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.66836 18.7331L8.89761 18.3458C9.26495 17.7252 9.44861 17.4149 9.7412 17.2418C10.0339 17.0687 10.4154 17.0565 11.1788 17.0321C11.8945 17.0092 12.3756 16.9467 12.7869 16.7764C13.6529 16.4177 14.3409 15.7297 14.6995 14.8637C14.9686 14.2142 14.9686 13.3909 14.9686 11.7442V11.0373C14.9686 8.72358 14.9686 7.56671 14.4478 6.71686C14.1564 6.24131 13.7565 5.8415 13.281 5.55009C12.4312 5.0293 11.2743 5.0293 8.96053 5.0293H6.84006C4.52631 5.0293 3.36944 5.0293 2.51959 5.55009C2.04405 5.8415 1.64423 6.24131 1.35282 6.71686C0.832031 7.56671 0.832031 8.72358 0.832031 11.0373V11.7442C0.832031 13.3909 0.832031 14.2142 1.10105 14.8637C1.45975 15.7297 2.14775 16.4177 3.01371 16.7764C3.42501 16.9467 3.90605 17.0092 4.62178 17.0321C5.3851 17.0565 5.76676 17.0687 6.05935 17.2418C6.35195 17.4149 6.53562 17.7252 6.90298 18.3458L7.1322 18.7331C7.47371 19.3101 8.32686 19.3101 8.66836 18.7331ZM10.9927 12.0976C11.4806 12.0976 11.8762 11.702 11.8762 11.214C11.8762 10.7261 11.4806 10.3305 10.9927 10.3305C10.5047 10.3305 10.1091 10.7261 10.1091 11.214C10.1091 11.702 10.5047 12.0976 10.9927 12.0976ZM8.78386 11.214C8.78386 11.702 8.38828 12.0976 7.90031 12.0976C7.41234 12.0976 7.01677 11.702 7.01677 11.214C7.01677 10.7261 7.41234 10.3305 7.90031 10.3305C8.38828 10.3305 8.78386 10.7261 8.78386 11.214ZM4.80793 12.0976C5.2959 12.0976 5.69147 11.702 5.69147 11.214C5.69147 10.7261 5.2959 10.3305 4.80793 10.3305C4.31997 10.3305 3.9244 10.7261 3.9244 11.214C3.9244 11.702 4.31997 12.0976 4.80793 12.0976Z" fill="#0E1726" fill-opacity="0.5"/>
                    <path opacity="0.5" d="M12.9053 0.833374C13.9611 0.833367 14.8006 0.833362 15.4739 0.897382C16.1642 0.963024 16.748 1.10062 17.268 1.41927C17.803 1.74711 18.2527 2.1969 18.5806 2.73188C18.8992 3.25187 19.0368 3.83558 19.1025 4.52597C19.1665 5.19927 19.1665 6.03886 19.1665 7.09457V7.81562C19.1665 8.56696 19.1665 9.16462 19.1334 9.64921C19.0996 10.145 19.029 10.5707 18.8638 10.9694C18.4603 11.9436 17.6863 12.7176 16.7121 13.1211C16.6877 13.1312 16.6632 13.141 16.6387 13.1504C16.5211 13.1953 16.4202 13.2339 16.3318 13.2625H14.9567C14.9702 12.8467 14.9702 12.3515 14.9702 11.7442V11.0374C14.9702 8.72362 14.9702 7.56676 14.4494 6.7169C14.158 6.24136 13.7582 5.84154 13.2827 5.55013C12.4328 5.02934 11.2759 5.02934 8.96216 5.02934H6.84169C6.02052 5.02934 5.34507 5.02934 4.77734 5.05262V3.67729C4.8046 3.58282 4.84195 3.47455 4.88579 3.34746C4.96034 3.1313 5.05457 2.92687 5.17406 2.73188C5.50189 2.1969 5.95169 1.74711 6.48667 1.41927C7.00665 1.10062 7.59037 0.963024 8.28075 0.897382C8.95408 0.833362 9.79358 0.833367 10.8493 0.833374H12.9053Z" fill="#0E1726" fill-opacity="0.5"/>
                  </svg>                                                                                      
                  Usuários
                </a>
              </li>
              <li>
                <a href="" class="nunito text-gray-700 hover:text-black hover:bg-blue group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-bold">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20 4.16663C20 5.54733 18.8807 6.66663 17.5 6.66663C16.1192 6.66663 15 5.54733 15 4.16663C15 2.78592 16.1192 1.66663 17.5 1.66663C18.8807 1.66663 20 2.78592 20 4.16663Z" fill="#0E1726" fill-opacity="0.5"/>
                    <path d="M14.3614 6.21995L13.0809 7.28703C12.2257 7.99971 11.6319 8.49291 11.1307 8.81533C10.6454 9.12741 10.3163 9.23216 10 9.23216C9.68367 9.23216 9.35467 9.12741 8.86942 8.81533C8.36809 8.49291 7.77435 7.99971 6.91913 7.28703L4.94015 5.63788C4.64845 5.39481 4.21494 5.43421 3.97186 5.72591C3.72879 6.0176 3.7682 6.45111 4.05989 6.69418L6.07335 8.37208C6.88584 9.04916 7.54437 9.598 8.1256 9.97175C8.73109 10.3612 9.32067 10.6072 10 10.6072C10.6793 10.6072 11.269 10.3612 11.8744 9.97175C12.4557 9.598 13.1142 9.04916 13.9267 8.37208L15.3153 7.21496C14.9393 6.94511 14.6155 6.60748 14.3614 6.21995Z" fill="#0E1726" fill-opacity="0.5"/>
                    <path d="M15.3789 5.48933C15.6142 5.44711 15.8651 5.52906 16.0291 5.72591C16.1645 5.88845 16.2122 6.09503 16.1775 6.28816C15.8544 6.0862 15.5807 5.81249 15.3789 5.48933Z" fill="#0E1726" fill-opacity="0.5"/>
                    <path opacity="0.5" d="M14.13 2.51749C13.462 2.5 12.7018 2.5 11.832 2.5H8.16536C4.7084 2.5 2.97991 2.5 1.90597 3.59835C0.832031 4.6967 0.832031 6.46447 0.832031 10C0.832031 13.5355 0.832031 15.3033 1.90597 16.4017C2.97991 17.5 4.7084 17.5 8.16536 17.5H11.832C15.289 17.5 17.0174 17.5 18.0914 16.4017C19.1654 15.3033 19.1654 13.5355 19.1654 10C19.1654 9.1105 19.1654 8.33294 19.1483 7.64975C18.6504 7.89952 18.0906 8.03977 17.4987 8.03977C15.4276 8.03977 13.7487 6.32268 13.7487 4.20454C13.7487 3.5992 13.8859 3.02661 14.13 2.51749Z" fill="#0E1726" fill-opacity="0.5"/>
                  </svg>                                          
                  Orçamentos
                </a>
              </li>
              <li>
                <a href="/admin/all-companies" class="nunito text-gray-700 hover:text-black hover:bg-blue group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-bold">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.5" d="M2.5 8.33329C2.5 5.19059 2.5 3.61925 3.47631 2.64293C4.45262 1.66663 6.02397 1.66663 9.16667 1.66663H10.8333C13.976 1.66663 15.5474 1.66663 16.5237 2.64293C17.5 3.61925 17.5 5.19059 17.5 8.33329V11.6666C17.5 14.8093 17.5 16.3807 16.5237 17.357C15.5474 18.3333 13.976 18.3333 10.8333 18.3333H9.16667C6.02397 18.3333 4.45262 18.3333 3.47631 17.357C2.5 16.3807 2.5 14.8093 2.5 11.6666V8.33329Z" fill="#0E1726" fill-opacity="0.5"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.0013 4.375C10.3465 4.375 10.6263 4.65483 10.6263 5V6.04167H11.668C12.0131 6.04167 12.293 6.32149 12.293 6.66667C12.293 7.01184 12.0131 7.29167 11.668 7.29167H10.6263V8.33333C10.6263 8.6785 10.3465 8.95833 10.0013 8.95833C9.65614 8.95833 9.3763 8.6785 9.3763 8.33333V7.29167H8.33461C7.98943 7.29167 7.70961 7.01184 7.70961 6.66667C7.70961 6.32149 7.98943 6.04167 8.33461 6.04167H9.3763V5C9.3763 4.65483 9.65614 4.375 10.0013 4.375ZM6.04297 11.6667C6.04297 11.3215 6.32279 11.0417 6.66797 11.0417H13.3346C13.6798 11.0417 13.9596 11.3215 13.9596 11.6667C13.9596 12.0118 13.6798 12.2917 13.3346 12.2917H6.66797C6.32279 12.2917 6.04297 12.0118 6.04297 11.6667ZM6.8763 15C6.8763 14.6548 7.15613 14.375 7.5013 14.375H12.5013C12.8465 14.375 13.1263 14.6548 13.1263 15C13.1263 15.3452 12.8465 15.625 12.5013 15.625H7.5013C7.15613 15.625 6.8763 15.3452 6.8763 15Z" fill="#0E1726" fill-opacity="0.5"/>
                  </svg>                                                              
                  Empresas
                </a>
              </li>
              <li>
                <a href="" class="nunito text-gray-700 hover:text-black hover:bg-blue group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-bold">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.5" d="M2.5 8.33329C2.5 5.19059 2.5 3.61925 3.47631 2.64293C4.45262 1.66663 6.02397 1.66663 9.16667 1.66663H10.8333C13.976 1.66663 15.5474 1.66663 16.5237 2.64293C17.5 3.61925 17.5 5.19059 17.5 8.33329V11.6666C17.5 14.8093 17.5 16.3807 16.5237 17.357C15.5474 18.3333 13.976 18.3333 10.8333 18.3333H9.16667C6.02397 18.3333 4.45262 18.3333 3.47631 17.357C2.5 16.3807 2.5 14.8093 2.5 11.6666V8.33329Z" fill="#0E1726" fill-opacity="0.5"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M6.04297 10C6.04297 9.65483 6.32279 9.375 6.66797 9.375H13.3346C13.6798 9.375 13.9596 9.65483 13.9596 10C13.9596 10.3452 13.6798 10.625 13.3346 10.625H6.66797C6.32279 10.625 6.04297 10.3452 6.04297 10Z" fill="#0E1726" fill-opacity="0.5"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M6.04297 6.66663C6.04297 6.32145 6.32279 6.04163 6.66797 6.04163H13.3346C13.6798 6.04163 13.9596 6.32145 13.9596 6.66663C13.9596 7.0118 13.6798 7.29163 13.3346 7.29163H6.66797C6.32279 7.29163 6.04297 7.0118 6.04297 6.66663Z" fill="#0E1726" fill-opacity="0.5"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M6.04297 13.3334C6.04297 12.9882 6.32279 12.7084 6.66797 12.7084H10.8346C11.1798 12.7084 11.4596 12.9882 11.4596 13.3334C11.4596 13.6785 11.1798 13.9584 10.8346 13.9584H6.66797C6.32279 13.9584 6.04297 13.6785 6.04297 13.3334Z" fill="#0E1726" fill-opacity="0.5"/>
                  </svg>                                                                                                  
                  Relatórios
                </a>
              </li>
              <li>
                <a href="" class="nunito text-gray-700 hover:text-black hover:bg-blue group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-bold">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.5" d="M17.5 13.332V8.33192C17.5 5.9749 17.5 4.79639 16.7677 4.06416C16.1274 3.42384 15.1458 3.34347 13.3333 3.33337H6.66667C4.85414 3.34347 3.87255 3.42384 3.23223 4.06416C2.5 4.79639 2.5 5.9749 2.5 8.33192V13.332C2.5 15.689 2.5 16.8675 3.23223 17.5997C3.96447 18.332 5.14297 18.332 7.5 18.332H12.5C14.857 18.332 16.0355 18.332 16.7677 17.5997C17.5 16.8675 17.5 15.689 17.5 13.332Z" fill="#0E1726" fill-opacity="0.5"/>
                    <path d="M6.66797 2.91663C6.66797 2.22627 7.22761 1.66663 7.91797 1.66663H12.0846C12.775 1.66663 13.3346 2.22627 13.3346 2.91663V3.74996C13.3346 4.44032 12.775 4.99996 12.0846 4.99996H7.91797C7.22761 4.99996 6.66797 4.44032 6.66797 3.74996V2.91663Z" fill="#0E1726" fill-opacity="0.5"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10 7.70837C10.3452 7.70837 10.625 7.9882 10.625 8.33337V10.2084H12.5C12.8452 10.2084 13.125 10.4882 13.125 10.8334C13.125 11.1785 12.8452 11.4584 12.5 11.4584H10.625V13.3334C10.625 13.6785 10.3452 13.9584 10 13.9584C9.65483 13.9584 9.375 13.6785 9.375 13.3334V11.4584H7.5C7.15483 11.4584 6.875 11.1785 6.875 10.8334C6.875 10.4882 7.15483 10.2084 7.5 10.2084H9.375V8.33337C9.375 7.9882 9.65483 7.70837 10 7.70837Z" fill="#0E1726" fill-opacity="0.5"/>
                  </svg>                                                                
                  Equipamentos
                </a>
              </li>
              <li>
                <a href="/admin/all-suppliers" class="nunito text-gray-700 hover:text-black hover:bg-blue group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-bold">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.5" d="M16.4317 16.9687C17.6205 16.3205 18.3346 15.4895 18.3346 14.5834C18.3346 13.623 17.5323 12.7468 16.2127 12.0834C14.6868 11.3162 12.4694 10.8334 10.0013 10.8334C7.53324 10.8334 5.31579 11.3162 3.78989 12.0834C2.47034 12.7468 1.66797 13.623 1.66797 14.5834C1.66797 15.5438 2.47034 16.42 3.78989 17.0834C5.31579 17.8505 7.53324 18.3334 10.0013 18.3334C12.5901 18.3334 14.9032 17.8021 16.4317 16.9687Z" fill="#0E1726" fill-opacity="0.5"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4.16797 7.09549C4.16797 4.09721 6.77964 1.66663 10.0013 1.66663C13.223 1.66663 15.8346 4.09721 15.8346 7.09549C15.8346 10.0703 13.9728 13.5415 11.0681 14.783C10.3909 15.0723 9.61172 15.0723 8.93455 14.783C6.02977 13.5415 4.16797 10.0703 4.16797 7.09549ZM10.0013 9.16663C10.9218 9.16663 11.668 8.42046 11.668 7.49996C11.668 6.57948 10.9218 5.83329 10.0013 5.83329C9.0808 5.83329 8.33464 6.57948 8.33464 7.49996C8.33464 8.42046 9.0808 9.16663 10.0013 9.16663Z" fill="#0E1726" fill-opacity="0.5"/>
                  </svg>                                                                                      
                  Fornecedores
                </a>
              </li>
            </ul>
          </li>

          <div class="bg-gray-100 px-6 py-1.5">
            <p class="nunito font-bold">CRIAR</p>
          </div>

          <ul role="list" class="-mx-2 px-6 space-y-1">
            <li>
              <a href="/admin/new-technician" class="nunito text-gray-700 hover:text-black hover:bg-blue group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-bold">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7.01988 17.1817C8.48289 17.9495 9.21439 18.3334 10.0013 18.3334V10L2.19965 5.89392C2.18816 5.91239 2.17689 5.93102 2.1658 5.94985C1.66797 6.79526 1.66797 7.84728 1.66797 9.9513V10.0488C1.66797 12.1528 1.66797 13.2049 2.1658 14.0503C2.66363 14.8957 3.56016 15.3662 5.35321 16.3071L7.01988 17.1817Z" fill="#0E1726" fill-opacity="0.5"/>
                  <path opacity="0.7" d="M14.649 3.69289L12.9823 2.81827C11.5193 2.05051 10.7878 1.66663 10.0009 1.66663C9.21397 1.66663 8.48247 2.05051 7.01944 2.81827L5.35278 3.69289C3.59964 4.61289 2.70356 5.08314 2.19922 5.89383L10.0009 9.99996L17.8026 5.89383C17.2981 5.08314 16.4021 4.61289 14.649 3.69289Z" fill="#0E1726" fill-opacity="0.5"/>
                  <path opacity="0.5" d="M17.8355 5.94985C17.8244 5.93102 17.8132 5.91239 17.8017 5.89392L10 10V18.3334C10.7869 18.3334 11.5184 17.9495 12.9814 17.1817L14.6481 16.3071C16.4412 15.3662 17.3377 14.8957 17.8355 14.0503C18.3333 13.2049 18.3333 12.1528 18.3333 10.0488V9.9513C18.3333 7.84728 18.3333 6.79526 17.8355 5.94985Z" fill="#0E1726" fill-opacity="0.5"/>
                </svg>                                                                                                        
                Novo técnico
              </a>
            </li>
            <li>
              <a href="/admin/new-company" class="nunito text-gray-700 hover:text-black hover:bg-blue group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-bold">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M7.27509 4.8094L4.72331 8.26193C3.6527 9.71046 3.1174 10.4347 3.41236 11.0041C3.41724 11.0136 3.42228 11.023 3.42745 11.0322C3.73991 11.593 4.66443 11.593 6.51349 11.593C7.54102 11.593 8.05478 11.593 8.37703 11.8961L8.3937 11.9121L11.6204 8.10384L11.6037 8.0878C11.2882 7.77818 11.2882 7.28455 11.2882 6.29731V6.03923C11.2882 3.30204 11.2882 1.93344 10.5188 1.69764C9.74928 1.46184 8.92453 2.57769 7.27509 4.8094Z" fill="#0E1726" fill-opacity="0.5"/>
                  <path opacity="0.5" d="M8.70995 13.7027V13.9607C8.70995 16.6979 8.70995 18.0665 9.47937 18.3023C10.2489 18.5381 11.0736 17.4223 12.7231 15.1905L15.2749 11.738C16.3455 10.2895 16.8808 9.56529 16.5859 8.99579C16.5809 8.98637 16.5759 8.97704 16.5708 8.96779C16.2583 8.40696 15.3338 8.40696 13.4847 8.40696C12.4572 8.40696 11.9434 8.40696 11.6212 8.10388L8.39453 11.9122C8.71003 12.2218 8.70995 12.7155 8.70995 13.7027Z" fill="#0E1726" fill-opacity="0.5"/>
                </svg>                                                                
                Nova empresa
              </a>
            </li>
            <li>
              <a href="/trocar" class="nunito text-gray-700 hover:text-black hover:bg-blue group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-bold">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path opacity="0.5" d="M5.18638 3.83417C5.55685 3.58662 5.94584 3.37192 6.34889 3.19142C7.49212 2.67945 8.06373 2.42346 8.82422 2.91612C9.58464 3.4088 9.58464 4.21697 9.58464 5.8333V7.0833C9.58464 8.65462 9.58464 9.44029 10.0728 9.92846C10.561 10.4166 11.3466 10.4166 12.918 10.4166H14.168C15.7843 10.4166 16.5925 10.4166 17.0851 11.177C17.5778 11.9375 17.3218 12.5091 16.8098 13.6524C16.6293 14.0555 16.4146 14.4445 16.1671 14.8149C15.2972 16.1168 14.0608 17.1315 12.6142 17.7307C11.1676 18.3299 9.57589 18.4866 8.04018 18.1812C6.5045 17.8757 5.09388 17.1217 3.98671 16.0145C2.87955 14.9074 2.12555 13.4968 1.82009 11.9611C1.51462 10.4254 1.6714 8.83362 2.2706 7.38705C2.86979 5.94047 3.88449 4.70406 5.18638 3.83417Z" fill="#0E1726" fill-opacity="0.5"/>
                  <path d="M17.873 5.89088C17.1965 4.17363 15.8277 2.80487 14.1105 2.12836C12.8259 1.62228 11.668 2.78601 11.668 4.16672V7.50006C11.668 7.96029 12.0411 8.33337 12.5013 8.33337H15.8346C17.2154 8.33337 18.3791 7.1755 17.873 5.89088Z" fill="#0E1726" fill-opacity="0.5"/>
                </svg>                                                                
                Novo orçamento
              </a>
            </li>
            <li>
              <a href="/admin/new-admin" class="nunito text-gray-700 hover:text-black hover:bg-blue group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-bold">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path opacity="0.5" d="M10.832 12.8333C10.832 11.1048 10.832 10.2405 11.3812 9.70363C11.9304 9.16663 12.8143 9.16663 14.582 9.16663C16.3498 9.16663 17.2337 9.16663 17.7829 9.70363C18.332 10.2405 18.332 11.1048 18.332 12.8333V14.6666C18.332 16.3951 18.332 17.2594 17.7829 17.7963C17.2337 18.3333 16.3498 18.3333 14.582 18.3333C12.8143 18.3333 11.9304 18.3333 11.3812 17.7963C10.832 17.2594 10.832 16.3951 10.832 14.6666V12.8333Z" fill="#0E1726" fill-opacity="0.5"/>
                  <path d="M1.66797 7.16663C1.66797 8.89513 1.66797 9.75938 2.21714 10.2963C2.76632 10.8333 3.6502 10.8333 5.41797 10.8333C7.18574 10.8333 8.06962 10.8333 8.6188 10.2963C9.16797 9.75938 9.16797 8.89513 9.16797 7.16663V5.33329C9.16797 3.60481 9.16797 2.74057 8.6188 2.2036C8.06962 1.66663 7.18574 1.66663 5.41797 1.66663C3.6502 1.66663 2.76632 1.66663 2.21714 2.2036C1.66797 2.74057 1.66797 3.60481 1.66797 5.33329V7.16663Z" fill="#0E1726" fill-opacity="0.5"/>
                  <path d="M10.832 4.58329C10.832 3.67729 10.832 3.22429 10.9748 2.86697C11.165 2.39052 11.53 2.01198 11.9895 1.81463C12.334 1.66663 12.7709 1.66663 13.6445 1.66663H15.5195C16.3932 1.66663 16.83 1.66663 17.1745 1.81463C17.634 2.01198 17.999 2.39052 18.1893 2.86697C18.332 3.22429 18.332 3.67729 18.332 4.58329C18.332 5.48929 18.332 5.94229 18.1893 6.29962C17.999 6.77607 17.634 7.1546 17.1745 7.35195C16.83 7.49996 16.3932 7.49996 15.5195 7.49996H13.6445C12.7709 7.49996 12.334 7.49996 11.9895 7.35195C11.53 7.1546 11.165 6.77607 10.9748 6.29962C10.832 5.94229 10.832 5.48929 10.832 4.58329Z" fill="#0E1726" fill-opacity="0.5"/>
                  <path opacity="0.5" d="M1.66797 15.4167C1.66797 16.3227 1.66797 16.7757 1.81069 17.133C2.00099 17.6094 2.36601 17.988 2.82544 18.1853C3.17001 18.3333 3.60683 18.3333 4.48047 18.3333H6.35547C7.22911 18.3333 7.66593 18.3333 8.0105 18.1853C8.46997 17.988 8.83497 17.6094 9.02522 17.133C9.16797 16.7757 9.16797 16.3227 9.16797 15.4167C9.16797 14.5107 9.16797 14.0577 9.02522 13.7003C8.83497 13.2239 8.46997 12.8453 8.0105 12.648C7.66593 12.5 7.22911 12.5 6.35547 12.5H4.48047C3.60683 12.5 3.17001 12.5 2.82544 12.648C2.36601 12.8453 2.00099 13.2239 1.81069 13.7003C1.66797 14.0577 1.66797 14.5107 1.66797 15.4167Z" fill="#0E1726" fill-opacity="0.5"/>
                </svg>                                                                
                Novo administrador
              </a>
            </li>
            <li>
              <a href="/admin/new-supplier" class="nunito text-gray-700 hover:text-black hover:bg-blue group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-bold">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path opacity="0.5" d="M1.66797 9.99996C1.66797 5.39758 5.39893 1.66663 10.0013 1.66663C14.6036 1.66663 18.3346 5.39758 18.3346 9.99996C18.3346 14.6023 14.6036 18.3333 10.0013 18.3333C5.39893 18.3333 1.66797 14.6023 1.66797 9.99996Z" fill="#0E1726" fill-opacity="0.5"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M10 5.625C7.58375 5.625 5.625 7.58375 5.625 10C5.625 12.4162 7.58375 14.375 10 14.375C10.3452 14.375 10.625 14.6548 10.625 15C10.625 15.3452 10.3452 15.625 10 15.625C6.8934 15.625 4.375 13.1066 4.375 10C4.375 6.8934 6.8934 4.375 10 4.375C13.1066 4.375 15.625 6.8934 15.625 10C15.625 10.6752 15.5058 11.3241 15.2866 11.9257C15.1758 12.2297 14.9879 12.4777 14.7795 12.67L14.7123 12.7319C14.0376 13.3543 13.0245 13.4342 12.2606 12.9249C11.9526 12.7196 11.7131 12.4361 11.5612 12.1104C11.1249 12.4338 10.5847 12.625 10 12.625C8.55025 12.625 7.375 11.4497 7.375 10C7.375 8.55025 8.55025 7.375 10 7.375C11.4497 7.375 12.625 8.55025 12.625 10V11.2701C12.625 11.5172 12.7484 11.7478 12.954 11.8848C13.2377 12.074 13.6141 12.0444 13.8647 11.8132L13.9319 11.7512C14.0246 11.6657 14.0826 11.5787 14.1121 11.4978C14.282 11.0313 14.375 10.5272 14.375 10C14.375 7.58375 12.4162 5.625 10 5.625ZM10 8.625C10.7594 8.625 11.375 9.24058 11.375 10C11.375 10.7594 10.7594 11.375 10 11.375C9.24058 11.375 8.625 10.7594 8.625 10C8.625 9.24058 9.24058 8.625 10 8.625Z" fill="#0E1726" fill-opacity="0.5"/>
                </svg>                                                                
                Novo fornecedor
              </a>
            </li>
            <li class="mt-auto">
              <a href="/admin/account" class="nunito group -mx-2 flex gap-x-3 rounded-md p-2 text-sm font-bold leading-6 text-gray-700 hover:bg-blue hover:text-black">
                <svg class="h-6 w-6 shrink-0 text-gray-700 group-hover:text-black" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M9.594 3.94c.09-.542.56-.94 1.11-.94h2.593c.55 0 1.02.398 1.11.94l.213 1.281c.063.374.313.686.645.87.074.04.147.083.22.127.324.196.72.257 1.075.124l1.217-.456a1.125 1.125 0 011.37.49l1.296 2.247a1.125 1.125 0 01-.26 1.431l-1.003.827c-.293.24-.438.613-.431.992a6.759 6.759 0 010 .255c-.007.378.138.75.43.99l1.005.828c.424.35.534.954.26 1.43l-1.298 2.247a1.125 1.125 0 01-1.369.491l-1.217-.456c-.355-.133-.75-.072-1.076.124a6.57 6.57 0 01-.22.128c-.331.183-.581.495-.644.869l-.213 1.28c-.09.543-.56.941-1.11.941h-2.594c-.55 0-1.02-.398-1.11-.94l-.213-1.281c-.062-.374-.312-.686-.644-.87a6.52 6.52 0 01-.22-.127c-.325-.196-.72-.257-1.076-.124l-1.217.456a1.125 1.125 0 01-1.369-.49l-1.297-2.247a1.125 1.125 0 01.26-1.431l1.004-.827c.292-.24.437-.613.43-.992a6.932 6.932 0 010-.255c.007-.378-.138-.75-.43-.99l-1.004-.828a1.125 1.125 0 01-.26-1.43l1.297-2.247a1.125 1.125 0 011.37-.491l1.216.456c.356.133.751.072 1.076-.124.072-.044.146-.087.22-.128.332-.183.582-.495.644-.869l.214-1.281z" />
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                </svg>
                Configurações
              </a>
            </li>
          </ul>
        </ul>
      </nav>
    </div>
  </div>

  <div class="hidden lg:fixed lg:inset-y-0 lg:z-50 lg:flex lg:w-70 lg:flex-col">
    <div class="flex grow h-full flex-col gap-y-5 overflow-y-auto bg-white shadow-xl pb-4">
      <div class="flex justify-between h-16 shrink-0 items-center px-6 mt-6">
        <img class="h-20 w-auto" src="/img/login/logo.png" alt="Logo Moreira Refrigeração">
        <button>
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_154_97)">
            <path d="M10.832 15.8333L5.83203 9.99996L10.832 4.16663" stroke="#0E1726" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
            <path opacity="0.5" d="M14.168 15.8333L9.16797 9.99996L14.168 4.16663" stroke="#0E1726" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
            <defs>
            <clipPath id="clip0_154_97">
            <rect width="20" height="20" fill="white"/>
            </clipPath>
            </defs>
          </svg>                        
        </button>
      </div>
      <nav class="flex flex-1 flex-col mt-2">
        <ul role="list" class="flex flex-1 flex-col gap-y-4">
          <li>
            <ul role="list" class="-mx-2 px-6 space-y-1">
              <li>
                <a href="/admin" class="nunito text-gray-700 hover:text-black hover:bg-blue group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-bold">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.5" d="M1.66797 10.1699C1.66797 8.26287 1.66797 7.30936 2.10064 6.51891C2.5333 5.72847 3.32376 5.23788 4.90466 4.25673L6.57133 3.22235C8.24246 2.1852 9.07805 1.66663 10.0013 1.66663C10.9246 1.66663 11.7601 2.1852 13.4313 3.22235L15.098 4.25673C16.6789 5.23788 17.4693 5.72847 17.902 6.51891C18.3346 7.30936 18.3346 8.26287 18.3346 10.1699V11.4375C18.3346 14.6881 18.3346 16.3135 17.3583 17.3234C16.3821 18.3333 14.8106 18.3333 11.668 18.3333H8.33464C5.19194 18.3333 3.62059 18.3333 2.64428 17.3234C1.66797 16.3135 1.66797 14.6881 1.66797 11.4375V10.1699Z" fill="#0E1726" fill-opacity="0.5"/>
                    <path d="M7.5 14.375C7.15483 14.375 6.875 14.6548 6.875 15C6.875 15.3452 7.15483 15.625 7.5 15.625H12.5C12.8452 15.625 13.125 15.3452 13.125 15C13.125 14.6548 12.8452 14.375 12.5 14.375H7.5Z" fill="#0E1726" fill-opacity="0.5"/>
                  </svg>                                       
                  Dashboard
                </a>
              </li>
              <li>
                <a href="/admin/all-calls" class="nunito text-gray-700 hover:text-black hover:bg-blue group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-bold">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.66836 18.7331L8.89761 18.3458C9.26495 17.7252 9.44861 17.4149 9.7412 17.2418C10.0339 17.0687 10.4154 17.0565 11.1788 17.0321C11.8945 17.0092 12.3756 16.9467 12.7869 16.7764C13.6529 16.4177 14.3409 15.7297 14.6995 14.8637C14.9686 14.2142 14.9686 13.3909 14.9686 11.7442V11.0373C14.9686 8.72358 14.9686 7.56671 14.4478 6.71686C14.1564 6.24131 13.7565 5.8415 13.281 5.55009C12.4312 5.0293 11.2743 5.0293 8.96053 5.0293H6.84006C4.52631 5.0293 3.36944 5.0293 2.51959 5.55009C2.04405 5.8415 1.64423 6.24131 1.35282 6.71686C0.832031 7.56671 0.832031 8.72358 0.832031 11.0373V11.7442C0.832031 13.3909 0.832031 14.2142 1.10105 14.8637C1.45975 15.7297 2.14775 16.4177 3.01371 16.7764C3.42501 16.9467 3.90605 17.0092 4.62178 17.0321C5.3851 17.0565 5.76676 17.0687 6.05935 17.2418C6.35195 17.4149 6.53562 17.7252 6.90298 18.3458L7.1322 18.7331C7.47371 19.3101 8.32686 19.3101 8.66836 18.7331ZM10.9927 12.0976C11.4806 12.0976 11.8762 11.702 11.8762 11.214C11.8762 10.7261 11.4806 10.3305 10.9927 10.3305C10.5047 10.3305 10.1091 10.7261 10.1091 11.214C10.1091 11.702 10.5047 12.0976 10.9927 12.0976ZM8.78386 11.214C8.78386 11.702 8.38828 12.0976 7.90031 12.0976C7.41234 12.0976 7.01677 11.702 7.01677 11.214C7.01677 10.7261 7.41234 10.3305 7.90031 10.3305C8.38828 10.3305 8.78386 10.7261 8.78386 11.214ZM4.80793 12.0976C5.2959 12.0976 5.69147 11.702 5.69147 11.214C5.69147 10.7261 5.2959 10.3305 4.80793 10.3305C4.31997 10.3305 3.9244 10.7261 3.9244 11.214C3.9244 11.702 4.31997 12.0976 4.80793 12.0976Z" fill="#0E1726" fill-opacity="0.5"/>
                    <path opacity="0.5" d="M12.9053 0.833374C13.9611 0.833367 14.8006 0.833362 15.4739 0.897382C16.1642 0.963024 16.748 1.10062 17.268 1.41927C17.803 1.74711 18.2527 2.1969 18.5806 2.73188C18.8992 3.25187 19.0368 3.83558 19.1025 4.52597C19.1665 5.19927 19.1665 6.03886 19.1665 7.09457V7.81562C19.1665 8.56696 19.1665 9.16462 19.1334 9.64921C19.0996 10.145 19.029 10.5707 18.8638 10.9694C18.4603 11.9436 17.6863 12.7176 16.7121 13.1211C16.6877 13.1312 16.6632 13.141 16.6387 13.1504C16.5211 13.1953 16.4202 13.2339 16.3318 13.2625H14.9567C14.9702 12.8467 14.9702 12.3515 14.9702 11.7442V11.0374C14.9702 8.72362 14.9702 7.56676 14.4494 6.7169C14.158 6.24136 13.7582 5.84154 13.2827 5.55013C12.4328 5.02934 11.2759 5.02934 8.96216 5.02934H6.84169C6.02052 5.02934 5.34507 5.02934 4.77734 5.05262V3.67729C4.8046 3.58282 4.84195 3.47455 4.88579 3.34746C4.96034 3.1313 5.05457 2.92687 5.17406 2.73188C5.50189 2.1969 5.95169 1.74711 6.48667 1.41927C7.00665 1.10062 7.59037 0.963024 8.28075 0.897382C8.95408 0.833362 9.79358 0.833367 10.8493 0.833374H12.9053Z" fill="#0E1726" fill-opacity="0.5"/>
                  </svg>                                                                                      
                  Chamados
                </a>
              </li>
              <li>
                <a href="/admin/invoices" class="nunito text-gray-700 hover:text-black hover:bg-blue group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-bold">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.5" fill-rule="evenodd" clip-rule="evenodd" d="M18.3346 9.99996C18.3346 14.6023 14.6036 18.3333 10.0013 18.3333C5.39893 18.3333 1.66797 14.6023 1.66797 9.99996C1.66797 5.39758 5.39893 1.66663 10.0013 1.66663C14.6036 1.66663 18.3346 5.39758 18.3346 9.99996Z" fill="#0E1726" fill-opacity="0.5"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10 4.375C10.3452 4.375 10.625 4.65483 10.625 5V5.26394C11.9837 5.50722 13.125 6.52801 13.125 7.91667C13.125 8.26184 12.8452 8.54167 12.5 8.54167C12.1548 8.54167 11.875 8.26184 11.875 7.91667C11.875 7.35128 11.4049 6.75282 10.625 6.53957V9.43058C11.9837 9.67392 13.125 10.6947 13.125 12.0833C13.125 13.472 11.9837 14.4927 10.625 14.7361V15C10.625 15.3452 10.3452 15.625 10 15.625C9.65483 15.625 9.375 15.3452 9.375 15V14.7361C8.01631 14.4927 6.875 13.472 6.875 12.0833C6.875 11.7382 7.15483 11.4583 7.5 11.4583C7.84517 11.4583 8.125 11.7382 8.125 12.0833C8.125 12.6487 8.59508 13.2472 9.375 13.4604V10.5694C8.01631 10.3261 6.875 9.30533 6.875 7.91667C6.875 6.52801 8.01631 5.50722 9.375 5.26394V5C9.375 4.65483 9.65483 4.375 10 4.375ZM9.375 6.53957C8.59508 6.75282 8.125 7.35128 8.125 7.91667C8.125 8.48208 8.59508 9.0805 9.375 9.29375V6.53957ZM11.875 12.0833C11.875 11.5179 11.4049 10.9195 10.625 10.7062V13.4604C11.4049 13.2472 11.875 12.6487 11.875 12.0833Z" fill="#0E1726" fill-opacity="0.5"/>
                  </svg>                                                                                      
                  Faturamento
                </a>
              </li>
              <li>
                <a href="/admin/all-companies" class="nunito text-gray-700 hover:text-black hover:bg-blue group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-bold">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_315_2)">
                    <path d="M19.1425 19.375H17.1069C17.0454 19.375 16.9864 19.3506 16.9429 19.3071C16.8994 19.2636 16.875 19.2046 16.875 19.1431V9.62937C16.875 9.48812 16.9888 9.37437 17.13 9.37437H18.7469C19.0938 9.37437 19.375 9.65562 19.375 10.0025V19.1419C19.3751 19.1724 19.3691 19.2027 19.3575 19.2309C19.3458 19.2592 19.3287 19.2849 19.3071 19.3065C19.2855 19.3281 19.2598 19.3452 19.2316 19.3568C19.2033 19.3685 19.1731 19.3751 19.1425 19.375ZM2.8925 19.375H0.856875C0.795378 19.375 0.7364 19.3506 0.692915 19.3071C0.64943 19.2636 0.625 19.2046 0.625 19.1431V10.0031C0.625 9.65625 0.90625 9.375 1.25313 9.375H2.87C3.01063 9.375 3.125 9.48875 3.125 9.63V19.1425C3.12508 19.173 3.11915 19.2032 3.10753 19.2314C3.09591 19.2596 3.07885 19.2853 3.05731 19.3069C3.03577 19.3285 3.01018 19.3456 2.982 19.3573C2.95383 19.369 2.92363 19.375 2.89313 19.375H2.8925ZM14.7875 1.875H14.0313C13.9469 1.87559 13.8641 1.85246 13.7923 1.80826C13.7204 1.76405 13.6625 1.70055 13.625 1.625L13.3687 1.11875C13.2125 0.81875 12.9063 0.625 12.5625 0.625H7.425C7.09375 0.625 6.7875 0.8125 6.6375 1.1125L6.375 1.625C6.33752 1.70055 6.27956 1.76405 6.20773 1.80826C6.1359 1.85246 6.05309 1.87559 5.96875 1.875H5.2125C4.75 1.875 4.375 2.25 4.375 2.7125V19.1437C4.375 19.2687 4.48125 19.375 4.60625 19.375H7.89375C8.01875 19.375 8.125 19.2687 8.125 19.1437V16.9813C8.125 15.9813 8.8625 15.075 9.8625 15.0063C10.4375 14.9625 10.9563 15.1812 11.325 15.55C11.6625 15.8875 11.875 16.3563 11.875 16.875V19.1437C11.875 19.2687 11.9813 19.375 12.1063 19.375H15.3937C15.5187 19.375 15.625 19.2687 15.625 19.1437V2.7125C15.625 2.25 15.25 1.875 14.7875 1.875ZM8.75 12.8375C8.75 13 8.625 13.125 8.4625 13.125H7.1625C7 13.125 6.875 13 6.875 12.8375V11.5375C6.875 11.375 7 11.25 7.1625 11.25H8.4625C8.625 11.25 8.75 11.375 8.75 11.5375V12.8375ZM8.75 9.0875C8.75 9.25 8.625 9.375 8.4625 9.375H7.1625C7 9.375 6.875 9.25 6.875 9.0875V7.7875C6.875 7.625 7 7.5 7.1625 7.5H8.4625C8.625 7.5 8.75 7.625 8.75 7.7875V9.0875ZM8.75 5.3375C8.75 5.5 8.625 5.625 8.4625 5.625H7.1625C7 5.625 6.875 5.5 6.875 5.3375V4.0375C6.875 3.875 7 3.75 7.1625 3.75H8.4625C8.625 3.75 8.75 3.875 8.75 4.0375V5.3375ZM13.125 12.8375C13.125 13 13 13.125 12.8375 13.125H11.5375C11.375 13.125 11.25 13 11.25 12.8375V11.5375C11.25 11.375 11.375 11.25 11.5375 11.25H12.8375C13 11.25 13.125 11.375 13.125 11.5375V12.8375ZM13.125 9.0875C13.125 9.25 13 9.375 12.8375 9.375H11.5375C11.375 9.375 11.25 9.25 11.25 9.0875V7.7875C11.25 7.625 11.375 7.5 11.5375 7.5H12.8375C13 7.5 13.125 7.625 13.125 7.7875V9.0875ZM13.125 5.3375C13.125 5.5 13 5.625 12.8375 5.625H11.5375C11.375 5.625 11.25 5.5 11.25 5.3375V4.0375C11.25 3.875 11.375 3.75 11.5375 3.75H12.8375C13 3.75 13.125 3.875 13.125 4.0375V5.3375Z" fill="#0E1726" fill-opacity="0.5"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_315_2">
                    <rect width="20" height="20" fill="white"/>
                    </clipPath>
                    </defs>
                  </svg>                                                                                                      
                  Empresas
                </a>
              </li>
              <li>
                <a href="/admin/all-reports" class="nunito text-gray-700 hover:text-black hover:bg-blue group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-bold">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.5" d="M2.5 8.33329C2.5 5.19059 2.5 3.61925 3.47631 2.64293C4.45262 1.66663 6.02397 1.66663 9.16667 1.66663H10.8333C13.976 1.66663 15.5474 1.66663 16.5237 2.64293C17.5 3.61925 17.5 5.19059 17.5 8.33329V11.6666C17.5 14.8093 17.5 16.3807 16.5237 17.357C15.5474 18.3333 13.976 18.3333 10.8333 18.3333H9.16667C6.02397 18.3333 4.45262 18.3333 3.47631 17.357C2.5 16.3807 2.5 14.8093 2.5 11.6666V8.33329Z" fill="#0E1726" fill-opacity="0.5"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M6.04297 10C6.04297 9.65483 6.32279 9.375 6.66797 9.375H13.3346C13.6798 9.375 13.9596 9.65483 13.9596 10C13.9596 10.3452 13.6798 10.625 13.3346 10.625H6.66797C6.32279 10.625 6.04297 10.3452 6.04297 10Z" fill="#0E1726" fill-opacity="0.5"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M6.04297 6.66663C6.04297 6.32145 6.32279 6.04163 6.66797 6.04163H13.3346C13.6798 6.04163 13.9596 6.32145 13.9596 6.66663C13.9596 7.0118 13.6798 7.29163 13.3346 7.29163H6.66797C6.32279 7.29163 6.04297 7.0118 6.04297 6.66663Z" fill="#0E1726" fill-opacity="0.5"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M6.04297 13.3334C6.04297 12.9882 6.32279 12.7084 6.66797 12.7084H10.8346C11.1798 12.7084 11.4596 12.9882 11.4596 13.3334C11.4596 13.6785 11.1798 13.9584 10.8346 13.9584H6.66797C6.32279 13.9584 6.04297 13.6785 6.04297 13.3334Z" fill="#0E1726" fill-opacity="0.5"/>
                  </svg>                                                                                                  
                  Relatórios
                </a>
              </li>
              <li>
                <a href="" class="nunito text-gray-700 hover:text-black hover:bg-blue group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-bold">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_315_8)">
                    <path d="M15.7698 8.55774H4.23137L3.53906 11.6347H16.4621L15.7698 8.55774Z" fill="#0E1726" fill-opacity="0.5"/>
                    <path d="M18.2692 2.59619H1.73078C0.776406 2.59619 0 3.3726 0 4.32693V9.90385C0 10.8582 0.776406 11.6346 1.73078 11.6346H2.35578L3.20641 7.85416C3.23516 7.72635 3.30655 7.61212 3.40885 7.53028C3.51114 7.44844 3.63825 7.40385 3.76926 7.40385H16.2308C16.3618 7.40385 16.4889 7.44844 16.5912 7.53028C16.6935 7.61212 16.7649 7.72635 16.7936 7.85416L17.6443 11.6346H18.2693C19.2236 11.6346 20 10.8582 20 9.90385V4.32693C20 3.3726 19.2236 2.59619 18.2692 2.59619ZM13.0769 6.63463H12.3077C11.9891 6.63463 11.7308 6.37631 11.7308 6.05771C11.7308 5.73912 11.9891 5.4808 12.3077 5.4808H13.0769C13.3955 5.4808 13.6538 5.73912 13.6538 6.05771C13.6538 6.37631 13.3955 6.63463 13.0769 6.63463ZM15.7692 6.63463H15C14.6814 6.63463 14.4231 6.37631 14.4231 6.05771C14.4231 5.73912 14.6814 5.4808 15 5.4808H15.7692C16.0879 5.4808 16.3461 5.73912 16.3461 6.05771C16.3461 6.37631 16.0879 6.63463 15.7692 6.63463ZM10.3846 14.2627C10.3846 14.1021 10.4146 14.0521 10.4947 13.9186C10.604 13.7364 10.7692 13.4611 10.7692 12.9808C10.7692 12.6622 10.5109 12.4039 10.1923 12.4039C9.87371 12.4039 9.61539 12.6622 9.61539 12.9808C9.61539 13.1415 9.58543 13.1914 9.50531 13.3249C9.39598 13.5071 9.23078 13.7824 9.23078 14.2627C9.23078 14.743 9.39598 15.0184 9.50527 15.2006C9.58539 15.3342 9.61539 15.3841 9.61539 15.5448C9.61539 15.7055 9.58543 15.7556 9.50527 15.889C9.39598 16.0713 9.23078 16.3466 9.23078 16.8269C9.23078 17.1456 9.4891 17.4038 9.8077 17.4038C10.1263 17.4038 10.3846 17.1455 10.3846 16.8269C10.3846 16.6662 10.4146 16.6162 10.4947 16.4827C10.604 16.3005 10.7692 16.0252 10.7692 15.5448C10.7692 15.0645 10.604 14.7892 10.4947 14.6069C10.4146 14.4734 10.3846 14.4235 10.3846 14.2627ZM7.3077 14.2627C7.3077 14.1021 7.33766 14.0521 7.41777 13.9186C7.52711 13.7364 7.6923 13.4611 7.6923 12.9808C7.6923 12.6622 7.43398 12.4039 7.11539 12.4039C6.7968 12.4039 6.53848 12.6622 6.53848 12.9808C6.53848 13.1415 6.50852 13.1914 6.4284 13.3249C6.31906 13.5071 6.15387 13.7824 6.15387 14.2627C6.15387 14.743 6.31906 15.0184 6.42836 15.2006C6.50848 15.3342 6.53848 15.3841 6.53848 15.5448C6.53848 15.7055 6.50852 15.7556 6.42836 15.889C6.31906 16.0713 6.15387 16.3466 6.15387 16.8269C6.15387 17.1456 6.41219 17.4038 6.73078 17.4038C7.04937 17.4038 7.3077 17.1455 7.3077 16.8269C7.3077 16.6662 7.33766 16.6162 7.41781 16.4827C7.52711 16.3005 7.6923 16.0252 7.6923 15.5448C7.6923 15.0645 7.52711 14.7892 7.41781 14.6069C7.3377 14.4734 7.3077 14.4235 7.3077 14.2627ZM13.4615 14.2627C13.4615 14.1021 13.4915 14.0521 13.5716 13.9186C13.6809 13.7364 13.8461 13.4611 13.8461 12.9808C13.8461 12.6622 13.5878 12.4039 13.2692 12.4039C12.9506 12.4039 12.6923 12.6622 12.6923 12.9808C12.6923 13.1415 12.6623 13.1914 12.5822 13.3249C12.4729 13.5071 12.3077 13.7824 12.3077 14.2627C12.3077 14.743 12.4729 15.0184 12.5822 15.2006C12.6623 15.3342 12.6923 15.3841 12.6923 15.5448C12.6923 15.7055 12.6623 15.7556 12.5822 15.889C12.4729 16.0713 12.3077 16.3466 12.3077 16.8269C12.3077 17.1456 12.566 17.4038 12.8846 17.4038C13.2032 17.4038 13.4615 17.1455 13.4615 16.8269C13.4615 16.6662 13.4915 16.6162 13.5716 16.4827C13.6809 16.3005 13.8461 16.0252 13.8461 15.5448C13.8461 15.0645 13.6809 14.7892 13.5716 14.6069C13.4915 14.4734 13.4615 14.4235 13.4615 14.2627Z" fill="#0E1726" fill-opacity="0.5"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_315_8">
                    <rect width="20" height="20" fill="white"/>
                    </clipPath>
                    </defs>
                  </svg>                                                                                    
                  Equipamentos
                </a>
              </li>
              <li>
                <a href="/admin/all-suppliers" class="nunito text-gray-700 hover:text-black hover:bg-blue group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-bold">
                  <svg width="15" height="19" viewBox="0 0 15 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.7001 0H9.69408C8.77362 0 8.02416 0.749424 8.02416 1.66992V2.67158H7.17064C6.86319 2.67158 6.614 2.92092 6.614 3.22822C6.614 3.53567 6.86319 3.78486 7.17064 3.78486H8.03622C8.17783 5.41348 9.54524 6.67954 11.197 6.67954C12.9493 6.67954 14.37 5.25881 14.37 3.50654V1.66992C14.37 0.749424 13.6206 0 12.7001 0ZM9.89993 8.07244C9.49659 8.25468 9.13551 8.51873 8.83956 8.84784L5.84706 11.912H1.66992C0.750314 11.912 0 12.6624 0 13.582C0 14.5015 0.750463 15.252 1.66992 15.252H6.34585C6.85885 15.252 7.36736 15.1231 7.74933 14.7384L8.24696 14.2374V18.4431C8.24696 18.7127 8.43845 18.9487 8.69287 19L13.8141 18.9997C14.1211 18.9994 14.37 18.7503 14.37 18.4431V10.9657C14.37 8.67981 11.9956 7.1266 9.89993 8.07244Z" fill="#0E1726" fill-opacity="0.5"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.52539 10.7987H5.53332C5.84081 10.7987 6.08997 10.5495 6.08997 10.2421V6.27136C6.08997 5.96391 5.84081 5.71472 5.53332 5.71472H4.08606V6.67088C4.08606 6.97834 3.83675 7.22753 3.52941 7.22753C3.22196 7.22753 2.97277 6.97834 2.97277 6.67088V5.71472H1.52539C1.21805 5.71472 0.96875 5.96391 0.96875 6.27136V10.2421C0.96875 10.5495 1.21805 10.7987 1.52539 10.7987Z" fill="#0E1726" fill-opacity="0.5"/>
                  </svg>                                                                                                          
                  Fornecedores
                </a>
              </li>
            </ul>
          </li>

          <div class="bg-gray-100 px-6 py-1.5">
            <p class="nunito font-bold">USUÁRIOS</p>
          </div>

          <ul role="list" class="-mx-2 px-6 space-y-1">
            <li>
              <a href="/admin/administrators" class="nunito text-gray-700 hover:text-black hover:bg-blue group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-bold">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_315_22)">
                  <path d="M19.9477 7.28053C19.8836 7.08268 19.7628 6.90802 19.6003 6.77824C19.4378 6.64846 19.2407 6.56927 19.0336 6.55051L13.2601 6.02636L10.9785 0.684472C10.81 0.292004 10.4267 0.0387573 10.0001 0.0387573C9.57341 0.0387573 9.18996 0.292004 9.02258 0.684472L6.74089 6.02636L0.966574 6.55051C0.543247 6.58958 0.184803 6.8763 0.0523786 7.28053C-0.0121484 7.47855 -0.0171677 7.69115 0.0379424 7.89199C0.0930526 8.09284 0.205871 8.27311 0.362423 8.41047L4.72668 12.2373L3.4399 17.9048C3.34576 18.3215 3.50748 18.7525 3.85327 19.0024C4.03437 19.1342 4.25262 19.2051 4.4766 19.2049C4.66858 19.2049 4.85697 19.1528 5.02165 19.0541L10.0001 16.0774L14.9776 19.0541C15.1561 19.161 15.3621 19.213 15.57 19.2038C15.7779 19.1946 15.9785 19.1246 16.1469 19.0024C16.4926 18.7525 16.6544 18.3215 16.5602 17.9048L15.2734 12.2373L19.6377 8.41051C19.7943 8.27316 19.9071 8.09289 19.9622 7.89204C20.0173 7.69119 20.0123 7.47858 19.9477 7.28056V7.28053Z" fill="#0E1726" fill-opacity="0.5"/>
                  </g>
                  <defs>
                  <clipPath id="clip0_315_22">
                  <rect width="20" height="20" fill="white"/>
                  </clipPath>
                  </defs>
                </svg>                                                                                                                          
                Administradores
              </a>
            </li>
            <li>
              <a href="/admin/technicians" class="nunito text-gray-700 hover:text-black hover:bg-blue group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-bold">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_315_25)">
                  <path d="M14.7079 4.0378H15.981C16.147 4.0378 16.3033 3.95965 16.4029 3.82686L17.8945 1.83814C17.9706 1.73659 18.0076 1.61097 17.9986 1.48435C17.9896 1.35773 17.9352 1.2386 17.8455 1.14883L16.8511 0.154474C16.7614 0.0647075 16.6422 0.010331 16.5156 0.00132847C16.389 -0.00767409 16.2634 0.0293015 16.1618 0.105466L14.1731 1.59704C14.1076 1.64616 14.0544 1.70986 14.0178 1.78308C13.9812 1.85631 13.9621 1.93705 13.9621 2.01892V3.29203L10.3672 6.88697L11.113 7.63274L14.7079 4.0378Z" fill="#0E1726" fill-opacity="0.5"/>
                  <path d="M16.9207 11.7003C15.8334 10.6129 14.2309 10.3473 12.8916 10.9029L7.0971 5.10837C7.65271 3.7691 7.38707 2.16664 6.29972 1.07929C5.33482 0.114393 3.96436 -0.203454 2.73206 0.125432C2.34116 0.229776 2.21259 0.72105 2.4987 1.00712L4.43081 2.93923L2.93927 4.43077L1.00712 2.49869C0.72102 2.21262 0.229746 2.34119 0.125437 2.73209C-0.203449 3.96435 0.114398 5.33485 1.0793 6.29975C2.16664 7.3871 3.7691 7.65274 5.10838 7.09713L10.9029 12.8917C10.3473 14.2309 10.6129 15.8334 11.7003 16.9207C12.6652 17.8856 14.0357 18.2035 15.2679 17.8746C15.6588 17.7702 15.7874 17.279 15.5013 16.9929L13.5692 15.0608L15.0608 13.5693L16.9929 15.5014C17.279 15.7875 17.7703 15.6589 17.8746 15.268C18.2034 14.0356 17.8856 12.6652 16.9207 11.7003ZM0.360387 14.9051C-0.120129 15.3856 -0.120129 16.1647 0.360387 16.6452L1.35475 17.6396C1.83526 18.1201 2.61436 18.1201 3.09487 17.6396L3.81934 16.9151L1.08485 14.1806L0.360387 14.9051Z" fill="#0E1726" fill-opacity="0.5"/>
                  <path d="M7.22215 11.5211L7.63021 11.113L6.88444 10.3673L6.47638 10.7753L6.3521 10.651C5.87159 10.1705 5.09249 10.1705 4.61197 10.651L1.82812 13.4349L4.56265 16.1694L7.3465 13.3855C7.82701 12.905 7.82701 12.1259 7.3465 11.6454L7.22215 11.5211Z" fill="#0E1726" fill-opacity="0.5"/>
                  </g>
                  <defs>
                  <clipPath id="clip0_315_25">
                  <rect width="18" height="18" fill="white"/>
                  </clipPath>
                  </defs>
                </svg>                                                                                  
                Técnicos
              </a>
            </li>
            <li>
              <a href="/trocar" class="nunito text-gray-700 hover:text-black hover:bg-blue group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-bold">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_315_34)">
                  <path d="M9.00164 8.80318C11.0029 8.80318 12.6255 6.83254 12.6255 4.40162C12.6255 1.97064 12.0928 0 9.00164 0C5.91053 0 5.37773 1.97064 5.37773 4.40162C5.37773 6.83254 7.00025 8.80318 9.00164 8.80318ZM2.15696 15.5239C2.15635 15.3757 2.15573 15.4821 2.15696 15.5239ZM15.846 15.6396C15.848 15.5991 15.8467 15.3581 15.846 15.6396Z" fill="#0E1726" fill-opacity="0.5"/>
                  <path d="M15.8376 15.3461C15.7705 11.1114 15.2175 9.90475 10.9852 9.14093C10.9852 9.14093 10.3895 9.90007 9.00093 9.90007C7.61236 9.90007 7.01651 9.14093 7.01651 9.14093C2.83048 9.89642 2.24378 11.0852 2.16664 15.2086C2.16031 15.5453 2.15738 15.563 2.15625 15.5239C2.15651 15.5971 2.15682 15.7326 2.15682 15.9688C2.15682 15.9688 3.1644 18 9.00093 18C14.8374 18 15.845 15.9688 15.845 15.9688C15.845 15.817 15.8451 15.7115 15.8453 15.6397C15.8442 15.6639 15.8419 15.617 15.8376 15.3461Z" fill="#0E1726" fill-opacity="0.5"/>
                  </g>
                  <defs>
                  <clipPath id="clip0_315_34">
                  <rect width="18" height="18" fill="white"/>
                  </clipPath>
                  </defs>
                </svg>                                                                                  
                Usuários de teste
              </a>
            </li>
          </ul>

          <div class="bg-gray-100 px-6 py-1.5">
            <p class="nunito font-bold">CRIAR</p>
          </div>

          <ul role="list" class="-mx-2 px-6 space-y-1">
            <li>
              <a href="/admin/new-technician" class="nunito text-gray-700 hover:text-black hover:bg-blue group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-bold">
                <svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_281_38)">
                  <mask id="mask0_281_38" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="19" height="20">
                  <path d="M18.75 0H0V20H18.75V0Z" fill="white"/>
                  </mask>
                  <g mask="url(#mask0_281_38)">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.375 19.375C14.5526 19.375 18.75 15.1776 18.75 10C18.75 4.82233 14.5526 0.625 9.375 0.625C4.19733 0.625 0 4.82233 0 10C0 15.1776 4.19733 19.375 9.375 19.375ZM7.97795 9.35604V6.32793L10.8387 6.32457V7.83863V9.35269H13.861V11.686H10.8387V14.7084H7.97795V11.686H5V10.625V9.375L7.97795 9.35604Z" fill="#0E1726" fill-opacity="0.5"/>
                  </g>
                  </g>
                  <defs>
                  <clipPath id="clip0_281_38">
                  <rect width="18.75" height="20" fill="white"/>
                  </clipPath>
                  </defs>
                </svg>                                                                                                        
                Novo técnico
              </a>
            </li>
            <li>
              <a href="/admin/new-company" class="nunito text-gray-700 hover:text-black hover:bg-blue group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-bold">
                <svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_281_38)">
                  <mask id="mask0_281_38" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="19" height="20">
                  <path d="M18.75 0H0V20H18.75V0Z" fill="white"/>
                  </mask>
                  <g mask="url(#mask0_281_38)">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.375 19.375C14.5526 19.375 18.75 15.1776 18.75 10C18.75 4.82233 14.5526 0.625 9.375 0.625C4.19733 0.625 0 4.82233 0 10C0 15.1776 4.19733 19.375 9.375 19.375ZM7.97795 9.35604V6.32793L10.8387 6.32457V7.83863V9.35269H13.861V11.686H10.8387V14.7084H7.97795V11.686H5V10.625V9.375L7.97795 9.35604Z" fill="#0E1726" fill-opacity="0.5"/>
                  </g>
                  </g>
                  <defs>
                  <clipPath id="clip0_281_38">
                  <rect width="18.75" height="20" fill="white"/>
                  </clipPath>
                  </defs>
                </svg>                                                                
                Nova empresa
              </a>
            </li>
            <li>
              <a href="/trocar" class="nunito text-gray-700 hover:text-black hover:bg-blue group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-bold">
                <svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_281_38)">
                  <mask id="mask0_281_38" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="19" height="20">
                  <path d="M18.75 0H0V20H18.75V0Z" fill="white"/>
                  </mask>
                  <g mask="url(#mask0_281_38)">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.375 19.375C14.5526 19.375 18.75 15.1776 18.75 10C18.75 4.82233 14.5526 0.625 9.375 0.625C4.19733 0.625 0 4.82233 0 10C0 15.1776 4.19733 19.375 9.375 19.375ZM7.97795 9.35604V6.32793L10.8387 6.32457V7.83863V9.35269H13.861V11.686H10.8387V14.7084H7.97795V11.686H5V10.625V9.375L7.97795 9.35604Z" fill="#0E1726" fill-opacity="0.5"/>
                  </g>
                  </g>
                  <defs>
                  <clipPath id="clip0_281_38">
                  <rect width="18.75" height="20" fill="white"/>
                  </clipPath>
                  </defs>
                </svg>                                                                
                Novo orçamento
              </a>
            </li>
            <li>
              <a href="/admin/new-admin" class="nunito text-gray-700 hover:text-black hover:bg-blue group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-bold">
                <svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_281_38)">
                  <mask id="mask0_281_38" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="19" height="20">
                  <path d="M18.75 0H0V20H18.75V0Z" fill="white"/>
                  </mask>
                  <g mask="url(#mask0_281_38)">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.375 19.375C14.5526 19.375 18.75 15.1776 18.75 10C18.75 4.82233 14.5526 0.625 9.375 0.625C4.19733 0.625 0 4.82233 0 10C0 15.1776 4.19733 19.375 9.375 19.375ZM7.97795 9.35604V6.32793L10.8387 6.32457V7.83863V9.35269H13.861V11.686H10.8387V14.7084H7.97795V11.686H5V10.625V9.375L7.97795 9.35604Z" fill="#0E1726" fill-opacity="0.5"/>
                  </g>
                  </g>
                  <defs>
                  <clipPath id="clip0_281_38">
                  <rect width="18.75" height="20" fill="white"/>
                  </clipPath>
                  </defs>
                </svg>                                                                
                Novo administrador
              </a>
            </li>
            <li>
              <a href="/admin/new-supplier" class="nunito text-gray-700 hover:text-black hover:bg-blue group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-bold">
                <svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_281_38)">
                  <mask id="mask0_281_38" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="19" height="20">
                  <path d="M18.75 0H0V20H18.75V0Z" fill="white"/>
                  </mask>
                  <g mask="url(#mask0_281_38)">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.375 19.375C14.5526 19.375 18.75 15.1776 18.75 10C18.75 4.82233 14.5526 0.625 9.375 0.625C4.19733 0.625 0 4.82233 0 10C0 15.1776 4.19733 19.375 9.375 19.375ZM7.97795 9.35604V6.32793L10.8387 6.32457V7.83863V9.35269H13.861V11.686H10.8387V14.7084H7.97795V11.686H5V10.625V9.375L7.97795 9.35604Z" fill="#0E1726" fill-opacity="0.5"/>
                  </g>
                  </g>
                  <defs>
                  <clipPath id="clip0_281_38">
                  <rect width="18.75" height="20" fill="white"/>
                  </clipPath>
                  </defs>
                </svg>                                                                
                Novo fornecedor
              </a>
            </li>
          </ul>

          <li class="mt-auto px-6">
            <a href="/admin/account" class="nunito group -mx-2 flex gap-x-3 rounded-md p-2 text-sm font-bold leading-6 text-gray-700 hover:bg-blue hover:text-black">
              <svg class="h-6 w-6 shrink-0 text-gray-700 group-hover:text-black" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9.594 3.94c.09-.542.56-.94 1.11-.94h2.593c.55 0 1.02.398 1.11.94l.213 1.281c.063.374.313.686.645.87.074.04.147.083.22.127.324.196.72.257 1.075.124l1.217-.456a1.125 1.125 0 011.37.49l1.296 2.247a1.125 1.125 0 01-.26 1.431l-1.003.827c-.293.24-.438.613-.431.992a6.759 6.759 0 010 .255c-.007.378.138.75.43.99l1.005.828c.424.35.534.954.26 1.43l-1.298 2.247a1.125 1.125 0 01-1.369.491l-1.217-.456c-.355-.133-.75-.072-1.076.124a6.57 6.57 0 01-.22.128c-.331.183-.581.495-.644.869l-.213 1.28c-.09.543-.56.941-1.11.941h-2.594c-.55 0-1.02-.398-1.11-.94l-.213-1.281c-.062-.374-.312-.686-.644-.87a6.52 6.52 0 01-.22-.127c-.325-.196-.72-.257-1.076-.124l-1.217.456a1.125 1.125 0 01-1.369-.49l-1.297-2.247a1.125 1.125 0 01.26-1.431l1.004-.827c.292-.24.437-.613.43-.992a6.932 6.932 0 010-.255c.007-.378-.138-.75-.43-.99l-1.004-.828a1.125 1.125 0 01-.26-1.43l1.297-2.247a1.125 1.125 0 011.37-.491l1.216.456c.356.133.751.072 1.076-.124.072-.044.146-.087.22-.128.332-.183.582-.495.644-.869l.214-1.281z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
              </svg>
              Configurações
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>