<%- include('../../partials/main/head', {title: "Help Técnico - Realize o seu login"}) %>

<body>
  <%- include('../../partials/main/nav') %>

  <div class="hidden relative z-10 fade-in" id="loading" role="dialog" aria-modal="true">
    <div class="fixed inset-0 bg-white bg-opacity-75 transition-opacity"></div>

    <div class="flex justify-center items-center fixed inset-0 z-10 overflow-y-auto">
      <div class="mx-auto max-w-xl transform divide-y divide-gray-200 transition-all">
        <div class="loader loader--style6">
          <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            width="50px" height="50px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
            <path opacity="0.4" fill="#239CFF" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
              s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
              c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"/>
            <path fill="#239CFF" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0 C22.32,8.481,24.301,9.057,26.013,10.047z">
              <animateTransform attributeType="xml"
                attributeName="transform"
                type="rotate"
                from="0 20 20"
                to="360 20 20"
                dur="0.5s"
                repeatCount="indefinite"/>
            </path>
          </svg>
        </div>
      </div>
    </div>
  </div>

  <section class="py-32 bg-gray-50 inter">
    <div class="container px-4 mx-auto">
      <div class="max-w-sm mx-auto">
        <div class="mb-6 text-center">
          <h1 class="text-xl font-bold text-blue-500">Help Técnico</h1>
          <h3 class="text-2xl md:text-3xl font-bold mt-2">Faça login em sua conta</h3>
        </div>

        <div class="mt-8">
          <div class="mb-6">
            <label class="block mb-2 text-coolGray-800 font-medium" for="email">Email</label>
            <input id="email" class="appearance-none block w-full p-3 leading-5 text-coolGray-900 border border-coolGray-200 rounded-lg shadow-md placeholder-coolGray-400 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50" type="email" placeholder="email@email.com">
          </div>

          <div class="mb-6">
            <label class="block mb-2 text-coolGray-800 font-medium" for="password">Senha</label>
            <input id="password" class="appearance-none block w-full p-3 leading-5 text-coolGray-900 border border-coolGray-200 rounded-lg shadow-md placeholder-coolGray-400 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50" type="password" placeholder="************">
          </div>

          <div class="flex flex-wrap justify-center mb-6">
            <a class="inline-block text-sm font-medium text-blue-500 hover:text-blue-600">Esqueceu sua senha?</a>
          </div>

          <button onclick="login()" class="inline-block py-3 px-7 mb-6 w-full text-base text-green-50 font-medium text-center leading-6 bg-blue-500 hover:bg-blue-600 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 rounded-md shadow-sm">Entrar</button>
        </div>
      </div>
    </div>
  </section>

  <%- include('../../partials/main/footer') %>
</body>

<script src="/js/alert-message/alert-message.js"></script>
<script src="/js/auth/login.js"></script>