<%- include('../../partials/app/head', {title: "Faturamento"}) %>

<body class="bg-gray-100">
  <%- include('../../partials/app/sidebar', {user: user}) %>

  <div class="lg:pl-70">
    <%- include('../../partials/app/nav', {title: "Faturamento"}) %>

    <main class="py-5 fade-in">
      <div class="relative isolate overflow-hidden">
        <header class="pb-4 pt-2 sm:pb-6">
          <div class="mx-auto flex justify-between flex-wrap items-center gap-6 px-4 sm:flex-nowrap sm:px-6 lg:px-8">
            <h1 class="text-xl inter font-semibold leading-7 text-gray-900">Faturamento</h1>

            <div class="order-last flex w-full gap-x-3 text-sm font-semibold leading-6 sm:order-none sm:w-auto sm:leading-7">
              <select class="text-blue inter font-semibold px-4 py-1 border-blue-1 rounded-md">
                <option value="select">Periodo</option>
                <option value="month">Últimos 7 dias</option>
                <option value="month">Últimos 30 dias</option>
                <option value="month">Todo o periodo</option>
              </select>
              
              <input type="date" class="text-blue inter font-semibold px-4 py-1 border-blue-1 rounded-md">
            </div>
          </div>
        </header>
    
        <div class="border-b border-b-gray-900/10 lg:border-t lg:border-t-gray-900/5">
          <dl class="mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 lg:px-2 xl:px-0">
            <div class="flex items-baseline flex-wrap justify-between gap-y-2 gap-x-4 border-t border-gray-900/5 px-4 py-6 sm:px-6 lg:border-t-0 xl:px-8">
              <dt class="inter text-sm font-medium leading-6 text-gray-500">Total (Todos)</dt>
              <dd class="inter w-full flex-none text-3xl font-semibold leading-10 tracking-tight text-green-600">R$0,00</dd>
            </div>

            <div class="flex items-baseline flex-wrap justify-between gap-y-2 gap-x-4 border-t border-gray-900/5 px-4 py-6 sm:px-6 lg:border-t-0 xl:px-8 sm:border-l">
              <dt class="inter text-sm font-medium leading-6 text-gray-500">Orçamentos corretivos</dt>
              <dd class="inter w-full flex-none text-3xl font-semibold leading-10 tracking-tight text-gray-900">R$0,00</dd>
            </div>

            <div class="flex items-baseline flex-wrap justify-between gap-y-2 gap-x-4 border-t border-gray-900/5 px-4 py-6 sm:px-6 lg:border-t-0 xl:px-8 lg:border-l">
              <dt class="inter text-sm font-medium leading-6 text-gray-500">Instalações</dt>
              <dd class="inter w-full flex-none text-3xl font-semibold leading-10 tracking-tight text-gray-900">R$0,00</dd>
            </div>

            <div class="flex items-baseline flex-wrap justify-between gap-y-2 gap-x-4 border-t border-gray-900/5 px-4 py-6 sm:px-6 lg:border-t-0 xl:px-8 sm:border-l">
              <dt class="inter text-sm font-medium leading-6 text-gray-500">Contratos</dt>
              <dd class="inter w-full flex-none text-3xl font-semibold leading-10 tracking-tight text-gray-900">R$0,00</dd>
            </div>

            <div class="flex items-baseline flex-wrap justify-between gap-y-2 gap-x-4 border-t border-gray-900/5 px-4 py-6 sm:px-6 lg:border-t-0 xl:px-8 sm:border-l">
              <dt class="inter text-sm font-medium leading-6 text-gray-500">Gastos</dt>
              <dd class="inter w-full flex-none text-3xl font-semibold leading-10 tracking-tight text-red-700">R$0,00</dd>
            </div>
          </dl>
        </div>

        <div class="grid grid-cols-4 px-5">
          <div class="col-span-3">
            <dl class="grid grid-cols-1 mt-2">
              <div class="col-sm-6 text-center">
                <div id="area-chart"></div>
              </div>
            </dl>
          </div>
  
          <div class="flex flex-col items-center justify-center mt-6">
            <div id="doughnutChart" class="chart-doughnut-invoice"></div>
            <div class="flex items-center justify-center space-x-4 mt-6">
              <div class="flex items-center space-x-2">
                <span style="width: 22px; height: 14px; background-color: #eedc36;"></span>
                <p class="inter text-xs font-semibold">Corretivos</p>
              </div>
  
              <div class="flex items-center space-x-2">
                <span style="width: 22px; height: 14px; background-color: #e98330;"></span>
                <p class="inter text-xs font-semibold">Instalações</p>
              </div>
  
              <div class="flex items-center space-x-2">
                <span style="width: 22px; height: 14px; background-color: #239CFF;"></span>
                <p class="inter text-xs font-semibold">Contratos</p>
              </div>
            </div>
            <div class="flex items-center justify-center space-x-4 mt-6">
              <div class="flex items-center space-x-2">
                <span style="width: 22px; height: 14px; background-color: #FC4349;"></span>
                <p class="inter text-xs font-semibold">Gastos</p>
              </div>
  
              <div class="flex items-center space-x-2">
                <span style="width: 22px; height: 14px; background-color: #41d361;"></span>
                <p class="inter text-xs font-semibold">Ganhos</p>
              </div>
            </div>
          </div>
        </div>
    
        <div class="absolute left-0 top-full -z-10 mt-96 origin-top-left translate-y-40 -rotate-90 transform-gpu opacity-20 blur-3xl sm:left-1/2 sm:-ml-96 sm:-mt-10 sm:translate-y-0 sm:rotate-0 sm:transform-gpu sm:opacity-50" aria-hidden="true">
          <div class="aspect-[1154/678] w-[72.125rem] bg-gradient-to-br from-[#FF80B5] to-[#9089FC]" style="clip-path: polygon(100% 38.5%, 82.6% 100%, 60.2% 37.7%, 52.4% 32.1%, 47.5% 41.8%, 45.2% 65.6%, 27.5% 23.4%, 0.1% 35.3%, 17.9% 0%, 27.7% 23.4%, 76.2% 2.5%, 74.2% 56%, 100% 38.5%)"></div>
        </div>
      </div>
    
      <div class="space-y-8 py-12 xl:space-y-20 mt-10">
        <div>
          <div class="flex items-center justify-between mx-auto px-4 sm:px-6 lg:px-8">
            <h2 class="mx-auto max-w-2xl text-md font-semibold leading-6 text-gray-900 lg:mx-0 lg:max-w-none inter">Orçamentos corretivos:</h2>
            
            <a class="mx-auto max-w-2xl text-sm font-medium leading-6 color-blue lg:mx-0 lg:max-w-none inter">Ver mais -></a>
          </div>

          <div class="mt-4 overflow-hidden border-t border-gray-100">
            <div class="mx-auto px-4 sm:px-6 lg:px-8">
              <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
                <table class="w-full text-left">
                  <thead class="sr-only">
                    <tr>
                      <th>Amount</th>
                      <th class="hidden sm:table-cell">Client</th>
                      <th>More details</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="text-sm leading-6 text-gray-900">
                      <th scope="colgroup" colspan="3" class="relative isolate py-2 font-semibold">
                        <time datetime="2023-03-22">Today</time>
                        <div class="absolute inset-y-0 right-full -z-10 w-screen border-b border-gray-200 bg-gray-50"></div>
                        <div class="absolute inset-y-0 left-0 -z-10 w-screen border-b border-gray-200 bg-gray-50"></div>
                      </th>
                    </tr>
                    <tr>
                      <td class="relative py-5 pr-6">
                        <div class="flex gap-x-6">
                          <svg class="hidden h-6 w-5 flex-none text-gray-400 sm:block" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm-.75-4.75a.75.75 0 001.5 0V8.66l1.95 2.1a.75.75 0 101.1-1.02l-3.25-3.5a.75.75 0 00-1.1 0L6.2 9.74a.75.75 0 101.1 1.02l1.95-2.1v4.59z" clip-rule="evenodd" />
                          </svg>
                          <div class="flex-auto">
                            <div class="flex items-start gap-x-3">
                              <div class="text-sm font-semibold leading-6 text-green-600 inter">R$7,600.00 BRL</div>
                            </div>
                            <div class="mt-1 text-xs leading-5 text-gray-500 inter">Data</div>
                          </div>
                        </div>
                        <div class="absolute bottom-0 right-full h-px w-screen bg-gray-100"></div>
                        <div class="absolute bottom-0 left-0 h-px w-screen bg-gray-100"></div>
                      </td>
                      <td class="hidden py-5 pr-6 sm:table-cell">
                        <div class="text-sm leading-6 text-gray-900 inter font-semibold">Nome da empresa</div>
                        <div class="mt-1 text-xs leading-5 text-gray-500 inter underline">Conferir empresa</div>
                      </td>
                      <td class="py-5 text-right">
                        <div class="flex justify-end">
                          <a href="#" class="text-sm font-medium leading-6 text-blue inter font-semibold hover:text-indigo-500">Ver orçamento</a>
                        </div>
                        <div class="mt-1 text-xs leading-5 text-gray-500 inter">ID: <span class="text-gray-900">#00012</span></div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="mt-4">
          <div class="flex items-center justify-between mx-auto px-4 sm:px-6 lg:px-8">
            <h2 class="mx-auto max-w-2xl text-md font-semibold leading-6 text-gray-900 lg:mx-0 lg:max-w-none inter">Instalações:</h2>
            
            <a class="mx-auto max-w-2xl text-sm font-medium leading-6 color-blue lg:mx-0 lg:max-w-none inter">Ver mais -></a>
          </div>

          <div class="mt-4 overflow-hidden border-t border-gray-100">
            <div class="mx-auto px-4 sm:px-6 lg:px-8">
              <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
                <table class="w-full text-left">
                  <thead class="sr-only">
                    <tr>
                      <th>Amount</th>
                      <th class="hidden sm:table-cell">Client</th>
                      <th>More details</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="text-sm leading-6 text-gray-900">
                      <th scope="colgroup" colspan="3" class="relative isolate py-2 font-semibold">
                        <time datetime="2023-03-22">Today</time>
                        <div class="absolute inset-y-0 right-full -z-10 w-screen border-b border-gray-200 bg-gray-50"></div>
                        <div class="absolute inset-y-0 left-0 -z-10 w-screen border-b border-gray-200 bg-gray-50"></div>
                      </th>
                    </tr>
                    <tr>
                      <td class="relative py-5 pr-6">
                        <div class="flex gap-x-6">
                          <svg class="hidden h-6 w-5 flex-none text-gray-400 sm:block" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm-.75-4.75a.75.75 0 001.5 0V8.66l1.95 2.1a.75.75 0 101.1-1.02l-3.25-3.5a.75.75 0 00-1.1 0L6.2 9.74a.75.75 0 101.1 1.02l1.95-2.1v4.59z" clip-rule="evenodd" />
                          </svg>
                          <div class="flex-auto">
                            <div class="flex items-start gap-x-3">
                              <div class="text-sm font-semibold leading-6 text-green-600 inter">R$7,600.00 BRL</div>
                            </div>
                            <div class="mt-1 text-xs leading-5 text-gray-500 inter">Data</div>
                          </div>
                        </div>
                        <div class="absolute bottom-0 right-full h-px w-screen bg-gray-100"></div>
                        <div class="absolute bottom-0 left-0 h-px w-screen bg-gray-100"></div>
                      </td>
                      <td class="hidden py-5 pr-6 sm:table-cell">
                        <div class="text-sm leading-6 text-gray-900 inter font-semibold">Nome da empresa</div>
                        <div class="mt-1 text-xs leading-5 text-gray-500 inter underline">Conferir empresa</div>
                      </td>
                      <td class="py-5 text-right">
                        <div class="flex justify-end">
                          <a href="#" class="text-sm font-medium leading-6 text-blue inter font-semibold hover:text-indigo-500">Ver completo</a>
                        </div>
                        <div class="mt-1 text-xs leading-5 text-gray-500 inter">ID: <span class="text-gray-900">#00012</span></div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="mt-4">
          <div class="flex items-center justify-between mx-auto px-4 sm:px-6 lg:px-8">
            <h2 class="mx-auto max-w-2xl text-md font-semibold leading-6 text-gray-900 lg:mx-0 lg:max-w-none inter">Contratos:</h2>
            
            <a class="mx-auto max-w-2xl text-sm font-medium leading-6 color-blue lg:mx-0 lg:max-w-none inter">Ver mais -></a>
          </div>

          <div class="mt-4 overflow-hidden border-t border-gray-100">
            <div class="mx-auto px-4 sm:px-6 lg:px-8">
              <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
                <table class="w-full text-left">
                  <thead class="sr-only">
                    <tr>
                      <th>Amount</th>
                      <th class="hidden sm:table-cell">Client</th>
                      <th>More details</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="text-sm leading-6 text-gray-900">
                      <th scope="colgroup" colspan="3" class="relative isolate py-2 font-semibold">
                        <time datetime="2023-03-22">Today</time>
                        <div class="absolute inset-y-0 right-full -z-10 w-screen border-b border-gray-200 bg-gray-50"></div>
                        <div class="absolute inset-y-0 left-0 -z-10 w-screen border-b border-gray-200 bg-gray-50"></div>
                      </th>
                    </tr>
                    <tr>
                      <td class="relative py-5 pr-6">
                        <div class="flex gap-x-6">
                          <svg class="hidden h-6 w-5 flex-none text-gray-400 sm:block" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm-.75-4.75a.75.75 0 001.5 0V8.66l1.95 2.1a.75.75 0 101.1-1.02l-3.25-3.5a.75.75 0 00-1.1 0L6.2 9.74a.75.75 0 101.1 1.02l1.95-2.1v4.59z" clip-rule="evenodd" />
                          </svg>
                          <div class="flex-auto">
                            <div class="flex items-start gap-x-3">
                              <div class="text-sm font-semibold leading-6 text-green-600 inter">R$7,600.00 BRL</div>
                            </div>
                            <div class="mt-1 text-xs leading-5 text-gray-500 inter">Data</div>
                          </div>
                        </div>
                        <div class="absolute bottom-0 right-full h-px w-screen bg-gray-100"></div>
                        <div class="absolute bottom-0 left-0 h-px w-screen bg-gray-100"></div>
                      </td>
                      <td class="hidden py-5 pr-6 sm:table-cell">
                        <div class="text-sm leading-6 text-gray-900 inter font-semibold">Nome da empresa</div>
                        <div class="mt-1 text-xs leading-5 text-gray-500 inter underline">Conferir empresa</div>
                      </td>
                      <td class="py-5 text-right">
                        <div class="flex justify-end">
                          <a href="#" class="text-sm font-medium leading-6 text-blue inter font-semibold hover:text-indigo-500">Ver contrato</a>
                        </div>
                        <div class="mt-1 text-xs leading-5 text-gray-500 inter">ID: <span class="text-gray-900">#00012</span></div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="https://www.google.com/jsapi"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.0/morris.min.js"></script>
<script src="/js/admin/chart-invoice-line.js"></script>
<script src="/js/admin/chart-invoice-doughnut.js"></script>
</html>