<%- include('../../partials/head', {title: "Novo técnico"}) %>

<body class="bg-gray-100">
  <%- include('../../partials/sidebar', {user: user}) %>

  <div class="lg:pl-70">
    <%- include('../../partials/nav', {title: "Novo técnico"}) %>

    <main class="py-8 px-12 fade-in">
      <div class="grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-4 gap-x-6">
        <div class="bg-white rounded-xl shadow-lg border p-4 px-5 col-span-3">
          <div class="col-span-full flex items-center gap-x-6 mt-4">
            <svg width="74" height="73" viewBox="0 0 74 73" fill="none" xmlns="http://www.w3.org/2000/svg">
              <ellipse cx="37" cy="36.5" rx="37" ry="36.5" fill="#0EA5E9"/>
              <path d="M53.7921 26.6151C53.8836 26.7946 53.9385 26.9905 53.9535 27.1914C53.9684 27.3924 53.9432 27.5943 53.8793 27.7853C53.8153 27.9764 53.7139 28.1528 53.581 28.3042C53.4481 28.4557 53.2864 28.5791 53.1053 28.6673C52.9241 28.7555 52.7272 28.8067 52.526 28.818C52.3249 28.8292 52.1235 28.8002 51.9336 28.7328C51.7438 28.6653 51.5693 28.5606 51.4204 28.4249C51.2714 28.2893 51.151 28.1252 51.0662 27.9425C50.1572 26.0774 48.8766 24.4177 47.303 23.0654C46.8025 22.7863 46.2377 22.6428 45.6646 22.6494C45.0916 22.6559 44.5302 22.8121 44.0361 23.1026C43.5421 23.393 43.1326 23.8076 42.8482 24.3052C42.5638 24.8027 42.4145 25.366 42.415 25.9391V27.6086C42.4143 27.9532 42.2771 28.2834 42.0335 28.527C41.7898 28.7707 41.4596 28.9079 41.115 28.9086H34.3277C33.9831 28.9079 33.6529 28.7707 33.4092 28.527C33.1656 28.2834 33.0284 27.9532 33.0277 27.6086V27.8002C33.0285 27.1613 32.842 26.5361 32.4912 26.0021C32.4113 25.9015 32.3346 25.7984 32.2614 25.6928C31.928 25.295 31.5052 24.9817 31.0276 24.7785C30.5499 24.5753 30.031 24.4881 29.5132 24.5238C28.9954 24.5596 28.4934 24.7174 28.0482 24.9843C27.6031 25.2512 27.2274 25.6197 26.9519 26.0595C26.8101 26.3777 26.563 26.6374 26.2522 26.7949C25.9414 26.9523 25.5859 26.9979 25.2455 26.924C24.905 26.8502 24.6004 26.6613 24.3828 26.3892C24.1653 26.1171 24.048 25.7784 24.0508 25.4301V19.1901C24.0506 18.8366 24.1739 18.4941 24.3994 18.2219C24.6249 17.9497 24.9384 17.7648 25.2858 17.6992C25.6331 17.6336 25.9925 17.6915 26.3017 17.8628C26.6109 18.034 26.8506 18.308 26.9793 18.6372C27.2537 19.0613 27.6223 19.4164 28.0563 19.6749C28.4903 19.9334 28.9781 20.0882 29.4818 20.1274C29.9854 20.1666 30.4913 20.0891 30.9601 19.9009C31.4289 19.7127 31.848 19.4188 32.1847 19.0423C32.3006 18.8661 32.4258 18.6962 32.5597 18.5332L32.5788 18.5031H32.587C33.1443 17.8334 33.8422 17.2947 34.6312 16.9253C35.4202 16.5558 36.2809 16.3648 37.1521 16.3656H37.2342C37.2869 16.3599 37.3399 16.3572 37.3929 16.3574C40.8138 16.3564 44.1661 17.3177 47.0665 19.1316C49.9669 20.9455 52.2985 23.5388 53.7948 26.6151H53.7921ZM41.1014 32.4035C41.1006 32.059 40.9634 31.7287 40.7198 31.4851C40.4761 31.2415 40.1459 31.1043 39.8014 31.1035H35.1077C34.7633 31.105 34.4335 31.2424 34.19 31.4859C33.9465 31.7294 33.8091 32.0592 33.8077 32.4035V58.253C33.8084 58.5976 33.9456 58.9278 34.1892 59.1715C34.4329 59.4151 34.7631 59.5523 35.1077 59.553H39.8014C40.1459 59.5523 40.4761 59.4151 40.7198 59.1715C40.9634 58.9278 41.1006 58.5976 41.1014 58.253V32.4035Z" fill="white"/>
            </svg>                                                          
                                      
            <div class="items-center mt-2">
              <label style="cursor: pointer;" for="picture" class="rounded-md px-3 py-2 text-sm font-semibold border-blue color-blue shadow-sm inter">Inserir foto</label>
              <p class="mt-4 text-xs leading-5 text-gray-600 inter">JPG, GIF or PNG. 1MB max.</p>
              <input type="file" id="picture" class="hidden" name="picture">
            </div>
          </div>

          <div class="grid grid-cols-2 mt-12 gap-x-4">
            <div>
              <label for="name" class="block text-md font-medium leading-6 text-gray-900 inter font-semibold">Nome do técnico</label>
              <div class="relative mt-2 rounded-md shadow-sm">
                <input type="text" name="name" id="name" class="block w-full rounded-lg inter py-1.5 mt-2 pl-2 text-gray-900 ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6 border-blue-1" placeholder="Insira o nome">
              </div>
            </div>

            <div>
              <label for="cpf" class="block text-md font-medium leading-6 text-gray-900 inter font-semibold">CPF</label>
              <div class="relative mt-2 rounded-md shadow-sm">
                <input type="text" name="cpf" id="cpf" class="block w-full rounded-lg inter py-1.5 mt-2 pl-2 text-gray-900 ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6 border-blue-1" placeholder="Insira o CPF">
              </div>
            </div>
          </div>

          <div class="grid grid-cols-2 mt-12 gap-x-4">
            <div>
              <label for="email" class="block text-md font-medium leading-6 text-gray-900 inter font-semibold">Email</label>
              <div class="relative mt-2 rounded-md shadow-sm">
                <input type="text" name="email" id="email" class="block w-full rounded-lg inter py-1.5 mt-2 pl-2 text-gray-900 ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6 border-blue-1" placeholder="Insira o email">
              </div>
            </div>

            <div>
              <label for="password" class="block text-md font-medium leading-6 text-gray-900 inter font-semibold">Senha</label>
              <div class="relative mt-2 rounded-md shadow-sm">
                <input type="text" name="password" id="password" class="block w-full rounded-lg inter py-1.5 mt-2 pl-2 text-gray-900 ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6 border-blue-1" placeholder="Insira a senha">
              </div>
            </div>
          </div>

          <div class="grid grid-cols-2 mt-12 gap-x-4">
            <div>
              <label for="phone" class="block text-md font-medium leading-6 text-gray-900 inter font-semibold">Telefone</label>
              <div class="relative mt-2 rounded-md shadow-sm">
                <input type="text" name="phone" id="phone" class="block w-full rounded-lg inter py-1.5 mt-2 pl-2 text-gray-900 ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6 border-blue-1" placeholder="Insira o número de celular">
              </div>
            </div>

            <div>
              <label for="city" class="block text-md font-medium leading-6 text-gray-900 inter font-semibold">Cidade</label>
              <div class="relative mt-2 rounded-md shadow-sm">
                <select name="city" id="city" class="block w-full rounded-lg inter py-2 mt-2 pl-2 text-gray-900 ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6 border-blue-1">
                  <option value="select">Selecione a cidade</option>
                  <option value="Porto Alegre / RS">Porto Alegre / RS</option>
                  <option value="Canoas / RS">Canoas / RS</option>
                  <option value="Gramado / RS">Gramado / RS</option>
                  <option value="Novo Hamburgo / RS">Novo Hamburgo / RS</option>
                  <option value="Caxias do Sul / RS">Caxias do Sul / RS</option>
                  <option value="Pelotas / RS">Pelotas / RS</option>
                  <option value="Santa Maria / RS">Santa Maria / RS</option>
                  <option value="Passo Fundo / RS">Passo Fundo / RS</option>
                  <option value="Santa Cruz do Sul / RS">Santa Cruz do Sul / RS</option>
                  <option value="São Leopoldo / RS">São Leopoldo / RS</option>
                  <option value="Rio Grande / RS">Rio Grande / RS</option>
                  <option value="Bento Gonçalves / RS">Bento Gonçalves / RS</option>
                  <option value="Uruguaiana / RS">Uruguaiana / RS</option>
                  <option value="Santana do Livramento / RS">Santana do Livramento / RS</option>
                  <option value="Erechim / RS">Erechim / RS</option>
                  <option value="Ijuí / RS">Ijuí / RS</option>
                  <option value="Bagé / RS">Bagé / RS</option>
                  <option value="Vacaria / RS">Vacaria / RS</option>
                  <option value="Lajeado / RS">Lajeado / RS</option>
                  <option value="Sapucaia do Sul / RS">Sapucaia do Sul / RS</option>
                  <option value="Gravataí / RS">Gravataí / RS</option>
                  <option value="Cachoeirinha / RS">Cachoeirinha / RS</option>
                  <option value="Esteio / RS">Esteio / RS</option>
                  <option value="São Borja / RS">São Borja / RS</option>
                  <option value="Cruz Alta / RS">Cruz Alta / RS</option>
                  <option value="Santo Ângelo / RS">Santo Ângelo / RS</option>
                  <option value="Taquara / RS">Taquara / RS</option>
                  <option value="São Gabriel / RS">São Gabriel / RS</option>
                  <option value="Montenegro / RS">Montenegro / RS</option>
                  <option value="Capão da Canoa / RS">Capão da Canoa / RS</option>
                  <option value="Osório / RS">Osório / RS</option>
                  <option value="Venâncio Aires / RS">Venâncio Aires / RS</option>
                  <option value="Santa Rosa / RS">Santa Rosa / RS</option>
                  <option value="Alegrete / RS">Alegrete / RS</option>
                  <option value="São Sebastião do Caí / RS">São Sebastião do Caí / RS</option>
                  <option value="São Lourenço do Sul / RS">São Lourenço do Sul / RS</option>
                  <option value="Bage / RS">Bage / RS</option>
                  <option value="São Jerônimo / RS">São Jerônimo / RS</option>
                  <option value="São José do Norte / RS">São José do Norte / RS</option>
                  <option value="São José do Sul / RS">São José do Sul / RS</option>
                  <option value="São Leopoldo / RS">São Leopoldo / RS</option>
                  <option value="São Luiz Gonzaga / RS">São Luiz Gonzaga / RS</option>
                  <option value="São Marcos / RS">São Marcos / RS</option>
                  <option value="São Pedro do Sul / RS">São Pedro do Sul / RS</option>
                  <option value="São Sebastião do Caí / RS">São Sebastião do Caí / RS</option>
                  <option value="São Sepé / RS">São Sepé / RS</option>
                  <option value="São Vicente do Sul / RS">São Vicente do Sul / RS</option>
                  <option value="Sapiranga / RS">Sapiranga / RS</option>
                  <option value="Sapucaia do Sul / RS">Sapucaia do Sul / RS</option>
                  <option value="Sarandi / RS">Sarandi / RS</option>
                  <option value="Serafina Corrêa / RS">Serafina Corrêa / RS</option>
                  <option value="Soledade / RS">Soledade / RS</option>
                  <option value="Tapejara / RS">Tapejara / RS</option>
                  <option value="Tapes / RS">Tapes / RS</option>
                  <option value="Taquari / RS">Taquari / RS</option>
                  <option value="Teutônia / RS">Teutônia / RS</option>
                  <option value="Torres / RS">Torres / RS</option>
                  <option value="Tramandaí / RS">Tramandaí / RS</option>
                  <option value="Três Coroas / RS">Três Coroas / RS</option>
                  <option value="Três de Maio / RS">Três de Maio / RS</option>
                  <option value="Três Passos / RS">Três Passos / RS</option>
                  <option value="Triunfo / RS">Triunfo / RS</option>
                  <option value="Tupanciretã / RS">Tupanciretã / RS</option>
                  <option value="Uruguaiana / RS">Uruguaiana / RS</option>
                  <option value="Vacaria / RS">Vacaria / RS</option>
                  <option value="Venâncio Aires / RS">Venâncio Aires / RS</option>
                  <option value="Viamão / RS">Viamão / RS</option>
                  <option value="Xangri-lá / RS">Xangri-lá / RS</option>
                </select>
              </div>
            </div>
          </div>

          <div class="grid grid-cols-2 mt-12 gap-x-4">
            <div>
              <label for="address" class="block text-md font-medium leading-6 text-gray-900 inter font-semibold">Endereço</label>
              <div class="relative mt-2 rounded-md shadow-sm">
                <input type="text" name="address" id="address" class="block w-full rounded-lg inter py-1.5 mt-2 pl-2 text-gray-900 ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6 border-blue-1" placeholder="Insira o endereço">
              </div>
            </div>

            <div>
              <label for="cep" class="block text-md font-medium leading-6 text-gray-900 inter font-semibold">CEP</label>
              <div class="relative mt-2 rounded-md shadow-sm">
                <input type="text" name="cep" id="cep" class="block w-full rounded-lg inter py-1.5 mt-2 pl-2 text-gray-900 ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6 border-blue-1" placeholder="Insira o CEP">
              </div>
            </div>
          </div>

          <div class="grid grid-cols-2 mt-12 gap-x-4">
            <div>
              <label for="cnh" class="block text-md font-medium leading-6 text-gray-900 inter font-semibold">CNH do Técnico</label>
              <div class="relative mt-2 rounded-md shadow-sm">
                <input type="number" name="cnh" id="cnh" class="block w-full rounded-lg inter py-1.5 mt-2 pl-2 text-gray-900 ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6 border-blue-1" placeholder="Insira o número da CNH">
              </div>
            </div>

            <div>
              <label for="car_model" class="block text-md font-medium leading-6 text-gray-900 inter font-semibold">Modelo do carro</label>
              <div class="relative mt-2 rounded-md shadow-sm">
                <input type="text" name="car-model" id="car-model" class="block w-full rounded-lg inter py-1.5 mt-2 pl-2 text-gray-900 ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6 border-blue-1" placeholder="Insira o modelo do carro">
              </div>
            </div>
          </div>

          <div class="grid grid-cols-2 mt-12 gap-x-4">
            <div>
              <label for="car_plate" class="block text-md font-medium leading-6 text-gray-900 inter font-semibold">Placa do carro</label>
              <div class="relative mt-2 rounded-md shadow-sm">
                <input type="text" name="car-plate" id="car-plate" class="block w-full rounded-lg inter py-1.5 mt-2 pl-2 text-gray-900 ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6 border-blue-1" placeholder="Insira a placa do carro">
              </div>
            </div>

            <div>
              <label for="cep" class="block text-md font-medium leading-6 text-gray-900 inter font-semibold">Cor do carro</label>
              <div class="relative mt-2 rounded-md shadow-sm">
                <select name="car-color" id="car-color" class="block w-full rounded-lg inter py-2 mt-2 pl-2 text-gray-900 ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6 border-blue-1">
                  <option value="branco">Branco</option>
                  <option value="vermelho">Vermelho</option>
                  <option value="azul">Azul</option>
                  <option value="verde">Verde</option>
                  <option value="amarelo">Amarelo</option>
                  <option value="roxo">Roxo</option>
                  <option value="laranja">Laranja</option>
                  <option value="rosa">Rosa</option>
                  <option value="preto">Preto</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="bg-white rounded-xl shadow-lg border p-4 px-5 col-span-1">
          <div class="space-y-4">
            <button type="button" onclick="newTechnician()" style="background-color: #00AB55;" class="w-full inline-flex justify-center items-center gap-x-1.5 rounded-md px-3 py-3 text-sm font-semibold text-white inter shadow-sm">
              <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_156_9768)">
                <path d="M3.46649 17.1132C4.68687 18.3337 6.65105 18.3337 10.5794 18.3337C14.5078 18.3337 16.472 18.3337 17.6923 17.1132C18.9128 15.8929 18.9128 13.9287 18.9128 10.0003C18.9128 9.71574 18.9128 9.57349 18.9001 9.42883C18.8413 8.75441 18.5678 8.09413 18.1325 7.57561C18.0391 7.46438 17.9361 7.3613 17.7299 7.15514L13.4246 2.84986C13.2184 2.64371 13.1153 2.54062 13.0042 2.44725C12.4856 2.01199 11.8253 1.7385 11.1509 1.67962C11.0063 1.66699 10.864 1.66699 10.5794 1.66699C6.65105 1.66699 4.68687 1.66699 3.46649 2.88738C2.24609 4.10777 2.24609 6.07195 2.24609 10.0003C2.24609 13.9287 2.24609 15.8929 3.46649 17.1132Z" stroke="white" stroke-width="1.25"/>
                <path d="M14.7435 18.3337V17.5003C14.7435 15.929 14.7435 15.1433 14.2553 14.6552C13.7672 14.167 12.9815 14.167 11.4102 14.167H9.74349C8.17214 14.167 7.38646 14.167 6.89831 14.6552C6.41016 15.1433 6.41016 15.929 6.41016 17.5003V18.3337" stroke="white" stroke-width="1.25"/>
                <path opacity="0.5" d="M6.41016 6.66699H11.4102" stroke="white" stroke-width="1.25" stroke-linecap="round"/>
                </g>
                <defs>
                <clipPath id="clip0_156_9768">
                <rect width="20" height="20" fill="white" transform="translate(0.578125)"/>
                </clipPath>
                </defs>
              </svg>                
              Salvar
            </button>

            <button type="button" style="background-color: #2196F3;" class="w-full inline-flex justify-center items-center gap-x-1.5 rounded-md px-3 py-3 text-sm font-semibold text-white inter shadow-sm">
              <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_156_9775)">
                <path d="M15.3833 15.4046L17.9922 7.57843C19.0324 4.45761 19.5526 2.89719 18.7289 2.07351C17.9052 1.24982 16.3447 1.76996 13.2237 2.81023L5.44772 5.40214C3.71287 5.98041 2.84544 6.26953 2.58215 6.90563C2.52026 7.05513 2.48285 7.21363 2.47134 7.37502C2.42236 8.0617 3.0689 8.70824 4.36198 10.0012L4.59751 10.2367C4.80976 10.449 4.91587 10.5552 4.9961 10.6732C5.15432 10.9062 5.24413 11.1789 5.25536 11.4602C5.26105 11.603 5.23877 11.7514 5.19422 12.0482C5.03115 13.1347 4.94961 13.6779 5.04566 14.0959C5.23712 14.9292 5.88207 15.5832 6.71256 15.7864C7.12921 15.8883 7.67355 15.8145 8.76225 15.6667L8.82177 15.6587C9.12867 15.617 9.28216 15.5962 9.4295 15.6051C9.69691 15.6212 9.95525 15.7083 10.1779 15.8574C10.3005 15.9396 10.41 16.0491 10.629 16.2681L10.8384 16.4774C12.097 17.736 12.7262 18.3652 13.3938 18.3324C13.5778 18.3234 13.7587 18.2807 13.9273 18.2065C14.5391 17.9373 14.8205 17.0931 15.3833 15.4046Z" stroke="white" stroke-width="1.25"/>
                <path opacity="0.5" d="M5.80078 15L18.3008 2.5" stroke="white" stroke-width="1.25" stroke-linecap="round"/>
                </g>
                <defs>
                <clipPath id="clip0_156_9775">
                <rect width="20" height="20" fill="white" transform="translate(0.800781)"/>
                </clipPath>
                </defs>
              </svg>                                                
              Enviar por email
            </button>
          </div>

          <div class="mt-8">
            <h2 class="text-sm inter font-semibold">Observações internas</h2>
            <textarea class="w-full rounded-lg border-blue text-sm mt-2 inter p-2" name="comments" id="comments" cols="4" rows="6"></textarea>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-masker/1.1.0/vanilla-masker.min.js"></script>
<script>
  function alertMessage(type, content) {
    if (type == 'error') {
      const divMessage = document.querySelector(".error");
      divMessage.style.display = "flex";
      divMessage.innerHTML = "";
      const message = document.createElement("p");
      const img = document.createElement("img");
      img.width = "28"
      img.height = "28"
      img.src = "/img/platform/notify-error.png"
      message.classList.add("message-notify");
      message.innerText = content;
      divMessage.appendChild(img);
      divMessage.appendChild(message);

      setTimeout(() => {
        divMessage.style = "animation: slideoff 2s;"
        setTimeout(() => {
          divMessage.style = "display: none"
        }, 800)
      }, 2000);
    } else if (type == "success") {
      const divMessage = document.querySelector(".alert");
      divMessage.style.display = "flex";
      divMessage.innerHTML = "";
      const message = document.createElement("p");
      const img = document.createElement("img");
      img.width = "28"
      img.height = "28"
      img.src = "/img/platform/notify-success.png"
      message.classList.add("message-notify");
      message.innerText = content;
      divMessage.appendChild(img);
      divMessage.appendChild(message);

      setTimeout(() => {
        divMessage.style = "animation: slideoff 2s;"
        setTimeout(() => {
          divMessage.style = "display: none"
        }, 800)
      }, 2000);
    }
  }

  function formatCEP(input) {
    const value = input.value.replace(/\D/g, '').substring(0, 8);

    if (value.length > 5) {
      input.value = value.substring(0, 5) + '-' + value.substring(5);
    } else {
      input.value = value;
    }
  }

  function newTechnician() {
    const name = document.querySelector("#name")
    const cpf = document.querySelector("#cpf")
    const email = document.querySelector("#email")
    const password = document.querySelector("#password")
    const phone = document.querySelector("#phone")
    const city = document.querySelector("#city")
    const address = document.querySelector("#address")
    const cep = document.querySelector("#cep")
    const cnh = document.querySelector("#cnh")
    const car_model = document.querySelector("#car-model")
    const car_plate = document.querySelector("#car-plate")
    const car_color = document.querySelector("#car-color")
    const comments = document.querySelector("#comments")

    if (name.value.length == 0) {
      name.style = "border: 1px solid #e00d0d !important"
      return
    }

    if (cpf.value.length == 0) {
      cpf.style.border = "1px solid #e00d0d";
      return
    }

    if (email.value.length == 0) {
      email.style.border = "1px solid #e00d0d";
      return
    }

    if (password.value.length == 0) {
      password.style.border = "1px solid #e00d0d";
      return
    }

    if (phone.value.length == 0) {
      phone.style.border = "1px solid #e00d0d";
      return
    }

    if (city.value == "select") {
      city.style.border = "1px solid #e00d0d";
      return
    }

    if (address.value.length == 0) {
      address.style.border = "1px solid #e00d0d";
      return
    }

    if (cep.value.length == 0) {
      cep.style.border = "1px solid #e00d0d";
      return
    }

    fetch('/admin/new-technician/save', {
      method: 'POST',
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({name: name.value, cpf: cpf.value, email: email.value, password: password.value, phone: phone.value, city: city.value, address: address.value, cep: cep.value, cnh: cnh.value, car_model: car_model.value, car_plate: car_plate.value, car_color: car_color.value, comments: comments.value})
    })
    .then((response) => {
      if (response.ok) {
        alertMessage("success", "Técnico adicionado com sucesso.")
      } else {
        alertMessage("error", "Erro ao adicionar técnico")
      }
    })
    .catch((error) => {
      alertMessage("error", "Tente novamente mais tarde")
    })
  }

  cep.addEventListener("input", function() {
    formatCEP(cep)
  })

  document.querySelector("#cpf").addEventListener('input', function (e) {
    var cpfValue = e.target.value.replace(/\D/g, '');

    if (cpfValue.length > 11) {
      cpfValue = cpfValue.slice(0, 11);
    }

    var x = cpfValue.match(/(\d{0,3})(\d{0,3})(\d{0,3})(\d{0,2})/);
    e.target.value = !x[2] ? x[1] : x[1] + '.' + x[2] + '.' + x[3] + '-' + x[4];
  });

  window.addEventListener('DOMContentLoaded', function () {
    VMasker(document.getElementById('phone')).maskPattern('(99) 99999-9999');
  });
</script>
</html>